
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


    .clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}
    
    * {font-family:'Roboto Condensed';}



.container {
		width: 90%;
		margin: 0 auto;}
		


.container_center {
			width: 90%;
			margin: 0 auto;}

.container_center img {
	width: 100%;
}


 .row {
	    	height: auto;
	    	margin: 3% auto 3% auto;
	    	width: 100%;   
	    	clear: both;
	    }		


	    .col_s1 {
    	width: 10%;
    	float: left;
	    }

	   .col_s2 {
	   	width: 20%;
	   	float: left;
	   }
	   
	    .col_s3
	    {width: 30%;
	    float: left;}

	    .col_s4 {
	    width: 40%;
	    float: left;
	    }
		
		.col_s5
		{width: 50%;
		float: left;}

		.col_s6
		{width: 60%;
		float: left;}

		.col_s61 
		  {width: 60%;
		  float: left;
		  padding-left: 10%;}

		 .col_s7
		 {width: 70%;
		 float: left;}

		  .col_s8
		 {width: 80%;
		 float: left;}

        .padleft2em {
			padding-left: 2em;
		}
		 .padleft3em {
			padding-left: 3em;
		}

		 .padleft4em {
		 	padding-left: 4em;
		 }

		  .padleft5em {
		 	padding-left: 5em;
		 }

		  .padleft6em {
		 	padding-left: 6em;
		 }
		
		.padbot1em {
			padding-bottom: 1em;
		}
	

    	#borderright {
    		border-right: 1px black solid;
    		box-sizing: border-box;
    	}


  a#bloc_p {
      	color: gray; 
     	text-decoration: none;
        font-family:'Roboto Condensed'; 
        font-weight: 100;
        font-size: 1.2em;
	    padding-top: 1.5em;
	    padding-right: 1em;
	    padding-left: 1em;
	    padding-bottom: 1.5em;
		}
	

	    #bloc_p a{
	    	text-decoration: none;
	    	cursor: pointer;
	    }
      
    
	    #bloc_p:hover {color: #65FAC3;}  		

   #icon {
        	cursor: pointer;
			position: fixed;
			width: 2em;
			top: .6em;
			right: 1em;}
	

nav.projectMenu {
		display: none;
		background: white;
		color: gray;
      	width: 100%;
        position: fixed; /*with position relative it has a shadow, without, it doesnt  WTF??*/
        /*position: fixed; top: 0%; left: 0%; */
        top:0;
      	text-decoration: none;
      	margin: 0 auto;
      	padding: 1em 5em 1em 1em;
      	text-align: left;
      	-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;
      	box-sizing: border-box;
     }  

     	#charlieproj
     	{width: 100%;
     		background-color: white;}
     
     .container_centerlaptop {
     	background-image: url("../img/laptop-mockup.png");
     	background-repeat: no-repeat;
     	background-size: 100%;
       position: relative;
    /*   background-color: white;*/
     	width: 90%;
     	margin: 2% auto 10% auto;
     /*	height: 650px;*/  /*i need to set this to percentage eventually??, but it wants to collapse*/
       padding: 27% 0;}   


      #charlie_scroll {
        position: absolute;
      	top: .3em;
      	width: 75.6%;
     	overflow-y: scroll;
        white-space: nowrap;
        margin: 3% 0 3% 12.5%;
        height: 78%;
     }

      .container_centerlaptop img{
      	width: 100%;
}

      #charlie_title h3 {
			font-family: 'Source Sans Pro';
			font-weight: 700;
			font-style: italic;
			color: #438A91;
			font-size: 2.5em;
			margin-left: 6rem;
			padding-top: 1em;

		}  
      
		#allproj  {
	    	    /*#9DD6D8*/
		   	width: 100%;
		   /*-webkit-box-shadow: 12px 10px 37px -6px rgba(214,214,214,1);
			-moz-box-shadow: 12px 10px 37px -6px rgba(214,214,214,1);
			box-shadow: 12px 10px 37px -6px rgba(214,214,214,1);*/
		   /*	border-radius: 2%;*/
		   }

      #allproj h2{
        	font-family: 'Roboto';
        	color: black;   /*#523F6C*/
        	font-size: 2em;
        	margin-top: 1em;
        	padding: 1em;
        	border-bottom: gray solid;   /*#685187*/
        	font-weight: 700;
        }

     #allproj2 h2{
        	font-family: 'Roboto';
        	color: black;   /*#523F6C*/
        	font-size: 2em;
        	margin-top: 1em;
        	padding: 1em;
        	border-bottom: black solid;   /*#685187*/
        	font-weight: 700;
        }

 #allproj3 h2{
        	font-family: 'Roboto';
        	color: white;   /*#523F6C*/
        	font-size: 2em;
        	margin-top: 1em;
        	padding: 1em;
        	border-bottom: white solid;   /*#685187*/
        	font-weight: 700;
        }



		#scroll_title {font-family: 'Roboto';
			font-weight: 500;
			color: black;
			font-size: 2em;
			padding-top: 4rem;
			text-align: right;
			display: inline-block;
			margin: 0 auto;
			} 




			#scroll_title2 {font-family: 'Roboto';
			font-weight: 400;
			font-style: italic;
			color: gray;
			font-size: 1.5em;
			padding-right: 6rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			text-align: right;
			/*background-color: honeydew;*/} 

       .row2 {
	    	height: auto;
	    /*	padding-top: 3%;*/
	    	margin: 3% auto 3% auto;
	    	margin-bottom: 3%;
	    	width: 100%;   /*was 80%*/
	    	clear: both;
	    }
		
	
        a#nav2 {
      	color: gray;
     	text-decoration: none;
        font-family:'Roboto Condensed'; 
        font-weight: 100;
        font-size: 1.2em;
	    padding-top: 1.5em;
	    padding-right: 1em;
	    padding-left: 1em;
	    padding-bottom: 1.5em;
		/*border: 1px rgba(13,29,69,0.2) dashed;*/}
	

	    #nav2 a{
	    	text-decoration: none;
	    	cursor: pointer;
	    }
      

	    #bloc_p:hover {color: #65FAC3;}
		
		 body#projects {
			background-color: #EEEEEE;
			 font-size: 16px;
			max-width: 1200px;
			margin: 0 auto;}


			

			.row.pagestyle {
		    	margin: 5% auto 2% auto;
		    /*	background: white;*/
		    	/*border-radius: 2%;*/
		    }
			
			h5 {
				font-family: 'Roboto Condensed';
				font-weight: 500;
				font-style: italic;
				font-size: 2em;}

		

			.slyde {
			
			width: 100%;
			background-color: white;

			}
			
			#slyde1 {
				background-color: honeydew;
			}	
			#slyde1b {
				background-color: white;
			}
			#slyde2 {
				background-color: #248D5E;
				
			}
			
			#slyde2 h3 {
				background-color: #248D5E;
			}
			
			#slyde2b {
				background-image: url("../img/featureanalysischarlie2.png");
				background-size: 100%;

			}

			#heuristiccontainer{
				/*background: rgba(18,18,18,.5);*/
        		width: 70%;
        		margin: 0 auto;
			}


			#slyde3 {
				background-color: white;
			}

			#slyde3b {
				background-color: white;
			}
			
			#slyde3b img {
				width: 80%;
				margin: 0 auto;
				padding-left: 2em;
			}


			#slyde4
			{background-color: #F2FBFB;}





			.slyde h3 {
				font-family: 'Roboto';
				font-weight: 700;
				font-style: italic;
				text-align: center;
				font-size: 2.5em;
				padding: 1em 0 0 0;
				/*border-bottom: .1em black solid;*/
				margin: 0 auto;
				width: 20%;

			}


			#charlieoverview h3 {
				font-family: 'Roboto';
				font-weight: 700;
				font-style: italic;
				text-align: center;
				font-size: 2.5em;
				padding: 1em 0 0 0;
				/*border-bottom: .1em black solid;*/
				margin: 0 auto;
				width: 20%;
			}


			section#charlie_summary {
				background-color: #3B3B3B;  /*#FFFDF3*/
				padding-left: 1.5em;
				padding-bottom: 2em;
				margin: 0 auto;
			}


			#meetingcharlie {
				background-color: #248D5E;
			}

		
		#icon5 {
			padding-top: 15%;
			/*float: left;*/
			/*margin: 5%;*/
			clear: both;
			width: 30%;
			margin: 0 auto;
			/*height: 75px;*/
		/*	border: 1px gray solid;*/}


		#icon3 {
			margin-top: 2%;
			float: right;
			margin-right: 10%;
			clear: both;
			width: 30%;
			/*height: 75px;*/
		/*	border: 1px gray solid;*/}

		div#icon img {
			width: 100%;
		}

		#icon2 {
			margin-top: 1%;
			float: right;
			margin-right: 10%;
			clear: both;
			width: 30%;
			/*height: 75px;*/
		/*	border: 1px gray solid;*/}

		div#icon2 img {
			width: 100%;
		}


		.row3 {
	    	margin: 3% auto 8% auto;
	    	width: 100%;   /*was 80%*/
	    	clear: both;
	    }
		
		.row4 {
	    	margin: 8% auto 8% auto;
	    	width: 100%;   /*was 80%*/
	    	clear: both;
	    }
		

	    .centerwrapper {
	    	width: 70%;
	    	margin: 0 auto;
	    }



			#charlie_section_title {
			font-family: 'Roboto';
			font-weight: 700;
			font-style: italic;
			color: black;
			font-size: 2.2em;
		    margin-left: 6em;
			padding: .8em;
		}    

		 /* .textbox {
             	border: 1px black solid;
             	margin-top: 2em;
             }*/
		#section_title {
			font-family: 'Roboto';
			font-weight: 500;
			font-style: italic;
			color: black;
			font-size: 2em;
		 /*	padding-left: 2em;*/
			padding-top: 1.5em;
			padding-bottom: .2em;
		}
		

		.sectionsubtitle {
			font-family: 'Roboto'; 
    		font-weight: 400;  
    		color: honeydew;
    		font-style: italic;
    		font-size: 1.3em;
    		padding-top: .5em;
    		padding-bottom: .2em;
    		display: inline-block;
    		line-height: 1.4em;}
    		
    		
		
		.sectiontext {
			font-family: 'Roboto Condensed';
    		font-size: 1.1em;
    		font-style: italic;
    		line-height: 1.4em;
    		font-weight: 400;
    		text-align: left;
    		color: black;
    		width: 100%;
    		display: inline-block;
    		margin-bottom: 1em;
    		margin-top: .3em;
    		}
		

		#userresearch_section_title	{
			font-family: 'Roboto';
			font-weight: 700;
			font-style: italic;
			color: black;
			font-size: 1.7em;
		 
			padding: 1.2em .8em .8em .8em;
		}

		#icon5 {
			padding-top: 15%;
			/*float: left;*/
			/*margin: 5%;*/
			clear: both;
			width: 30%;
			margin: 0 auto;
			/*height: 75px;*/
		/*	border: 1px gray solid;*/}


		#icon3 {
			margin-top: 2%;
			float: right;
			margin-right: 10%;
			clear: both;
			width: 30%;
			/*height: 75px;*/
		/*	border: 1px gray solid;*/}

		div#icon img {
			width: 100%;
		}

		#icon2 {
			margin-top: 1%;
			float: right;
			margin-right: 10%;
			clear: both;
			width: 30%;
			/*height: 75px;*/
		/*	border: 1px gray solid;*/}

		div#icon2 img {
			width: 100%;
		}


		.row3 {
	    	height: auto;
	    /*	padding-top: 3%;*/
	    	margin: 3% auto 3% auto;
	    	margin-bottom: 5%;
	    	width: 100%;   /*was 80%*/
	    	clear: both;
	    }
		
		
    	.title {
    		font-family: 'Source Sans Pro'; 
    		font-weight: 400;  
    		clear: both;
    		color: white;
    		font-size: 1.5em;
    		padding-top: .5em;
    		margin-bottom: 1em;}
    		

    	.text {
    		font-family: 'Roboto Condensed';
    		font-size: 1.3em;
    		line-height: 1.6em;
    		font-weight: 300;
    		/*padding: 0 3% 3% 3%;*/
    		clear: both;
    		text-align: left;
    		font-weight: 400;
    		color: black;
    		margin-bottom: 0.2em;
    		}
    		
    	.text p {
    		text-align: left;
    	}

    	body {font-size: 16px;}
    	

    	#last {
    		padding-bottom: 1em;
    	}

    	#white h2 {
    		color: white;
    	}
    	

    	.title2 {
    		font-family: 'Roboto'; 
    		font-weight: 500;  
    		clear: both;
    		color: white;
    		font-size: 1.7em;
    		/*padding-top: .5em;*/
    		padding-bottom: .3em;
    		display: inline-block;}
    		

    	.text2 {
    		font-family: 'Roboto';
    		font-size: 1.2em;
    		line-height: 1.4em;
    		font-weight: 300;
    		/*display: inline-block;*/
    		/*padding: 0 3% 3% 3%;*/
    		clear: both;
    		text-align: left;
    		font-weight: 400;
    		color: white;
    		margin-bottom: 0.2em;
    	
    		
    		}

           #section_title2 {
           	padding-top: 1.2em;
			padding-bottom: .2em;
			font-family: 'Roboto';
			font-weight: 500;
			font-style: italic;
			color: black;
			font-size: 1.7em;
		 /*	padding-left: 2em;*/
			
		}
    		.sectionsubtitle2 
    		{font-family: 'Roboto'; 
    		font-weight: 400;  
    		color: gray;
    		font-style: italic;
    		font-size: 1.3em;
    		padding-top: .5em;
    		line-height: 1.4em;
    		display: inline-block;
    		padding-bottom: .2em;
    		}


    	#darkul ul, li{
    		color: black;
    		list-style: disc;
            list-style-position: outside;
            margin-left: 2.6em;
			font-family: 'Roboto';
    		font-size: 1em;
    		line-height: 1.2em;
    		font-weight: 400;
    		padding: .5em .5em 0 0;
    		text-align: left;

    	}



	.whiteul ul, li {
            list-style: disc;
            list-style-position: outside;
            margin-left: 2.6em;
			font-family: 'Roboto';
    		font-size: 1em;
    		line-height: 1.4em;
    		font-weight: 400;
    		padding: .5em .5em 0 0;
    		color: white;
    		text-align: left;}

    		.whiteul li {
            list-style: disc;
            list-style-position: outside;
            margin-left: 2.6em;
			font-family: 'Roboto';
    		font-size: 1em;
    		line-height: 1.4em;
    		font-weight: 400;
    		padding: .5em .5em 0 0;
    		color: white;
    		text-align: left;}























    	body {font-size: 16px;}
    	

    	#last {
    		padding-bottom: 1em;
    	}

		#syneproj {
				background-image: url("../img/nybackdrop.png");
				background-size: 100%;
				width: 100%;}

			.container_center {
			width: 90%;
			margin: 0 auto;}

		#synephone img {
		/*	width: 80%;*/
			margin: 2% 11%;
			
		}	

    	#syneoverview {
				background: white;
				padding-bottom: 2em;
			}

			#syneoverview h3 {
				font-family: 'Roboto';
				font-weight: 700;
				font-style: italic;
				text-align: center;
				font-size: 2.5em;
				padding: 1em 0 0 0;
				/*border-bottom: .1em black solid;*/
				margin: 0 auto;
				width: 20%;
			}
				
			#synelink {
				width: 20%;
				padding: 2em 1em 1em 1em;
				margin: 0 auto;
			}

			#synelink a, #synelink2 a{
				text-align: center;
				text-decoration: none;
				font-family: 'Roboto';
				font-size: 1em;
				font-weight: 700;
				
			}

			#synelink2 {
				width: 20%;
				padding: 0 1em 1em 1em;
				margin: 0 auto;

			}

			.slyde2 {
			
			width: 100%;
		

			}

			#slyne1 {
				background-color: snow;
			}	

			#slyne2 {
				background-color: aliceblue;
				
			}
			
			
			#slyne3 {
				background-color: white;
			}

			#slyne4 {
				background-color: white;
			}

	    	#syne_title h3 {
			font-family: 'Roboto Condensed';
			font-weight: 700;
			font-style: italic;
		    color: #EC5C57;
			font-size: 2.5em;
			margin-left: 2em;
			padding-top: 1em;
		}    

		
		
		#arjun
		{width: 100%;
			background-image: url("../img/arjunme.png");
			background-size: 100%;
			padding-bottom: 30%;

			}	

		#arjun h4 {
			font-family: 'Roboto';
			font-size: 2em;
			font-weight: 600;
		
			width: 20%;
			padding: 1em;
			margin: 2% auto;
			text-align: center;

		}
		#arjun h6 {
			font-family: 'Roboto';
			font-size: 1.7em;
			font-weight: 500;
			font-style: none;
			padding: 1em;
			margin: 2% auto;
			text-align: left;

		}
	

		 
		





		#NYU_title h3 {
			font-family: 'Roboto';
			font-weight: 700;
			font-style: italic;
			color: #4D155E;
			font-size: 2.5em;
			margin-left: 2em;
			padding-top: 1em;
		}    


			#NYU_title
			{
				width: 100%;
				}


/* media queries media queries media queries*/
		 @media only screen and (max-width: 1220px) {
		 	/*nav {width:14%;}*/
		 	body#home {
		 		font-size: 15px;
		 	}
		 	   #charlie_scroll {
    
		      	top: .3em;
		      	width: 75.6%;
		     	overflow-y: scroll;
		        white-space: nowrap;
		        margin: 3% 0 3% 12.5%;
		        height: 78%;}
		}	 	


		@media only screen and (max-width: 1180px) {
		 	/*nav {width:14%;}*/
		 	body#home {
		 		font-size: 15px;
		 	}
		 	   
}

		@media only screen and (max-width: 1150px) {
		 	/*nav {width:14%;}*/
		 	body#home {
		 		font-size: 15px;
		 	}
		 	  
		}	 	
        
        @media only screen and (max-width: 1120px) {
		 	/*nav {width:14%;}*/
		 	body#home {
		 		font-size: 15px;
		 	}
		 	   
		}	 	


         @media only screen and (max-width: 1100px) {
		 	/*nav {width:15%;}*/
		 	body#home {
		 		font-size: 14px;}

		 		
		 	}
		 	
		 	 @media only screen and (max-width: 1060px) {
		 	/*nav {width:15%;}*/
		 	body#home {
		 		font-size: 14px;}
		 		
		 	}


		 	 @media only screen and (max-width: 1020px) {
		 	/*nav {width:15%;}*/
		 	body#home {
		 		font-size: 14px;}
		 	
		 	}
	   
	    @media only screen and (max-width: 960px) {
		  /*  nav {width:14%;}*/
		    body#home {
		 		font-size: 14px;
		 	}
		   
	    
			}


		@media only screen and (max-width: 900px) {
		  /*  nav {width:14%;}*/
		    body#home {
		 		font-size: 14px;
		 	}
		  
				}	
		

		@media only screen and (max-width: 860px) {
			/*nav {width:15%;}*/
			body#home {
		 		font-size: 14px;
		 	}
	     	 .container_centerlaptop {
		     	background-image: url("../img/syne_tablet.png");
		     	background-repeat: no-repeat;
		     	background-size: 100%;
		        position: relative;
		     	width: 90%;
		     	margin: 2% auto;
		     	padding: 56% 0;}  
		   
			#charlie_scroll {
		        position: absolute;
		      	top: .3em;
		      	width: 70.6%;
		     	overflow-y: scroll;
		        white-space: nowrap;
		        margin: 11% 0 3% 15.5%;
		        height: 77%;
		     }
					
					}

		@media only screen and (max-width: 650px) {
			 /* nav {width:18%;}*/
			  	body#home {
		 		font-size: 13px;
		 	}
			  	
					    
			}
		
		@media only screen and (max-width: 550px) {
			 /* nav {width:25%;}*/
			 
			    #bloc_p, #nav_p {font-size: .8em;}
			    p {font-size: 1em;}
				#top-row {
		 		margin-top: 20em;}
				
			}
		
		@media only screen and (max-width: 480px) {
			 /* nav {width:30%;}*/
			  
			     /*#bloc_p, #nav_p {display: none;}*/
			     p {font-size: 1em;}
			  
				#top-row {
			 		margin-top: 15em;}
				

		}
     
     @media only screen and (max-width: 320px) {
			 /* nav {width:30%;}*/
			  
			     /*#bloc_p, #nav_p {display: none;}*/
			     p {font-size: 1em;}
			  
				#top-row {
			 		margin-top: 15em;}
				

		}
