@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic);
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /*font-family:'Roboto Condensed'; */
      }
     

      h1 {
      	margin-top: 3em;
    	height: 2em;
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 500;
        color: white;
        padding: 13%;
        padding-bottom: 23%;
        text-align: center;
        font-size: 2.4em;
        background: rgba(90,76,166,0.58);
		background: -moz-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,76,166,0.58)), color-stop(100%, rgba(144,144,240,1)));
		background: -webkit-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -o-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -ms-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: linear-gradient(to right, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4ca6', endColorstr='#9090f0', GradientType=1 );
		      }
        
        
        nav {
        color: white;
        padding-left: 4%;
        padding-right: 2%;
        padding-bottom: 2%;
        width: 100%;
        text-align: right;
        margin: 0 auto;
        font-size: 15px;
        letter-spacing: 1px;	
        background: rgba(90,76,166,0.58);
		background: -moz-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,76,166,0.58)), color-stop(100%, rgba(144,182,240,1)));
		background: -webkit-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: -o-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: -ms-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: linear-gradient(to right, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4ca6', endColorstr='#90b6f0', GradientType=1);
        }

       span {float: left;}
     
      #nav_p {
        color: white;
        text-decoration: none;
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 200;
       font-size: 1.2em;
	    padding-top: .5em;
	    padding-right: 1em;
	    padding-left: 1em;
	    padding-bottom: 1em;
	    display: inline-block;
      }

      .container{
		width: 90%;}

		body {
		background-color: #F5F5F5;	
		/*background-image: url("../img/Desktop_blank.jpg");
		background-repeat: no-repeat;
		 background-size: 100%;*/
		}
		
		body#home {
		background-color: #F5F5F5;	
		background-image: url("../img/Desktop_blank.jpg");
		background-repeat: no-repeat;
		 background-size: 100%;
		}

		body img{
	        width: 100%;
	        margin: 0 auto;}

	    .header {
		 	/*float: left;*/
			width: 33%;
			margin-left: 13%;
	    }


	    h1#black {
	    	color: black;
	    	background: rgba(8,247,156,0.58);
	    }

	    .row_amanda {
	    	height: 100%;
	    }

	    .CTA
	    {border-radius: 4px;
	    	text-align: center;}

	   
		#gotomyprojects {
			width: 28%;
			margin-left: 14%;
			margin-top: 20%;
			text-align: center;
			padding: 2%;
			border: 1px rgba(114,251,217,.7); solid;
			background: rgba(98,0,234,.7);
			color: white;
			/*background: rgba(2,205,249,0.52);*/
			}

		/*p#seeprojects {
			color: white;
		}*/
		
		#keepreading {
			text-align: left;
			width: 28%;
			margin-left: 27%;
			padding: 1%;
		}
		#keepreading_p
		{/*color: gray;*/
			font-weight: 300;}

		div.float_left {
			float: left;
		}

		#quote_solid {
			width: 30%;
			margin: 0 auto;
			-webkit-transform: skew(-30deg);
		   -moz-transform: skew(-30deg);
		     -o-transform: skew(-30deg);
		     background: white;}
		
		#quote {
			width: 40%;
			margin: 0 auto;
			-webkit-transform: skew(-30deg);
		   -moz-transform: skew(-30deg);
		     -o-transform: skew(-30deg);
		     background: rgba(181,34,230,0.81);
			background: -moz-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,34,230,0.81)), color-stop(88%, rgba(41,184,229,0.83)), color-stop(100%, rgba(188,224,238,0.83)));
			background: -webkit-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -o-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -ms-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: linear-gradient(to right, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b522e6', endColorstr='#bce0ee', GradientType=1 );
					}
}

		#skew {
			margin-top: 8em;
    	/*height: 2em;*/
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 300;
        color: black;
        padding: 5% 5% 5% 5%;
       /* padding-bottom: 23%;*/
        text-align: center;
        font-size: 1em;
			-webkit-transform: skew(30deg);
		   -moz-transform: skew(30deg);
		     -o-transform: skew(30deg);

		}
		
		p {
    	/*height: 2em;*/
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 300;
        color: black;
       /* padding: 13%;
        padding-bottom: 23%;
        text-align: center;*/
        font-size: 1.5em;
    	/*background: white;*/
    }	
    	#margin_top {
    		margin-top: 3em;
    	}
    	#circle_me
    	{width:20%;
    		margin: 5% auto 0% auto;}

    	#summary
    	{float: right;}

    	#spectrum {
			width: 50%;
			height: 40px;
			float: right;
			/*margin-top: 2%;*/
		    background: rgba(181,34,230,0.81);
			background: -moz-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,34,230,0.81)), color-stop(88%, rgba(41,184,229,0.83)), color-stop(100%, rgba(188,224,238,0.83)));
			background: -webkit-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -o-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -ms-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: linear-gradient(to right, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b522e6', endColorstr='#bce0ee', GradientType=1 );
					}

		#question {
			/*margin-top: 5%;*/
			float: right;
			clear: both;
			width: 100%;
			height: 40px;
			font-weight: 800;
			text-align: right;
			border: 2px black solid;}
		


		#icon {
			/*margin-top: 5%;*/
			float: right;
			clear: both;
			width: 20%;
			/*height: 75px;*/
		/*	border: 1px gray solid;*/}

		div#icon img {
			height: 100%;
		}

		/*#icon h5,p {
			text-align: right;}*/
		

    /*	#writing {
    		margin-top: 10%;}*/

    	.title {padding: 5px;
    		clear: both;}

    	.text {
    		background: white;
    		padding: 5px;
    		clear: both;
    		text-align: left;
    		}

    	.text p {
    		text-align: left;
    	}

    	.card-panel.hoverable img {
    		width: 100%;
    	}

		 #orange{
			width: 200px;
			height: 400px;
			background-color: orange;
			-webkit-box-shadow: 10px 10px 91px 0px rgba(196,136,33,0.59);
			-moz-box-shadow: 10px 10px 91px 0px rgba(196,136,33,0.59);
			box-shadow: 10px 10px 91px 0px rgba(196,136,33,0.59);}

/* borrowed from materialize borrowed  from materialize borrowed  from materialize borrowed from materialize */

	    .z-depth-0 {
		  box-shadow: none !important; }

		.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
		  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

		.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
		  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

		.z-depth-2 {
		  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

		.z-depth-3 {
		  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

		.z-depth-4, .modal {
		  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

		.z-depth-5 {
		  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

		.hoverable:hover {
		  transition: box-shadow .25s;
		  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }    


/* colors*/

						.teal.lighten-2 {
						  background-color: #4db6ac !important; }


/* what is this??????????*/
.lean-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity; }


		  .row {
										  margin-left: auto;
										  margin-right: auto;
										  margin-bottom: 20px; }
										  .row:after {
										    content: "";
										    display: table;
										    clear: both; }
										  .row .col {
										    float: left;
										    -webkit-box-sizing: border-box;
										    -moz-box-sizing: border-box;
										    box-sizing: border-box;
										    padding: 0 0.75rem; }
										    .row .col[class*="push-"], .row .col[class*="pull-"] {
										      position: relative; }
										    .row .col.s1 {
										      width: 8.33333%;
										      margin-left: 0; }
										    .row .col.offset-s1 {
										      margin-left: 8.33333%; }
										    .row .col.pull-s1 {
										      right: 8.33333%; }
										    .row .col.push-s1 {
										      left: 8.33333%; }
										    .row .col.s2 {
										      width: 16.66667%;
										      margin-left: 0; }
										    .row .col.offset-s2 {
										      margin-left: 16.66667%; }
										    .row .col.pull-s2 {
										      right: 16.66667%; }
										    .row .col.push-s2 {
										      left: 16.66667%; }
										    .row .col.s3 {
										      width: 25%;
										      margin-left: 0; }
										    .row .col.offset-s3 {
										      margin-left: 25%; }
										    .row .col.pull-s3 {
										      right: 25%; }
										    .row .col.push-s3 {
										      left: 25%; }
										    .row .col.s4 {
										      width: 33.33333%;
										      margin-left: 0; }
										    .row .col.offset-s4 {
										      margin-left: 33.33333%; }
										    .row .col.pull-s4 {
										      right: 33.33333%; }
										    .row .col.push-s4 {
										      left: 33.33333%; }
										    .row .col.s5 {
										      width: 41.66667%;
										      margin-left: 0; }
										    .row .col.offset-s5 {
										      margin-left: 41.66667%; }
										    .row .col.pull-s5 {
										      right: 41.66667%; }
										    .row .col.push-s5 {
										      left: 41.66667%; }
										    .row .col.s6 {
										      width: 50%;
										      margin-left: 0; }
										    .row .col.offset-s6 {
										      margin-left: 50%; }
										    .row .col.pull-s6 {
										      right: 50%; }
										    .row .col.push-s6 {
										      left: 50%; }
										    .row .col.s7 {
										      width: 58.33333%;
										      margin-left: 0; }
										    .row .col.offset-s7 {
										      margin-left: 58.33333%; }
										    .row .col.pull-s7 {
										      right: 58.33333%; }
										    .row .col.push-s7 {
										      left: 58.33333%; }
										    .row .col.s8 {
										      width: 66.66667%;
										      margin-left: 0; }
										    .row .col.offset-s8 {
										      margin-left: 66.66667%; }
										    .row .col.pull-s8 {
										      right: 66.66667%; }
										    .row .col.push-s8 {
										      left: 66.66667%; }
										    .row .col.s9 {
										      width: 75%;
										      margin-left: 0; }
										    .row .col.offset-s9 {
										      margin-left: 75%; }
										    .row .col.pull-s9 {
										      right: 75%; }
										    .row .col.push-s9 {
										      left: 75%; }
										    .row .col.s10 {
										      width: 83.33333%;
										      margin-left: 0; }
										    .row .col.offset-s10 {
										      margin-left: 83.33333%; }
										    .row .col.pull-s10 {
										      right: 83.33333%; }
										    .row .col.push-s10 {
										      left: 83.33333%; }
										    .row .col.s11 {
										      width: 91.66667%;
										      margin-left: 0; }
										    .row .col.offset-s11 {
										      margin-left: 91.66667%; }
										    .row .col.pull-s11 {
										      right: 91.66667%; }
										    .row .col.push-s11 {
										      left: 91.66667%; }
										    .row .col.s12 {
										      width: 100%;
										      margin-left: 0; }
										    .row .col.offset-s12 {
										      margin-left: 100%; }
										    .row .col.pull-s12 {
										      right: 100%; }
										    .row .col.push-s12 {
										      left: 100%; }
										    @media only screen and (min-width : 601px) {
										      .row .col.m1 {
										        width: 8.33333%;
										        margin-left: 0; }
										      .row .col.offset-m1 {
										        margin-left: 8.33333%; }
										      .row .col.pull-m1 {
										        right: 8.33333%; }
										      .row .col.push-m1 {
										        left: 8.33333%; }
										      .row .col.m2 {
										        width: 16.66667%;
										        margin-left: 0; }
										      .row .col.offset-m2 {
										        margin-left: 16.66667%; }
										      .row .col.pull-m2 {
										        right: 16.66667%; }
										      .row .col.push-m2 {
										        left: 16.66667%; }
										      .row .col.m3 {
										        width: 25%;
										        margin-left: 0; }
										      .row .col.offset-m3 {
										        margin-left: 25%; }
										      .row .col.pull-m3 {
										        right: 25%; }
										      .row .col.push-m3 {
										        left: 25%; }
										      .row .col.m4 {
										        width: 33.33333%;
										        margin-left: 0; }
										      .row .col.offset-m4 {
										        margin-left: 33.33333%; }
										      .row .col.pull-m4 {
										        right: 33.33333%; }
										      .row .col.push-m4 {
										        left: 33.33333%; }
										      .row .col.m5 {
										        width: 41.66667%;
										        margin-left: 0; }
										      .row .col.offset-m5 {
										        margin-left: 41.66667%; }
										      .row .col.pull-m5 {
										        right: 41.66667%; }
										      .row .col.push-m5 {
										        left: 41.66667%; }
										      .row .col.m6 {
										        width: 50%;
										        margin-left: 0; }
										      .row .col.offset-m6 {
										        margin-left: 50%; }
										      .row .col.pull-m6 {
										        right: 50%; }
										      .row .col.push-m6 {
										        left: 50%; }
										      .row .col.m7 {
										        width: 58.33333%;
										        margin-left: 0; }
										      .row .col.offset-m7 {
										        margin-left: 58.33333%; }
										      .row .col.pull-m7 {
										        right: 58.33333%; }
										      .row .col.push-m7 {
										        left: 58.33333%; }
										      .row .col.m8 {
										        width: 66.66667%;
										        margin-left: 0; }
										      .row .col.offset-m8 {
										        margin-left: 66.66667%; }
										      .row .col.pull-m8 {
										        right: 66.66667%; }
										      .row .col.push-m8 {
										        left: 66.66667%; }
										      .row .col.m9 {
										        width: 75%;
										        margin-left: 0; }
										      .row .col.offset-m9 {
										        margin-left: 75%; }
										      .row .col.pull-m9 {
										        right: 75%; }
										      .row .col.push-m9 {
										        left: 75%; }
										      .row .col.m10 {
										        width: 83.33333%;
										        margin-left: 0; }
										      .row .col.offset-m10 {
										        margin-left: 83.33333%; }
										      .row .col.pull-m10 {
										        right: 83.33333%; }
										      .row .col.push-m10 {
										        left: 83.33333%; }
										      .row .col.m11 {
										        width: 91.66667%;
										        margin-left: 0; }
										      .row .col.offset-m11 {
										        margin-left: 91.66667%; }
										      .row .col.pull-m11 {
										        right: 91.66667%; }
										      .row .col.push-m11 {
										        left: 91.66667%; }
										      .row .col.m12 {
										        width: 100%;
										        margin-left: 0; }
										      .row .col.offset-m12 {
										        margin-left: 100%; }
										      .row .col.pull-m12 {
										        right: 100%; }
										      .row .col.push-m12 {
										        left: 100%; } }
										    @media only screen and (min-width : 993px) {
										      .row .col.l1 {
										        width: 8.33333%;
										        margin-left: 0; }
										      .row .col.offset-l1 {
										        margin-left: 8.33333%; }
										      .row .col.pull-l1 {
										        right: 8.33333%; }
										      .row .col.push-l1 {
										        left: 8.33333%; }
										      .row .col.l2 {
										        width: 16.66667%;
										        margin-left: 0; }
										      .row .col.offset-l2 {
										        margin-left: 16.66667%; }
										      .row .col.pull-l2 {
										        right: 16.66667%; }
										      .row .col.push-l2 {
										        left: 16.66667%; }
										      .row .col.l3 {
										        width: 25%;
										        margin-left: 0; }
										      .row .col.offset-l3 {
										        margin-left: 25%; }
										      .row .col.pull-l3 {
										        right: 25%; }
										      .row .col.push-l3 {
										        left: 25%; }
										      .row .col.l4 {
										        width: 33.33333%;
										        margin-left: 0; }
										      .row .col.offset-l4 {
										        margin-left: 33.33333%; }
										      .row .col.pull-l4 {
										        right: 33.33333%; }
										      .row .col.push-l4 {
										        left: 33.33333%; }
										      .row .col.l5 {
										        width: 41.66667%;
										        margin-left: 0; }
										      .row .col.offset-l5 {
										        margin-left: 41.66667%; }
										      .row .col.pull-l5 {
										        right: 41.66667%; }
										      .row .col.push-l5 {
										        left: 41.66667%; }
										      .row .col.l6 {
										        width: 50%;
										        margin-left: 0; }
										      .row .col.offset-l6 {
										        margin-left: 50%; }
										      .row .col.pull-l6 {
										        right: 50%; }
										      .row .col.push-l6 {
										        left: 50%; }
										      .row .col.l7 {
										        width: 58.33333%;
										        margin-left: 0; }
										      .row .col.offset-l7 {
										        margin-left: 58.33333%; }
										      .row .col.pull-l7 {
										        right: 58.33333%; }
										      .row .col.push-l7 {
										        left: 58.33333%; }
										      .row .col.l8 {
										        width: 66.66667%;
										        margin-left: 0; }
										      .row .col.offset-l8 {
										        margin-left: 66.66667%; }
										      .row .col.pull-l8 {
										        right: 66.66667%; }
										      .row .col.push-l8 {
										        left: 66.66667%; }
										      .row .col.l9 {
										        width: 75%;
										        margin-left: 0; }
										      .row .col.offset-l9 {
										        margin-left: 75%; }
										      .row .col.pull-l9 {
										        right: 75%; }
										      .row .col.push-l9 {
										        left: 75%; }
										      .row .col.l10 {
										        width: 83.33333%;
										        margin-left: 0; }
										      .row .col.offset-l10 {
										        margin-left: 83.33333%; }
										      .row .col.pull-l10 {
										        right: 83.33333%; }
										      .row .col.push-l10 {
										        left: 83.33333%; }
										      .row .col.l11 {
										        width: 91.66667%;
										        margin-left: 0; }
										      .row .col.offset-l11 {
										        margin-left: 91.66667%; }
										      .row .col.pull-l11 {
										        right: 91.66667%; }
										      .row .col.push-l11 {
										        left: 91.66667%; }
										      .row .col.l12 {
										        width: 100%;
										        margin-left: 0; }
										      .row .col.offset-l12 {
										        margin-left: 100%; }
										      .row .col.pull-l12 {
										        right: 100%; }
										      .row .col.push-l12 {
										        left: 100%; } } 
					  .card-panel {
					  transition: box-shadow .25s;
					  padding: 20px;
					  margin: 0.5rem 0 1rem 0;
					  border-radius: 2px;
					  background-color: #fff; }

					.card {
					  position: relative;
					  margin: 0.5rem 0 1rem 0;
					  background-color: #fff;
					  transition: box-shadow .25s;
					  border-radius: 2px; }
					  .card .card-title {
					    font-size: 24px;
					    font-weight: 300; }
					    .card .card-title.activator {
					      cursor: pointer; }
					  .card.small, .card.medium, .card.large {
					    position: relative; }
					    .card.small .card-image, .card.medium .card-image, .card.large .card-image {
					      max-height: 60%;
					      overflow: hidden; }
					    .card.small .card-content, .card.medium .card-content, .card.large .card-content {
					      max-height: 40%;
					      overflow: hidden; }
					    .card.small .card-action, .card.medium .card-action, .card.large .card-action {
					      position: absolute;
					      bottom: 0;
					      left: 0;
					      right: 0;
					      z-index: 1;
					      background-color: inherit; }
					  .card.small {
					    height: 300px; }
					  .card.medium {
					    height: 400px; }
					  .card.large {
					    height: 500px; }
					  .card .card-image {
					    position: relative; }
					    .card .card-image img {
					      display: block;
					      border-radius: 2px 2px 0 0;
					      position: relative;
					      left: 0;
					      right: 0;
					      top: 0;
					      bottom: 0;
					      width: 100%; }
					    .card .card-image .card-title {
					      color: #fff;
					      position: absolute;
					      bottom: 0;
					      left: 0;
					      padding: 20px; }
					  .card .card-content {
					    padding: 20px;
					    border-radius: 0 0 2px 2px; }
					    .card .card-content p {
					      margin: 0;
					      color: inherit; }
					    .card .card-content .card-title {
					      line-height: 48px; }
					  .card .card-action {
					    border-top: 1px solid rgba(160, 160, 160, 0.2);
					    padding: 20px; }
					    .card .card-action a {
					      color: #ffab40;
					      margin-right: 20px;
					      -webkit-transition: color .3s ease;
					      -moz-transition: color .3s ease;
					      -o-transition: color .3s ease;
					      -ms-transition: color .3s ease;
					      transition: color .3s ease;
					      text-transform: uppercase; }
					      .card .card-action a:hover {
					        color: #ffd8a6; }
					  .card .card-reveal {
					    padding: 20px;
					    position: absolute;
					    background-color: #fff;
					    width: 100%;
					    overflow-y: auto;
					    top: 100%;
					    height: 100%;
					    z-index: 1;
					    display: none; }
					    .card .card-reveal .card-title {
					      cursor: pointer;
					      display: block; }


/* media queries media queries media queries*/

	    @media only screen and (max-width: 960px) {
		    h1 {
		    font-size: 2em;
		    margin-top: 2.4em;
			height: 1.9em;}
		    #nav_p {font-size: .9em;}
		    p{font-size: 1.4em;}
		    .header {
			width: 30%;
			margin-left: 13%;
			p {font-size: 1.4em;}
	    }
			}

		@media only screen and (max-width: 860px) {
			h1 {
			  font-size: 1.4em;
			  margin-top: 2.3em;
			  height: 1.8em;}
		    #nav_p {font-size: .8em;}
		    p, #keepreading_p{font-size: 1.2em;}
		    .header {width: 29%;
			margin-left: 13%;}
			p {font-size: 1.3em;}
			}

		@media only screen and (max-width: 650px) {
			  h1 {font-size: 1.2em;
			  	margin-top: 2.2em;
			    height: 1.5em;}
			  	#nav_p {font-size: .7em;}
			  	p, #keepreading_p{font-size: 1em;}
			  	.header {width: 28%;
			    margin-left: 13%;}
			    p {font-size: 1.2em;}
			}
		
		@media only screen and (max-width: 550px) {
			  h1 {font-size: 1em;
			  	margin-top: 2em;
			  	height: 1.4em;}
			  #nav_p {font-size: .6em;}
			  p, #keepreading_p{font-size: 1em;}
			  .header {width: 27%;
			margin-left: 13%;}	
			}
		
		@media only screen and (max-width: 480px) {
			  h1 {font-size: .8em;
			      margin-top: 1.8em;
			      height: 1.2em;}
			  #nav_p {display: none;}
			  p, #keepreading_p{font-size: 1em;}
			  .header {width: 27%;
			margin-left: 13%;}

		}