@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,700,900);
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:'Roboto Condensed';
      }
     

       

      h1#name {
      	margin-top: 3em;
    	height: 2em;
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 500;
        color: black;
        padding: 13%;
        padding-bottom: 23%;
        text-align: center;
        font-size: 2em;
        background: rgba(90,76,166,0.58);
		background: -moz-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,76,166,0.58)), color-stop(100%, rgba(144,144,240,1)));
		background: -webkit-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -o-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -ms-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: linear-gradient(to right, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4ca6', endColorstr='#9090f0', GradientType=1 );
		      }


		.purple {
      	margin-top: 2em;
    	height: 2em;
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 500;
        color: black;
        padding: 13%;
        padding-bottom: 23%;
        text-align: center;
        font-size: 2em;
        background: rgba(90,76,166,0.58);
		background: -moz-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,76,166,0.58)), color-stop(100%, rgba(144,144,240,1)));
		background: -webkit-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -o-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -ms-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: linear-gradient(to right, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4ca6', endColorstr='#9090f0', GradientType=1 );
		      }

        
      
		  
        
        h1 {
      /*	margin-top: 3em;*/
    	height: 1em;
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 500;
        color: white;
        padding: 5%;
        padding-bottom: 9%;
        text-align: center;
        font-size: 2.4em;}
        


        #purple {
        margin: 0 auto;	
        width: 50%;	
        background: rgba(90,76,166,0.58);
		background: -moz-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,76,166,0.58)), color-stop(100%, rgba(144,144,240,1)));
		background: -webkit-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -o-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: -ms-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		background: linear-gradient(to right, rgba(90,76,166,0.58) 0%, rgba(144,144,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4ca6', endColorstr='#9090f0', GradientType=1 );
		      }
        
        nav {
        color: white;
        padding-left: 4%;
        padding-right: 2%;
        padding-bottom: 2%;
        width: 100%;
        height: 60px;*/
        text-align: right;
        margin: 0 auto;
        font-size: 15px;
        letter-spacing: 1px;	
        background: rgba(90,76,166,0.58);
		background: -moz-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,76,166,0.58)), color-stop(100%, rgba(144,182,240,1)));
		background: -webkit-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: -o-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: -ms-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: linear-gradient(to right, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4ca6', endColorstr='#90b6f0', GradientType=1);
        }
	

        #purple_gradient {	
        background: rgba(90,76,166,0.58);
		background: -moz-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,76,166,0.58)), color-stop(100%, rgba(144,182,240,1)));
		background: -webkit-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: -o-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: -ms-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		background: linear-gradient(to right, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4ca6', endColorstr='#90b6f0', GradientType=1);
        }

       span {float: left;}
     

      #adi_p {
      color: white;
        text-decoration: none;
        font-family:'Megrim'; /*or Droid Sans*/
        font-weight: 400;
        font-size: 1.2em;
	    padding-top: 1em;
	    padding-right: 1em;
	    padding-left: 1em;
	    padding-bottom: 1em;
	    display: inline-block;
	    text-align: left;} 
          
      
		#nav_p {
        color: white;
        text-decoration: none;
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 200;
        font-size: 1.2em;
	    padding-top: 1em;
	    padding-right: 1em;
	    padding-left: 1em;
	    padding-bottom: 1em;
	    display: inline-block;
	    text-align: right;
	    float: right;
      }


      .container{
		width: 90%;
		margin: 0 auto;
		height: 100%;}

		.container #top-row
		{width: 100%;}

		.container.row
		{width: 100%;}

		.container2
		{background-image: url("../img/graph.png");
		/*background-color: #b2dfdb;*/
		/*background: rgba(55,200,219,0.59);
background: -moz-linear-gradient(left, rgba(55,200,219,0.59) 0%, rgba(39,189,209,0.49) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(55,200,219,0.59)), color-stop(100%, rgba(39,189,209,0.49)));
background: -webkit-linear-gradient(left, rgba(55,200,219,0.59) 0%, rgba(39,189,209,0.49) 100%);
background: -o-linear-gradient(left, rgba(55,200,219,0.59) 0%, rgba(39,189,209,0.49) 100%);
background: -ms-linear-gradient(left, rgba(55,200,219,0.59) 0%, rgba(39,189,209,0.49) 100%);
background: linear-gradient(to right, rgba(55,200,219,0.59) 0%, rgba(39,189,209,0.49) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37c8db', endColorstr='#27bdd1', GradientType=1 );*/
		width: 70%;
		margin: 0 auto;
		height: 100%;
		font-family: Roboto;}
		/*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/


		.container2 img
		{width: 100%}
			/*height: 100%;
*/
		.container2.row
		{width: 100%;
		margin: 0 auto;}

		body {
		background-color: #F5F5F5;	
		/*background-image: url("../img/Desktop_blank.jpg");*/
		background-repeat: no-repeat;
		 background-size: 100%;
		}
		


		body#home {
		background-color: #F5F5F5;	
		background-image: url("../img/new_order.png");
		/*background-image: url("../img/grid1b.png");*/
		background-repeat: no-repeat;
		 background-size: 100%;
		}


		body img{
	        width: 100%;
	        margin: 0 auto;}

	     .header {
		 	/*float: left;*/
			width: 32%;
			margin-left: 13%;
	    }

	    #teal {
	    	margin-top: 60%;
	    	border-radius: 4px;
	    	background: rgba(8,247,156,0.58);
	    }

	    h1#black {
	    	color: black;
	    	background: rgba(8,247,156,0.58);
	    }


	    #top-row {
	    	margin-top: 55em;
	    	margin-bottom: 3em;
	    	/*background-color: aliceblue;*/
	    }
	    .row {
	    	height: auto;
	    	margin-top: 5%;
	    /*	margin-bottom: 10%;*/
	    	width: 100%;
	    	clear: both;
	    }

	    .row #charlie {
	    	width: 60%
	    	margin: 0 auto;
	    }

	    .row_amanda {
	    	height: 100%;
	    	margin-top: 80%;
	    	margin-bottom: 15%;
	    }

	   .col_s2 {
	   	width: 20%;
	   	float: left;
	   }
	   
	    .col_s3
	    {width: 30%;
	    float: left;}
		
		.col_s5
		{width: 50%;
		float: left;}

		.col_s6
		{width: 60%;
		float: left;}

		.col_s5 img {
			width: 100%;
		}

		
		.clearfix:after 
		{ visibility: hidden;      
		display: block;      
		font-size: 0;      
		content: " ";      
		clear: both;      
		height: 0; }
		

		#quote_solid {
			width: 30%;
			/*height: 30px;*/
			margin: 0 auto;
			-webkit-transform: skew(-30deg);
		   -moz-transform: skew(-30deg);
		     -o-transform: skew(-30deg);
		     background: white;
		     border: 1px rgba(114,251,217,.7); solid;
			 /*background: rgba(98,0,234,.7);*/}
		


		 #fancy_purple   
		    {background: rgba(181,34,230,0.81);
			background: -moz-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,34,230,0.81)), color-stop(88%, rgba(41,184,229,0.83)), color-stop(100%, rgba(188,224,238,0.83)));
			background: -webkit-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -o-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -ms-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: linear-gradient(to right, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b522e6', endColorstr='#bce0ee', GradientType=1 );
					}


		#skew {
		/*	margin-top: 8em;*/
    	/*height: 2em;*/
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 300;
        color: black;
        padding: 5% 5% 5% 5%;
       /* padding-bottom: 23%;*/
        text-align: center;
        font-size: 1em;
			-webkit-transform: skew(30deg);
		   -moz-transform: skew(30deg);
		     -o-transform: skew(30deg);

		}
		
		p {
    	/*height: 2em;*/
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 300;
        color: black;
        font-size: 1.5em;
    	/*background: white;*/
    }	
    	
    	
    	#circle_me
    	{width:10%;
    	margin: 3% auto 3% auto;
    	border-radius: 50px;}

    	.circle {border-radius: 50px;
    		width: 100%;}

    	 .circle_me img {
    	 	width: 100%;
    	 	overflow: hidden;
    	 }

    	#summary
    	{float: right;}

    	#spectrum {
			width: 50%;
			height: 40px;
			float: right;
			/*margin-top: 2%;*/
		    background: rgba(181,34,230,0.81);
			background: -moz-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(181,34,230,0.81)), color-stop(88%, rgba(41,184,229,0.83)), color-stop(100%, rgba(188,224,238,0.83)));
			background: -webkit-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -o-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: -ms-linear-gradient(left, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			background: linear-gradient(to right, rgba(181,34,230,0.81) 0%, rgba(41,184,229,0.83) 88%, rgba(188,224,238,0.83) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b522e6', endColorstr='#bce0ee', GradientType=1 );
					}

		#question {
			/*margin-top: 5%;*/
			float: right;
			clear: both;
			width: 100%;
			height: 40px;
			font-weight: 800;
			text-align: right;
			border: 2px black solid;}
		


		#icon {
			margin-top: 2%;
			float: right;
			margin-right: 10%;
			clear: both;
			width: 20%;
			/*height: 75px;*/
		/*	border: 1px gray solid;*/}

		div#icon img {
			width: 100%;
		}

		
    	.title {padding: 3% 3% 3% 3%;
    		font-family: Roboto Condensed; 
    		font-weight: 400;   /*Montserrat*/
    		clear: both;
    		background: white;
    		margin-bottom: 3%;
    		color: black;
    		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
    		/*background: rgba(110,24,240,0.37);
background: -moz-linear-gradient(left, rgba(110,24,240,0.37) 0%, rgba(107,54,231,0.49) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(110,24,240,0.37)), color-stop(100%, rgba(107,54,231,0.49)));
background: -webkit-linear-gradient(left, rgba(110,24,240,0.37) 0%, rgba(107,54,231,0.49) 100%);
background: -o-linear-gradient(left, rgba(110,24,240,0.37) 0%, rgba(107,54,231,0.49) 100%);
background: -ms-linear-gradient(left, rgba(110,24,240,0.37) 0%, rgba(107,54,231,0.49) 100%);
background: linear-gradient(to right, rgba(110,24,240,0.37) 0%, rgba(107,54,231,0.49) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e18f0', endColorstr='#6b36e7', GradientType=1 );
    		*/

    	.text {
    		font-family: Roboto Condensed;
    		font-size: .9em;
    		line-height: 1.5em;
    		font-weight: 300;
    		padding: 3% 3% 3% 3%;
    		clear: both;
    		text-align: left;
    		font-weight: 300;
    		color: black;
    		margin-bottom: 1em;
    		background: white;
    	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
    		/*background: rgba(0,5,9,0.3)*/
/*background: -moz-linear-gradient(left, rgba(189,163,230,0.37) 0%, rgba(172,152,224,0.49) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,163,230,0.37)), color-stop(100%, rgba(172,152,224,0.49)));
background: -webkit-linear-gradient(left, rgba(189,163,230,0.37) 0%, rgba(172,152,224,0.49) 100%);
background: -o-linear-gradient(left, rgba(189,163,230,0.37) 0%, rgba(172,152,224,0.49) 100%);
background: -ms-linear-gradient(left, rgba(189,163,230,0.37) 0%, rgba(172,152,224,0.49) 100%);
background: linear-gradient(to right, rgba(189,163,230,0.37) 0%, rgba(172,152,224,0.49) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bda3e6', endColorstr='#ac98e0', GradientType=1 );*/
    		

    	.text p {
    		text-align: left;
    	}

    	.card-panel.hoverable img {
    		width: 100%;
    	}

		 #orange{
			background-color: orange;
			-webkit-box-shadow: 10px 10px 91px 0px rgba(196,136,33,0.59);
			-moz-box-shadow: 10px 10px 91px 0px rgba(196,136,33,0.59);
			box-shadow: 10px 10px 91px 0px rgba(196,136,33,0.59);}

		.orange_shadow {-webkit-box-shadow: 10px 10px 91px 0px rgba(196,136,33,0.59);
			-moz-box-shadow: 10px 10px 91px 0px rgba(196,136,33,0.59);
			box-shadow: 10px 10px 91px 0px rgba(196,136,33,0.59);}	



		.amandaparallax-container {
			position: relative;
		    overflow: hidden;
		    height: 100%; 
			z-index: -1;}
			}

/* borrowed from materialize borrowed  from materialize borrowed  from materialize borrowed from materialize */

	    
		.parallax-container {
		  position: relative;
		  overflow: hidden;
		  height: 500px; }

		.parallax {
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  z-index: -1; }
		  .parallax img {
		    display: none;
		    position: absolute;
		    left: 50%;
		    bottom: 0;
		    min-width: 100%;
		    min-height: 100%;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		    transform: translateX(-50%); }



.valign-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .valign-wrapper .valign {
    display: block; }





	    .z-depth-0 {
		  box-shadow: none !important; }

		.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
		  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

		.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
		  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

		.z-depth-2 {
		  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

		.z-depth-3 {
		  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

		.z-depth-4, .modal {
		  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

		.z-depth-5 {
		  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

		.hoverable:hover {
		  transition: box-shadow .25s;
		  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }    


/* colors*/

						.teal.lighten-2 {
						  background-color: #4db6ac !important; }


/* what is this??????????*/
.lean-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity; }


		  /*.row {
										  margin-left: auto;
										  margin-right: auto;
										  margin-bottom: 20px; }
										  .row:after {
										    content: "";
										    display: table;
										    clear: both; }
										  .row .col {
										    float: left;
										    -webkit-box-sizing: border-box;
										    -moz-box-sizing: border-box;
										    box-sizing: border-box;
										    padding: 0 0.75rem; }
										    .row .col[class*="push-"], .row .col[class*="pull-"] {
										      position: relative; }
										    .row .col.s1 {
										      width: 8.33333%;
										      margin-left: 0; }
										    .row .col.offset-s1 {
										      margin-left: 8.33333%; }
										    .row .col.pull-s1 {
										      right: 8.33333%; }
										    .row .col.push-s1 {
										      left: 8.33333%; }
										    .row .col.s2 {
										      width: 16.66667%;
										      margin-left: 0; }
										    .row .col.offset-s2 {
										      margin-left: 16.66667%; }
										    .row .col.pull-s2 {
										      right: 16.66667%; }
										    .row .col.push-s2 {
										      left: 16.66667%; }
										    .row .col.s3 {
										      width: 25%;
										      margin-left: 0; }
										    .row .col.offset-s3 {
										      margin-left: 25%; }
										    .row .col.pull-s3 {
										      right: 25%; }
										    .row .col.push-s3 {
										      left: 25%; }
										    .row .col.s4 {
										      width: 33.33333%;
										      margin-left: 0; }
										    .row .col.offset-s4 {
										      margin-left: 33.33333%; }
										    .row .col.pull-s4 {
										      right: 33.33333%; }
										    .row .col.push-s4 {
										      left: 33.33333%; }
										    .row .col.s5 {
										      width: 41.66667%;
										      margin-left: 0; }
										    .row .col.offset-s5 {
										      margin-left: 41.66667%; }
										    .row .col.pull-s5 {
										      right: 41.66667%; }
										    .row .col.push-s5 {
										      left: 41.66667%; }
										    .row .col.s6 {
										      width: 50%;
										      margin-left: 0; }
										    .row .col.offset-s6 {
										      margin-left: 50%; }
										    .row .col.pull-s6 {
										      right: 50%; }
										    .row .col.push-s6 {
										      left: 50%; }
										    .row .col.s7 {
										      width: 58.33333%;
										      margin-left: 0; }
										    .row .col.offset-s7 {
										      margin-left: 58.33333%; }
										    .row .col.pull-s7 {
										      right: 58.33333%; }
										    .row .col.push-s7 {
										      left: 58.33333%; }
										    .row .col.s8 {
										      width: 66.66667%;
										      margin-left: 0; }
										    .row .col.offset-s8 {
										      margin-left: 66.66667%; }
										    .row .col.pull-s8 {
										      right: 66.66667%; }
										    .row .col.push-s8 {
										      left: 66.66667%; }
										    .row .col.s9 {
										      width: 75%;
										      margin-left: 0; }
										    .row .col.offset-s9 {
										      margin-left: 75%; }
										    .row .col.pull-s9 {
										      right: 75%; }
										    .row .col.push-s9 {
										      left: 75%; }
										    .row .col.s10 {
										      width: 83.33333%;
										      margin-left: 0; }
										    .row .col.offset-s10 {
										      margin-left: 83.33333%; }
										    .row .col.pull-s10 {
										      right: 83.33333%; }
										    .row .col.push-s10 {
										      left: 83.33333%; }
										    .row .col.s11 {
										      width: 91.66667%;
										      margin-left: 0; }
										    .row .col.offset-s11 {
										      margin-left: 91.66667%; }
										    .row .col.pull-s11 {
										      right: 91.66667%; }
										    .row .col.push-s11 {
										      left: 91.66667%; }
										    .row .col.s12 {
										      width: 100%;
										      margin-left: 0; }
										    .row .col.offset-s12 {
										      margin-left: 100%; }
										    .row .col.pull-s12 {
										      right: 100%; }
										    .row .col.push-s12 {
										      left: 100%; }
										    @media only screen and (min-width : 601px) {
										      .row .col.m1 {
										        width: 8.33333%;
										        margin-left: 0; }
										      .row .col.offset-m1 {
										        margin-left: 8.33333%; }
										      .row .col.pull-m1 {
										        right: 8.33333%; }
										      .row .col.push-m1 {
										        left: 8.33333%; }
										      .row .col.m2 {
										        width: 16.66667%;
										        margin-left: 0; }
										      .row .col.offset-m2 {
										        margin-left: 16.66667%; }
										      .row .col.pull-m2 {
										        right: 16.66667%; }
										      .row .col.push-m2 {
										        left: 16.66667%; }
										      .row .col.m3 {
										        width: 25%;
										        margin-left: 0; }
										      .row .col.offset-m3 {
										        margin-left: 25%; }
										      .row .col.pull-m3 {
										        right: 25%; }
										      .row .col.push-m3 {
										        left: 25%; }
										      .row .col.m4 {
										        width: 33.33333%;
										        margin-left: 0; }
										      .row .col.offset-m4 {
										        margin-left: 33.33333%; }
										      .row .col.pull-m4 {
										        right: 33.33333%; }
										      .row .col.push-m4 {
										        left: 33.33333%; }
										      .row .col.m5 {
										        width: 41.66667%;
										        margin-left: 0; }
										      .row .col.offset-m5 {
										        margin-left: 41.66667%; }
										      .row .col.pull-m5 {
										        right: 41.66667%; }
										      .row .col.push-m5 {
										        left: 41.66667%; }
										      .row .col.m6 {
										        width: 50%;
										        margin-left: 0; }
										      .row .col.offset-m6 {
										        margin-left: 50%; }
										      .row .col.pull-m6 {
										        right: 50%; }
										      .row .col.push-m6 {
										        left: 50%; }
										      .row .col.m7 {
										        width: 58.33333%;
										        margin-left: 0; }
										      .row .col.offset-m7 {
										        margin-left: 58.33333%; }
										      .row .col.pull-m7 {
										        right: 58.33333%; }
										      .row .col.push-m7 {
										        left: 58.33333%; }
										      .row .col.m8 {
										        width: 66.66667%;
										        margin-left: 0; }
										      .row .col.offset-m8 {
										        margin-left: 66.66667%; }
										      .row .col.pull-m8 {
										        right: 66.66667%; }
										      .row .col.push-m8 {
										        left: 66.66667%; }
										      .row .col.m9 {
										        width: 75%;
										        margin-left: 0; }
										      .row .col.offset-m9 {
										        margin-left: 75%; }
										      .row .col.pull-m9 {
										        right: 75%; }
										      .row .col.push-m9 {
										        left: 75%; }
										      .row .col.m10 {
										        width: 83.33333%;
										        margin-left: 0; }
										      .row .col.offset-m10 {
										        margin-left: 83.33333%; }
										      .row .col.pull-m10 {
										        right: 83.33333%; }
										      .row .col.push-m10 {
										        left: 83.33333%; }
										      .row .col.m11 {
										        width: 91.66667%;
										        margin-left: 0; }
										      .row .col.offset-m11 {
										        margin-left: 91.66667%; }
										      .row .col.pull-m11 {
										        right: 91.66667%; }
										      .row .col.push-m11 {
										        left: 91.66667%; }
										      .row .col.m12 {
										        width: 100%;
										        margin-left: 0; }
										      .row .col.offset-m12 {
										        margin-left: 100%; }
										      .row .col.pull-m12 {
										        right: 100%; }
										      .row .col.push-m12 {
										        left: 100%; } }
										    @media only screen and (min-width : 993px) {
										      .row .col.l1 {
										        width: 8.33333%;
										        margin-left: 0; }
										      .row .col.offset-l1 {
										        margin-left: 8.33333%; }
										      .row .col.pull-l1 {
										        right: 8.33333%; }
										      .row .col.push-l1 {
										        left: 8.33333%; }
										      .row .col.l2 {
										        width: 16.66667%;
										        margin-left: 0; }
										      .row .col.offset-l2 {
										        margin-left: 16.66667%; }
										      .row .col.pull-l2 {
										        right: 16.66667%; }
										      .row .col.push-l2 {
										        left: 16.66667%; }
										      .row .col.l3 {
										        width: 25%;
										        margin-left: 0; }
										      .row .col.offset-l3 {
										        margin-left: 25%; }
										      .row .col.pull-l3 {
										        right: 25%; }
										      .row .col.push-l3 {
										        left: 25%; }
										      .row .col.l4 {
										        width: 33.33333%;
										        margin-left: 0; }
										      .row .col.offset-l4 {
										        margin-left: 33.33333%; }
										      .row .col.pull-l4 {
										        right: 33.33333%; }
										      .row .col.push-l4 {
										        left: 33.33333%; }
										      .row .col.l5 {
										        width: 41.66667%;
										        margin-left: 0; }
										      .row .col.offset-l5 {
										        margin-left: 41.66667%; }
										      .row .col.pull-l5 {
										        right: 41.66667%; }
										      .row .col.push-l5 {
										        left: 41.66667%; }
										      .row .col.l6 {
										        width: 50%;
										        margin-left: 0; }
										      .row .col.offset-l6 {
										        margin-left: 50%; }
										      .row .col.pull-l6 {
										        right: 50%; }
										      .row .col.push-l6 {
										        left: 50%; }
										      .row .col.l7 {
										        width: 58.33333%;
										        margin-left: 0; }
										      .row .col.offset-l7 {
										        margin-left: 58.33333%; }
										      .row .col.pull-l7 {
										        right: 58.33333%; }
										      .row .col.push-l7 {
										        left: 58.33333%; }
										      .row .col.l8 {
										        width: 66.66667%;
										        margin-left: 0; }
										      .row .col.offset-l8 {
										        margin-left: 66.66667%; }
										      .row .col.pull-l8 {
										        right: 66.66667%; }
										      .row .col.push-l8 {
										        left: 66.66667%; }
										      .row .col.l9 {
										        width: 75%;
										        margin-left: 0; }
										      .row .col.offset-l9 {
										        margin-left: 75%; }
										      .row .col.pull-l9 {
										        right: 75%; }
										      .row .col.push-l9 {
										        left: 75%; }
										      .row .col.l10 {
										        width: 83.33333%;
										        margin-left: 0; }
										      .row .col.offset-l10 {
										        margin-left: 83.33333%; }
										      .row .col.pull-l10 {
										        right: 83.33333%; }
										      .row .col.push-l10 {
										        left: 83.33333%; }
										      .row .col.l11 {
										        width: 91.66667%;
										        margin-left: 0; }
										      .row .col.offset-l11 {
										        margin-left: 91.66667%; }
										      .row .col.pull-l11 {
										        right: 91.66667%; }
										      .row .col.push-l11 {
										        left: 91.66667%; }
										      .row .col.l12 {
										        width: 100%;
										        margin-left: 0; }
										      .row .col.offset-l12 {
										        margin-left: 100%; }
										      .row .col.pull-l12 {
										        right: 100%; }
										      .row .col.push-l12 {
										        left: 100%; } } */
					  .card-panel {
					  transition: box-shadow .25s;
					  padding: 20px;
					  margin: 0.5rem 0 1rem 0;
					  border-radius: 2px;
					  background-color: #fff; }

					.card {
					  position: relative;
					  margin: 0.5rem 0 1rem 0;
					  background-color: #fff;
					  transition: box-shadow .25s;
					  border-radius: 2px; }
					  .card .card-title {
					    font-size: 24px;
					    font-weight: 300; }
					    .card .card-title.activator {
					      cursor: pointer; }
					  .card.small, .card.medium, .card.large {
					    position: relative; }
					    .card.small .card-image, .card.medium .card-image, .card.large .card-image {
					      max-height: 60%;
					      overflow: hidden; }
					    .card.small .card-content, .card.medium .card-content, .card.large .card-content {
					      max-height: 40%;
					      overflow: hidden; }
					    .card.small .card-action, .card.medium .card-action, .card.large .card-action {
					      position: absolute;
					      bottom: 0;
					      left: 0;
					      right: 0;
					      z-index: 1;
					      background-color: inherit; }
					  .card.small {
					    height: 300px; }
					  .card.medium {
					    height: 400px; }
					  .card.large {
					    height: 500px; }
					  .card .card-image {
					    position: relative; }
					    .card .card-image img {
					      display: block;
					      border-radius: 2px 2px 0 0;
					      position: relative;
					      left: 0;
					      right: 0;
					      top: 0;
					      bottom: 0;
					      width: 100%; }
					    .card .card-image .card-title {
					      color: #fff;
					      position: absolute;
					      bottom: 0;
					      left: 0;
					      padding: 20px; }
					  .card .card-content {
					    padding: 20px;
					    border-radius: 0 0 2px 2px; }
					    .card .card-content p {
					      margin: 0;
					      color: inherit; }
					    .card .card-content .card-title {
					      line-height: 48px; }
					  .card .card-action {
					    border-top: 1px solid rgba(160, 160, 160, 0.2);
					    padding: 20px; }
					    .card .card-action a {
					      color: #ffab40;
					      margin-right: 20px;
					      -webkit-transition: color .3s ease;
					      -moz-transition: color .3s ease;
					      -o-transition: color .3s ease;
					      -ms-transition: color .3s ease;
					      transition: color .3s ease;
					      text-transform: uppercase; }
					      .card .card-action a:hover {
					        color: #ffd8a6; }
					  .card .card-reveal {
					    padding: 20px;
					    position: absolute;
					    background-color: #fff;
					    width: 100%;
					    overflow-y: auto;
					    top: 100%;
					    height: 100%;
					    z-index: 1;
					    display: none; }
					    .card .card-reveal .card-title {
					      cursor: pointer;
					      display: block; }



img.responsive-img, video.responsive-video {
  max-width: 100%;
  height: auto; }


		      .video-container {
					  position: relative;
					  padding-bottom: 56.25%;
					  height: 0;
					  overflow: hidden; }
					  .video-container iframe, .video-container object, .video-container embed {
					    position: absolute;
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%; }



/* media queries media queries media queries*/
		 @media only screen and (max-width: 1020px) {
		 	#top-row {
		 		margin-top: 48em;}
		 	}

	    @media only screen and (max-width: 960px) {
		    h1 {
		    font-size: 1.2em;
		    margin-top: 2.3em;
			height: 1.9em;}
		    #nav_p {font-size: .9em;}
		    p{font-size: 1.4em;}
		    .header {
			width: 30%;
			margin-left: 13%;}
			p {font-size: 1.4em;}
			#top-row {
		 		margin-top: 40em;}
			#icon {
				width: 40%;
			}
	    
			}

		@media only screen and (max-width: 860px) {
			h1 {
			  font-size: 1.2em;
			  margin-top: 2.3em;
			  height: 1.8em;}
		    #nav_p {font-size: .8em;}
		    p, #keepreading_p{font-size: 1.2em;}
		    .header {width: 29%;
			margin-left: 13%;}
			p {font-size: 1.3em;}
			#top-row {
		 		margin-top: 30em;}
			#icon {
				width: 40%;
			}
			}

		@media only screen and (max-width: 650px) {
			  h1 {font-size: 1em;
			  	margin-top: 2.2em;
			    height: 1.5em;}
			  	#nav_p {font-size: .7em;}
			  	p, #keepreading_p{font-size: 1em;}
			  	.header {width: 28%;
			    margin-left: 13%;}
			    p {font-size: 1.2em;}
			    #top-row {
		 		margin-top: 25em;}
			    #icon {
				width: 60%;}
			}
		
		@media only screen and (max-width: 550px) {
			  h1 {font-size: 1em;
			  	margin-top: 2em;
			  	height: 1.4em;}
			    #nav_p {font-size: .6em;}
			    p, #keepreading_p{font-size: 1em;}
			    .header 
			    {width: 27%;
				margin-left: 13%;}
				#top-row {
		 		margin-top: 20em;}
				#icon {
					width: 60%;}	
			}
		
		@media only screen and (max-width: 480px) {
			  h1 {font-size: .8em;
			      margin-top: 1.8em;
			      height: 1.2em;}
			  #nav_p {display: none;}
			  p, #keepreading_p{font-size: 1em;}
			  .header {width: 27%;
			margin-left: 13%;}
			#top-row {
		 		margin-top: 15em;}
			#icon {
				width: 80%;}

		}