.css-grid-tile-wrapper {
  margin-top: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(78px, 1fr));
  grid-auto-rows: 55px;
}

.tile {
  padding: 13px 10px 10px 10px;
  /* height: 50px; */
  justify-content: space-between;
  display: flex;
  //   max-width: 150px;
  flex-direction: column;
  font-family: sans-serif;

  .title {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    font-family: SofiaPro-Bold;
    @media screen and (max-width: 450px) {
      font-size: 1.4rem;
    }
  }

  .number {
    font-size: 1.5rem;
  }
}

.alert-row-section {
  //   border-top: 1px $input-border solid;
  margin-top: 2rem;
}

.alert-row {
  // margin-top: 2rem;
  font-size: 13px;
  // border-top: 1px $input-border solid;
  border-top: 1px $input-border solid;
  letter-spacing: 0.2px;
  // .time-col {
  //     margin-right: 1.2rem;
  //     border-left: 4px orange solid;
  //     padding: 6px;
  // }

  .message-col {
    border-left: 4px var(--alerting-orange-background) solid;
    padding: 6px 9px;
  }

  .title {
    text-transform: capitalize;
    color: var(--alerting-title-text);
    font-family: SofiaPro-Bold;
  }

  .client-ticker {
    margin: 0 8px;
  }

  .actions-col {
    padding: 6px;
    margin-left: auto;
    @media screen and (max-width: 450px) {
      display: none;
    }
    .aicon-check {
      font-size: 16px;
    }
  }
}
