@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000312}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* line 33, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000333}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 37, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000337}}
body {
  line-height: 1;
}
/* line 40, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000340}}
ol,
ul {
  list-style: none;
}
/* line 43, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000343}}
blockquote,
q {
  quotes: none;
}
/* line 46, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000346}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 51, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000351}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 55, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000355}}
* {
  box-sizing: border-box;
}
/* line 58, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000358}}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 74, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000374}}
body {
  font-size: 14px;
  background-color: #D2D2D2;
  font-family: 'Roboto', sans-serif;
}
/* line 80, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000380}}
#contactWrapper {
  width: 548px;
  height: 630px;
  /*height: 60%;*/
  /*overflow: scroll;*/
  background-color: white;
  margin: 0 auto;
  position: relative;
}
/* line 94, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000394}}
.mdi-close {
  position: absolute;
  left: 510px;
  font-size: 17px;
  top: 5px;
  color: rgba(255, 255, 255, 0.9);
}
/* line 102, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003102}}
.bar {
  width: 100%;
  height: 30px;
  background-color: #0069CB;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  text-transform: uppercase;
}
/* line 128, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003128}}
.bar2 {
  width: 100%;
  height: 30px;
  background-color: #E5EBF3;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 105, 203, 0.8);
  padding-left: 5px;
  padding-top: 8px;
  text-transform: uppercase;
}
/* line 142, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003142}}
.eventBarText {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* line 148, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003148}}
.mdi-chevron-right {
  position: absolute;
  left: 220px;
  top: 2px;
  font-size: 18px;
  color: rgba(0, 105, 203, 0.7);
}
/* line 156, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003156}}
.mdi-chevron-left {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}
/* line 164, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003164}}
#bottomBarEnd,
#bottomBarCall {
  width: 548px;
  height: 40px;
  background-color: #e9ecf0;
  position: absolute;
  top: 590px;
  z-index: 2;
}
/* line 172, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003172}}
.counterText {
  position: absolute;
  top: 12px;
  left: 30px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 181, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003181}}
.leaveVoiceDrop {
  position: absolute;
  top: 13px;
  left: 495px;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(0, 105, 203, 0.8);
}
/* line 191, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003191}}
.leaveVoiceDrop:hover {
  cursor: pointer;
}
/* line 195, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003195}}
.voiceDropChoose {
  position: absolute;
  display: inline-block;
  top: -66px;
  left: 265px;
  width: 160px;
  text-align: left;
  background-color: white;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 209, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003209}}
.ulTitle {
  display: inline-block;
  width: 120px;
  position: absolute;
  top: 6px;
  left: 365px;
  background-color: #F8F9F9;
  text-align: left;
  padding: .5em 0 .5em .7em;
  color: #6b6b6b;
}
/* line 227, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003227}}
.voiceDropChoose li {
  padding: .5em 0 .5em .7em;
  color: rgba(0, 105, 203, 0.8);
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
/* line 238, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003238}}
.voiceDropChoose li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
/* line 247, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003247}}
.callButton {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 6px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  color: white;
  letter-spacing: .4px;
  background-color: #4AAEF9;
  background-color: #1565c0;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 100px;
}
/* line 268, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003268}}
#callPhoneButton {
  color: white;
  position: absolute;
  left: 260px;
  top: 8px;
  font-size: 28px;
}
/* line 276, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003276}}
.endCallButton {
  /*float: right;*/
  display: block;
  margin: 0 auto;
  position: relative;
  top: 6px;
  /*right: 50px;*/
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  color: white;
  letter-spacing: .4px;
  background-color: #1565c0;
  background-color: #f44336;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 100px;
}
/* line 304, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003304}}
.profileBar {
  width: 548px;
  height: 97px;
  padding-left: 26px;
  background-color: white;
}
/* line 311, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003311}}
.profileNameText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 22px;
  padding-top: 26px;
  display: inline-block;
}
/* line 320, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003320}}
.companyText {
  font-family: 'Roboto';
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1px;
  padding-top: .7em;
  display: inline-block;
}
/* line 329, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003329}}
.sectorText {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1px;
  padding-top: .3em;
  display: inline-block;
}
/* line 337, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003337}}
.iconProfileBar {
  position: relative;
  left: 330px;
  top: -45px;
}
/* line 343, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003343}}
.sectionBox {
  width: 239px;
  height: 135px;
  background-color: white;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 352, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003352}}
.sectionBox:hover {
  cursor: pointer;
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 363, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003363}}
.notesBox {
  margin-top: 15px;
  margin-left: 25px;
  width: 499px;
  height: 73px;
  background-color: white;
  clear: both;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 376, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003376}}
.readership {
  float: left;
  margin-top: 15px;
  margin-left: 25px;
}
/* line 382, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003382}}
.touchpoints {
  float: right;
  margin-top: 15px;
  margin-right: 25px;
}
/* line 389, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003389}}
.securities {
  float: left;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 396, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003396}}
.meetings {
  float: right;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 403, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003403}}
.sectionBoxTitle {
  text-transform: uppercase;
  color: rgba(0, 105, 203, 0.8);
  font-family: 'Roboto';
  font-size: 12px;
  letter-spacing: .1px;
  width: 100%;
  display: inline-block;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 5px;
  background-color: #e9ecf0;
  background-color: #E5EBF3;
}
/* line 427, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003427}}
.sectionNotesTitle {
  text-transform: uppercase;
  color: rgba(0, 105, 203, 0.9);
  font-family: 'Roboto';
  font-size: 12px;
  letter-spacing: .1px;
  /*border-bottom: .5px rgba(6, 113, 212, 0.4) solid;*/
  /*width: 100%;*/
  display: inline-block;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 5px;
}
/* line 442, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003442}}
.textWrapper {
  width: 95%;
  padding: 15px 0 0 15px;
}
/* line 448, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003448}}
.notesWrapper {
  width: 95%;
  padding: 5px 0 0 15px;
}
/* line 453, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003453}}
.innerTextTitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .1px;
  line-height: 1.2em;
  display: inline-block;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 464, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003464}}
.innerTextSubtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 472, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003472}}
.innerTextThird {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 481, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003481}}
.innerTextBottom {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  position: absolute;
  bottom: 6px;
}
/* line 493, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003493}}
.notesText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.54);
  /*display: inline-block;*/
  /*margin-top: 1em;*/
}
/*.iconsBottom {
	margin-left: 30px;
	margin-top: 12px;
}*/
/* line 510, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003510}}
.iconsProfile {
  width: 190px;
  height: 18px;
  float: right;
  position: relative;
  top: -30px;
  /*border: 1px black solid;*/
  margin-right: 25px;
}
/* line 520, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003520}}
.iconWrapperProfile {
  display: inline-block;
  padding-bottom: 1px;
  padding-right: 6px;
  font-family: 'Roboto';
  font-size: 13px;
}
/* line 528, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003528}}
.iconWrapperPhone {
  display: inline-block;
  position: relative;
  top: -2px;
  padding-right: 1px;
  font-family: 'Roboto';
  font-size: 13px;
  /*line-height: 1.5em;*/
}
/* line 539, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003539}}
.iconWrapperTriangle {
  display: inline-block;
  padding-bottom: 1px;
  padding-right: 2px;
  font-family: 'Roboto';
  font-size: 18px;
}
/* line 550, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003550}}
.iconsBottom2 {
  margin-left: 28px;
  margin-top: 12px;
  width: 500px;
  height: 41px;
}
/* line 558, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003558}}
.iconWrapper {
  font-family: 'Roboto';
  font-size: 11px;
  display: inline-block;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
/* line 570, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003570}}
.iconWrapper img {
  padding-bottom: 3px;
}
/* line 574, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003574}}
.spaceBetweenIcons {
  display: inline-block;
  width: 7%;
}
/* line 579, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003579}}
.mdi-email-outline,
.mdi-message-text {
  font-size: 18px;
}
/* line 583, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003583}}
.ibChat,
.mdi-email-outline {
  color: rgba(0, 105, 203, 0.3);
}
/* line 587, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003587}}
.ibChat:hover,
.mdi-email-outline:hover {
  color: rgba(0, 105, 203, 0.9);
}
/* line 591, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003591}}
.mdi-calendar,
.mdi-calendar-check,
.mdi-border-color,
.mdi-library-books,
.mdi-dots-horizontal {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
}
/* line 602, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003602}}
.overlay {
  width: 500px;
  height: 460px;
  /*background-image: url("readership.png");*/
  /*background-size: cover;*/
  position: absolute;
  z-index: 3;
  top: 130px;
  left: 25px;
  /*display: none;*/
}
/* line 615, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003615}}
.overlay img {
  width: 100%;
}
/* line 621, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003621}}
#readershipWrapper,
#touchpointWrapper,
#securitiesWrapper,
#meetingsWrapper {
  width: 500px;
  height: 460px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 128px;
  left: 25px;
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 638, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003638}}
.readershipWrapper,
.meetingsWrapper {
  width: 500px;
  height: 364px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 648, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003648}}
#searchBar {
  width: 500px;
  height: 65px;
  background-color: #FBFCFE;
  position: relative;
  top: 0px;
  z-index: 2;
  /*border-bottom: 1px gray solid;*/
}
/* line 658, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003658}}
.searchField {
  width: 200px;
  padding: 0 0 10px 25px;
  margin: 25px 0 0 25px;
  outline: none;
  border: none;
  background-color: #FBFCFE;
  border-bottom: 1px gray solid;
}
/*#bottomBar {
	width: 500px;
	height: 45px;
	background-color: #F5F5F5;
	position: fixed;
	top: 455px;
	z-index: 2;
}*/
/* line 702, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003702}}
.textWrapper2 {
  width: 56%;
  padding: 25px 0 0 25px;
  float: left;
}
/* line 709, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003709}}
.dateWrapper {
  width: 17%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 55px;
  /*border: 1px black solid;*/
}
/* line 717, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003717}}
.readWrapper {
  width: 8%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 22px;
  /*border: 1px black solid;*/
}
/* line 726, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003726}}
.timeElapsed {
  padding-top: 4px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 500;
  width: 26px;
  height: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -2px;
}
/* line 753, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003753}}
.timeElapsed.green {
  background-color: #8CDFA1;
}
/* line 757, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003757}}
.timeElapsed.yellow {
  background-color: #F3C34C;
}
/* line 761, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003761}}
.timeElapsed.red {
  background-color: #F7A099;
}
/* line 766, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003766}}
.eventTitle {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .2px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.87);
}
/* line 775, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003775}}
.eventLocation {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 783, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003783}}
.eventDate {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  /*font-style: italic;*/
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 794, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003794}}
.statusText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 803, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003803}}
.columnTitle {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
}
/* line 812, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003812}}
.columnTitle.published {
  margin-left: 327px;
}
/* line 816, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003816}}
.columnTitle.read {
  margin-left: 38px;
}
/* line 823, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003823}}
.divItsaRow {
  width: 100%;
  padding-top: 5px;
}
/* line 828, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003828}}
.divItsaRow:first-of-type {
  padding-top: 0px;
}
/*/////////////////*/
/* line 848, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003848}}
.bar2 {
  width: 100%;
  height: 30px;
  background-color: #E5EBF3;
  background-color: #DEE6EF;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 105, 203, 0.8);
  padding-left: 25px;
  padding-top: 10px;
  text-transform: uppercase;
  position: relative;
}
/* line 863, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003863}}
.bar2 .mdi-close {
  position: absolute;
  left: 465px;
  font-size: 17px;
  top: 5px;
  color: rgba(0, 105, 203, 0.8);
}
/* line 873, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003873}}
.innerEventWrapper.eventChoose {
  width: 500px;
  height: 435px;
  padding-top: 10px;
  padding-bottom: 45px;
  overflow-y: hidden;
}
/* line 886, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003886}}
.eventBarText {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* line 892, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003892}}
.mdi-chevron-left {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}
/*///////////// touchpoints   ////*/
/* line 902, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003902}}
.touchpointWrapper,
.securitiesWrapper {
  width: 500px;
  height: 364px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 909, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003909}}
#noSearchBar {
  width: 500px;
  height: 65px;
  background-color: #FBFCFE;
  position: relative;
  top: 0px;
  z-index: 2;
}
/* line 918, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003918}}
.dateWrapper2 {
  width: 17%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 55px;
  /*border: 1px black solid;*/
}
/* line 925, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003925}}
.lengthWrapper {
  width: 10%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 22px;
  /*border: 1px black solid;*/
}
/* line 933, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003933}}
.columnTitle.length {
  margin-left: 72px;
  display: inline-block;
  padding-top: 46px;
}
/* line 940, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003940}}
.columnTitle.date {
  margin-left: 327px;
  display: inline-block;
  padding-top: 46px;
}
/* line 946, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003946}}
.columnTitle.updated {
  margin-left: 327px;
  display: inline-block;
  /*padding-top: 26px;*/
}
/* line 953, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003953}}
.statusWrapper {
  width: 30%;
  float: left;
  padding: 25px 0 0 0;
  margin-left: 55px;
}
/* line 963, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003963}}
#eventWrapper {
  width: 500px;
  height: 460px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 128px;
  left: 25px;
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 988, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003988}}
.bar1Event,
.bar2Event {
  width: 100%;
  height: 30px;
  background-color: #1565C0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  text-transform: uppercase;
}
/* line 1001, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031001}}
.bar1Event .mdi-close,
.bar2Event .mdi-close {
  position: absolute;
  left: 465px;
  font-size: 17px;
  top: 5px;
  color: rgba(255, 255, 255, 0.8);
}
/* line 1011, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031011}}
.innerEventWrapper {
  width: 500px;
  height: 374px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 1021, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031021}}
#searchBarEvent {
  width: 500px;
  height: 55px;
  background-color: #FBFCFE;
  position: relative;
  top: 0px;
  z-index: 2;
  /*border-bottom: 1px gray solid;*/
}
/* line 1031, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031031}}
.searchField {
  width: 200px;
  padding: 0 0 10px 25px;
  margin: 25px 0 0 25px;
  outline: none;
  border: none;
  background-color: #FBFCFE;
  border-bottom: 1px gray solid;
}
/* line 1041, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031041}}
#bottomBarEvent {
  width: 500px;
  height: 45px;
  background-color: #F5F5F5;
  position: absolute;
  top: 415px;
  z-index: 2;
}
/* line 1050, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031050}}
.cancelButton {
  float: right;
  position: relative;
  top: 7px;
  right: 50px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: .4px;
  background-color: #F5F5F5;
  outline: none;
  border: none;
  font-size: 13px;
  padding: .7em 0;
  border-radius: 3px;
  width: 80px;
}
/* line 1069, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031069}}
.cancelButton:hover {
  background-color: #E8E8E8;
}
/* line 1073, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031073}}
.textWrapperEvent {
  width: 56%;
  padding: 25px 0 0 25px;
}
/* line 1079, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031079}}
.eventTitle {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .2px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.87);
}
/* line 1088, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031088}}
.eventLocation {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 1096, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031096}}
.eventDate {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 1107, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031107}}
.eventButton {
  float: right;
  position: relative;
  top: 35px;
  right: 35px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  letter-spacing: .4px;
  background-color: #2196F3;
  outline: none;
  border: none;
  padding: .54em 0;
  border-radius: 3px;
  width: 80px;
  transition: .3s;
}
/* line 1130, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031130}}
.eventButton:hover {
  background-color: #1565C0;
  transition: .3s;
}
/* line 1138, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031138}}
.divItsaRowEvent {
  width: 100%;
  margin-top: 5px;
}
/*/////////////////*/
/* line 1151, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031151}}
.innerEventWrapper.eventChoose {
  width: 500px;
  height: 374px;
  overflow-y: hidden;
  padding-top: 10px;
  padding-bottom: 45px;
  overflow-x: hidden;
}
/* line 1161, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031161}}
.textWrapper3 {
  width: 96%;
  padding: 25px 0 0 25px;
}
/* line 1167, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031167}}
.columnTitle.count {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  margin-left: 370px;
  position: relative;
  top: -10px;
}
/* line 1182, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031182}}
.eventBarText {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* line 1188, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031188}}
.mdi-chevron-left {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}
/* line 1196, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031196}}
.timeButtonWrapper {
  padding-left: 25px;
  margin-top: 20px;
  height: 250px;
  background-color: #F9F9F9;
}
/* line 1206, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031206}}
.timeType {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  padding: 15px 0 0 0;
  clear: both;
}
/* line 1221, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031221}}
.timeButton {
  float: left;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  color: white;
  letter-spacing: .4px;
  background-color: #2196F3;
  outline: none;
  border: none;
  padding: .5em 0;
  border-radius: 2px;
  width: 80px;
  margin-right: 32px;
  margin-bottom: 15px;
  transition: .3s;
}
/* line 1240, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031240}}
.timeButton:hover {
  background-color: #1565C0;
  transition: .3s;
}
/* line 1246, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031246}}
.timeButton.disabled {
  float: left;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  color: white;
  letter-spacing: .4px;
  background-color: #D5D5D5;
  outline: none;
  border: none;
  padding: .5em 0;
  border-radius: 2px;
  width: 80px;
  margin-right: 32px;
  margin-bottom: 15px;
}
/* line 1268, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031268}}
.teal,
.teal:hover {
  background-color: #1de9b6 !important;
  color: white;
  font-weight: 400;
  transition: .3s;
}
/* line 1279, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031279}}
.lightBlue {
  background-color: #90caf9;
}
/* line 1284, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031284}}
#bottomBar2Event {
  width: 500px;
  height: 45px;
  background-color: #F5F5F5;
  position: absolute;
  top: 415px;
  z-index: 2;
}
/* line 1292, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031292}}
#bottomBar2Event.cancelButton {
  float: right;
  position: relative;
  top: 7px;
  /*right: 50px;*/
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: .4px;
  background-color: #E8E8E8;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 80px;
}
/* line 1311, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031311}}
.confirmButton {
  float: right;
  position: relative;
  top: 7px;
  right: 50px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(255, 255, 255, 0.94);
  letter-spacing: .4px;
  background-color: #1565C0;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 80px;
  margin-left: 15px;
  transition: .3s;
}
/* line 1333, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031333}}
.confirmButton:hover {
  background-color: #2196F3;
  transition: .3s;
}
/* line 1342, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031342}}
.addMe {
  /*margin: 30px 25px 0 25px;*/
  color: rgba(0, 0, 0, 0.54);
  margin-left: 25px;
  position: relative;
  top: 12px;
  /*padding-top: 15px;*/
  /*border-top: 1px solid rgba(0, 0, 0, .24);*/
}
/* line 1354, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031354}}
.box {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px rgba(0, 0, 0, 0.54) solid;
  margin-right: 10px;
}
/* line 1365, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031365}}
[type="checkbox"] {
  border-color: rgba(0, 0, 0, 0.26);
}
/* line 1372, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031372}}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
/* line 1377, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031377}}
[type="checkbox"] {
  /* checkbox aspect */
}
/* line 1379, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031379}}
[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}
/* line 1395, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031395}}
[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 1411, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031411}}
[type="checkbox"]:not(:checked):disabled + label:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.26);
}
/* line 1415, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031415}}
[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 11px;
  height: 20px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 1435, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031435}}
[type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}
/* line 1439, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031439}}
[type="checkbox"].filled-in + label:after {
  border-radius: 2px;
}
/* line 1441, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031441}}
[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}
/* line 1448, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031448}}
[type="checkbox"].filled-in:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}
/* line 1458, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031458}}
[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px solid #a6a6a6;
  top: 0px;
  z-index: 0;
}
/* line 1465, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031465}}
[type="checkbox"].filled-in:checked + label:before {
  top: 0;
  left: 1px;
  width: 6px;
  height: 10px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 1478, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031478}}
[type="checkbox"].filled-in:checked + label:after {
  top: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #2196F3;
  background-color: #2196F3;
  z-index: 0;
}
/* line 1485, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031485}}
[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent;
}
/* line 1488, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031488}}
[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #BDBDBD;
}
/* line 1491, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031491}}
[type="checkbox"].filled-in:disabled:checked + label:before {
  background-color: transparent;
}
/* line 1493, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031493}}
[type="checkbox"].filled-in:disabled:checked + label:after {
  background-color: #BDBDBD;
  border-color: #BDBDBD;
}
/*# sourceMappingURL=style1b.css.map */