@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000312}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* line 33, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000333}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 37, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000337}}
body {
  line-height: 1;
}
/* line 40, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000340}}
ol,
ul {
  list-style: none;
}
/* line 43, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000343}}
blockquote,
q {
  quotes: none;
}
/* line 46, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000346}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 51, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000351}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 55, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000355}}
* {
  box-sizing: border-box;
}
/* line 58, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000358}}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 74, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000374}}
body {
  font-size: 14px;
  background-color: #D2D2D2;
  font-family: 'Roboto', sans-serif;
}
/* line 80, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000380}}
#contactWrapper {
  width: 548px;
  height: 630px;
  /*height: 60%;*/
  /*overflow: scroll;*/
  background-color: white;
  margin: 0 auto;
  position: relative;
}
/* line 94, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000394}}
.mdi-dots-vertical {
  position: absolute;
  left: 510px;
  font-size: 17px;
  top: 5px;
  color: rgba(255, 255, 255, 0.5);
}
/* line 102, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003102}}
.bar {
  width: 100%;
  height: 30px;
  background-color: #0069CB;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  text-transform: uppercase;
}
/* line 115, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003115}}
.bar2 {
  width: 100%;
  height: 30px;
  background-color: #1565c0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 5px;
  padding-top: 8px;
  text-transform: uppercase;
}
/* line 127, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003127}}
.eventBarText {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* line 133, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003133}}
.mdi-chevron-right {
  position: absolute;
  left: 220px;
  top: 2px;
  font-size: 18px;
  color: rgba(0, 105, 203, 0.7);
}
/* line 141, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003141}}
.mdi-chevron-left {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}
/* line 149, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003149}}
#bottomBarEnd,
#bottomBarCall {
  width: 548px;
  height: 40px;
  background-color: #e9ecf0;
  position: absolute;
  top: 590px;
  z-index: 2;
}
/* line 157, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003157}}
.counterText {
  position: absolute;
  top: 12px;
  left: 30px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 166, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003166}}
.leaveVoiceDrop {
  position: absolute;
  top: 15px;
  left: 450px;
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 175, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003175}}
.callButton {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 6px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  color: white;
  letter-spacing: .4px;
  background-color: #4AAEF9;
  background-color: #1565c0;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 100px;
}
/* line 196, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003196}}
#callPhoneButton {
  color: white;
  position: absolute;
  left: 260px;
  top: 8px;
  font-size: 28px;
}
/* line 204, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003204}}
.endCallButton {
  /*float: right;*/
  display: block;
  margin: 0 auto;
  position: relative;
  top: 6px;
  /*right: 50px;*/
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  color: white;
  letter-spacing: .4px;
  background-color: #4AAEF9;
  background-color: #1565c0;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 100px;
}
/* line 230, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003230}}
.profileBar {
  width: 548px;
  height: 97px;
  padding-left: 26px;
  background-color: white;
}
/* line 237, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003237}}
.profileNameText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 22px;
  padding-top: 26px;
  display: inline-block;
}
/* line 246, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003246}}
.companyText {
  font-family: 'Roboto';
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1px;
  padding-top: .7em;
  display: inline-block;
}
/* line 255, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003255}}
.sectorText {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1px;
  padding-top: .3em;
  display: inline-block;
}
/* line 263, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003263}}
.iconProfileBar {
  position: relative;
  left: 330px;
  top: -45px;
}
/* line 269, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003269}}
.sectionBox {
  width: 239px;
  height: 135px;
  background-color: white;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 278, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003278}}
.sectionBox:hover {
  cursor: pointer;
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 289, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003289}}
.notesBox {
  margin-top: 25px;
  margin-left: 25px;
  width: 499px;
  height: 73px;
  background-color: white;
  clear: both;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 302, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003302}}
.readership {
  float: left;
  margin-top: 20px;
  margin-left: 25px;
}
/* line 308, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003308}}
.touchpoints {
  float: right;
  margin-top: 20px;
  margin-right: 25px;
}
/* line 315, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003315}}
.securities {
  float: left;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 322, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003322}}
.meetings {
  float: right;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 329, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003329}}
.sectionBoxTitle {
  text-transform: uppercase;
  color: rgba(0, 105, 203, 0.8);
  font-family: 'Roboto';
  font-size: 12px;
  letter-spacing: .1px;
  width: 100%;
  display: inline-block;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 5px;
  background-color: #e9ecf0;
  background-color: #E5EBF3;
}
/* line 353, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003353}}
.sectionNotesTitle {
  text-transform: uppercase;
  color: rgba(0, 105, 203, 0.9);
  font-family: 'Roboto';
  font-size: 12px;
  letter-spacing: .1px;
  /*border-bottom: .5px rgba(6, 113, 212, 0.4) solid;*/
  /*width: 100%;*/
  display: inline-block;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 5px;
}
/* line 368, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003368}}
.textWrapper {
  width: 95%;
  padding: 15px 0 0 15px;
}
/* line 374, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003374}}
.notesWrapper {
  width: 95%;
  padding: 5px 0 0 15px;
}
/* line 379, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003379}}
.innerTextTitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .1px;
  line-height: 1.2em;
  display: inline-block;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 390, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003390}}
.innerTextSubtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 398, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003398}}
.innerTextThird {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 407, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003407}}
.innerTextBottom {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  position: absolute;
  bottom: 6px;
}
/* line 419, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003419}}
.notesText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.54);
  /*display: inline-block;*/
  /*margin-top: 1em;*/
}
/*.iconsBottom {
	margin-left: 30px;
	margin-top: 12px;
}*/
/* line 436, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003436}}
.iconsProfile {
  width: 190px;
  height: 18px;
  float: right;
  position: relative;
  top: -30px;
  /*border: 1px black solid;*/
  margin-right: 25px;
}
/* line 446, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003446}}
.iconWrapperProfile {
  display: inline-block;
  padding-bottom: 1px;
  padding-right: 6px;
  font-family: 'Roboto';
  font-size: 13px;
}
/* line 454, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003454}}
.iconWrapperPhone {
  display: inline-block;
  position: relative;
  top: -2px;
  padding-right: 1px;
  font-family: 'Roboto';
  font-size: 13px;
  /*line-height: 1.5em;*/
}
/* line 465, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003465}}
.iconWrapperTriangle {
  display: inline-block;
  padding-bottom: 1px;
  padding-right: 2px;
  font-family: 'Roboto';
  font-size: 18px;
}
/* line 476, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003476}}
.iconsBottom2 {
  margin-left: 28px;
  margin-top: 12px;
  width: 500px;
  height: 41px;
}
/* line 484, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003484}}
.iconWrapper {
  font-family: 'Roboto';
  font-size: 11px;
  display: inline-block;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  color: #1565c0;
  color: rgba(6, 113, 212, 0.9);
}
/* line 496, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003496}}
.iconWrapper img {
  padding-bottom: 3px;
}
/* line 500, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003500}}
.spaceBetweenIcons {
  display: inline-block;
  width: 13%;
}
/* line 505, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003505}}
.mdi-email-outline,
.mdi-message-text {
  font-size: 18px;
}
/* line 509, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003509}}
.ibChat,
.mdi-email-outline {
  color: rgba(0, 105, 203, 0.3);
}
/* line 513, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003513}}
.ibChat:hover,
.mdi-email-outline:hover {
  color: rgba(0, 105, 203, 0.9);
}
/* line 517, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003517}}
.mdi-calendar,
.mdi-calendar-check,
.mdi-border-color,
.mdi-library-books {
  font-size: 32px;
  color: rgba(6, 113, 212, 0.9);
}
/* line 528, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003528}}
.overlay {
  width: 500px;
  height: 460px;
  /*background-image: url("readership.png");*/
  /*background-size: cover;*/
  position: absolute;
  z-index: 3;
  top: 130px;
  left: 25px;
  /*display: none;*/
}
/* line 541, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003541}}
.overlay img {
  width: 100%;
}
/* line 547, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003547}}
#readershipWrapper,
#touchpointWrapper,
#securitiesWrapper,
#meetingsWrapper {
  width: 500px;
  height: 460px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 128px;
  left: 25px;
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 564, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003564}}
.readershipWrapper,
.meetingsWrapper {
  width: 500px;
  height: 364px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 574, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003574}}
#searchBar {
  width: 500px;
  height: 65px;
  background-color: #FBFCFE;
  position: relative;
  top: 0px;
  z-index: 2;
  /*border-bottom: 1px gray solid;*/
}
/* line 584, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003584}}
.searchField {
  width: 200px;
  padding: 0 0 10px 25px;
  margin: 25px 0 0 25px;
  outline: none;
  border: none;
  background-color: #FBFCFE;
  border-bottom: 1px gray solid;
}
/*#bottomBar {
	width: 500px;
	height: 45px;
	background-color: #F5F5F5;
	position: fixed;
	top: 455px;
	z-index: 2;
}*/
/* line 628, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003628}}
.textWrapper2 {
  width: 56%;
  padding: 25px 0 0 25px;
  float: left;
}
/* line 635, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003635}}
.dateWrapper {
  width: 17%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 55px;
  /*border: 1px black solid;*/
}
/* line 643, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003643}}
.readWrapper {
  width: 8%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 22px;
  /*border: 1px black solid;*/
}
/* line 652, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003652}}
.timeElapsed {
  padding-top: 4px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 500;
  width: 26px;
  height: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -2px;
}
/* line 679, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003679}}
.timeElapsed.green {
  background-color: #8CDFA1;
}
/* line 683, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003683}}
.timeElapsed.yellow {
  background-color: #F3C34C;
}
/* line 687, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003687}}
.timeElapsed.red {
  background-color: #F7A099;
}
/* line 692, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003692}}
.eventTitle {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .2px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.87);
}
/* line 701, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003701}}
.eventLocation {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 709, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003709}}
.eventDate {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  /*font-style: italic;*/
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 720, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003720}}
.statusText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 729, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003729}}
.columnTitle {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
}
/* line 738, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003738}}
.columnTitle.published {
  margin-left: 327px;
}
/* line 742, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003742}}
.columnTitle.read {
  margin-left: 38px;
}
/* line 749, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003749}}
.divItsaRow {
  width: 100%;
  padding-top: 5px;
}
/* line 754, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003754}}
.divItsaRow:first-of-type {
  padding-top: 0px;
}
/*/////////////////*/
/* line 760, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003760}}
.bar2 {
  width: 100%;
  height: 30px;
  background-color: #1565C0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 5px;
  padding-top: 8px;
  text-transform: uppercase;
}
/* line 773, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003773}}
.innerEventWrapper.eventChoose {
  width: 500px;
  height: 435px;
  padding-top: 10px;
  padding-bottom: 45px;
  overflow-y: hidden;
}
/* line 786, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003786}}
.eventBarText {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* line 792, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003792}}
.mdi-chevron-left {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}
/*///////////// touchpoints   ////*/
/* line 802, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003802}}
.touchpointWrapper,
.securitiesWrapper {
  width: 500px;
  height: 364px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 809, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003809}}
#noSearchBar {
  width: 500px;
  height: 65px;
  background-color: #FBFCFE;
  position: relative;
  top: 0px;
  z-index: 2;
}
/* line 818, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003818}}
.dateWrapper2 {
  width: 17%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 55px;
  /*border: 1px black solid;*/
}
/* line 825, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003825}}
.lengthWrapper {
  width: 10%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 22px;
  /*border: 1px black solid;*/
}
/* line 833, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003833}}
.columnTitle.length {
  margin-left: 72px;
  display: inline-block;
  padding-top: 46px;
}
/* line 840, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003840}}
.columnTitle.date {
  margin-left: 327px;
  display: inline-block;
  padding-top: 46px;
}
/* line 846, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003846}}
.columnTitle.updated {
  margin-left: 327px;
  display: inline-block;
  /*padding-top: 26px;*/
}
/* line 853, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003853}}
.statusWrapper {
  width: 30%;
  float: left;
  padding: 25px 0 0 0;
  margin-left: 55px;
}
/* line 863, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003863}}
#eventWrapper {
  width: 500px;
  height: 460px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 128px;
  left: 25px;
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 888, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003888}}
.bar1Event {
  width: 100%;
  height: 30px;
  background-color: #1565C0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 5px;
  padding-top: 9px;
  text-transform: uppercase;
}
/* line 903, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003903}}
.innerEventWrapper {
  width: 500px;
  height: 374px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 913, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003913}}
#searchBarEvent {
  width: 500px;
  height: 55px;
  background-color: #FBFCFE;
  position: relative;
  top: 0px;
  z-index: 2;
  /*border-bottom: 1px gray solid;*/
}
/* line 923, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003923}}
.searchField {
  width: 200px;
  padding: 0 0 10px 25px;
  margin: 25px 0 0 25px;
  outline: none;
  border: none;
  background-color: #FBFCFE;
  border-bottom: 1px gray solid;
}
/* line 933, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003933}}
#bottomBarEvent {
  width: 500px;
  height: 45px;
  background-color: #F5F5F5;
  position: absolute;
  top: 415px;
  z-index: 2;
}
/* line 942, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003942}}
.cancelButton {
  float: right;
  position: relative;
  top: 7px;
  right: 50px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: .4px;
  background-color: #F5F5F5;
  outline: none;
  border: none;
  font-size: 13px;
  padding: .7em 0;
  border-radius: 3px;
  width: 80px;
}
/* line 961, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003961}}
.cancelButton:hover {
  background-color: #E8E8E8;
}
/* line 965, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003965}}
.textWrapperEvent {
  width: 56%;
  padding: 25px 0 0 25px;
}
/* line 971, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003971}}
.eventTitle {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .2px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.87);
}
/* line 980, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003980}}
.eventLocation {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 988, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003988}}
.eventDate {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 999, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003999}}
.eventButton {
  float: right;
  position: relative;
  top: 35px;
  right: 35px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  letter-spacing: .4px;
  background-color: #2196F3;
  outline: none;
  border: none;
  padding: .54em 0;
  border-radius: 3px;
  width: 80px;
  transition: .3s;
}
/* line 1022, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031022}}
.eventButton:hover {
  background-color: #1565C0;
  transition: .3s;
}
/* line 1030, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031030}}
.divItsaRowEvent {
  width: 100%;
  margin-top: 5px;
}
/*/////////////////*/
/* line 1039, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031039}}
.bar2Event {
  width: 100%;
  height: 30px;
  background-color: #1565C0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 5px;
  padding-top: 9px;
  text-transform: uppercase;
}
/* line 1052, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031052}}
.innerEventWrapper.eventChoose {
  width: 500px;
  height: 374px;
  overflow-y: hidden;
  padding-top: 10px;
  padding-bottom: 45px;
  overflow-x: hidden;
}
/* line 1062, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031062}}
.textWrapper3 {
  width: 96%;
  padding: 25px 0 0 25px;
}
/* line 1068, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031068}}
.columnTitle.count {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  margin-left: 370px;
  position: relative;
  top: -10px;
}
/* line 1083, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031083}}
.eventBarText {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* line 1089, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031089}}
.mdi-chevron-left {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}
/* line 1097, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031097}}
.timeButtonWrapper {
  padding-left: 25px;
  margin-top: 20px;
  height: 250px;
  background-color: #F9F9F9;
}
/* line 1107, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031107}}
.timeType {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  padding: 15px 0 0 0;
  clear: both;
}
/* line 1122, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031122}}
.timeButton {
  float: left;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  color: white;
  letter-spacing: .4px;
  background-color: #2196F3;
  outline: none;
  border: none;
  padding: .5em 0;
  border-radius: 2px;
  width: 80px;
  margin-right: 32px;
  margin-bottom: 15px;
  transition: .3s;
}
/* line 1141, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031141}}
.timeButton:hover {
  background-color: #1565C0;
  transition: .3s;
}
/* line 1147, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031147}}
.timeButton.disabled {
  float: left;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  color: white;
  letter-spacing: .4px;
  background-color: #D5D5D5;
  outline: none;
  border: none;
  padding: .5em 0;
  border-radius: 2px;
  width: 80px;
  margin-right: 32px;
  margin-bottom: 15px;
}
/* line 1169, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031169}}
.teal,
.teal:hover {
  background-color: #1de9b6 !important;
  color: white;
  font-weight: 400;
  transition: .3s;
}
/* line 1180, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031180}}
.lightBlue {
  background-color: #90caf9;
}
/* line 1185, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031185}}
#bottomBar2Event {
  width: 500px;
  height: 45px;
  background-color: #F5F5F5;
  position: absolute;
  top: 415px;
  z-index: 2;
}
/* line 1193, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031193}}
#bottomBar2Event.cancelButton {
  float: right;
  position: relative;
  top: 7px;
  /*right: 50px;*/
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: .4px;
  background-color: #E8E8E8;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 80px;
}
/* line 1212, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031212}}
.confirmButton {
  float: right;
  position: relative;
  top: 7px;
  right: 50px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(255, 255, 255, 0.94);
  letter-spacing: .4px;
  background-color: #1565C0;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 80px;
  margin-left: 15px;
  transition: .3s;
}
/* line 1234, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031234}}
.confirmButton:hover {
  background-color: #2196F3;
  transition: .3s;
}
/* line 1243, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031243}}
.addMe {
  /*margin: 30px 25px 0 25px;*/
  color: rgba(0, 0, 0, 0.54);
  margin-left: 25px;
  position: relative;
  top: 12px;
  /*padding-top: 15px;*/
  /*border-top: 1px solid rgba(0, 0, 0, .24);*/
}
/* line 1255, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031255}}
.box {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px rgba(0, 0, 0, 0.54) solid;
  margin-right: 10px;
}
/* line 1266, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031266}}
[type="checkbox"] {
  border-color: rgba(0, 0, 0, 0.26);
}
/* line 1273, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031273}}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
/* line 1278, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031278}}
[type="checkbox"] {
  /* checkbox aspect */
}
/* line 1280, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031280}}
[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}
/* line 1296, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031296}}
[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 1312, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031312}}
[type="checkbox"]:not(:checked):disabled + label:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.26);
}
/* line 1316, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031316}}
[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 11px;
  height: 20px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 1336, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031336}}
[type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}
/* line 1340, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031340}}
[type="checkbox"].filled-in + label:after {
  border-radius: 2px;
}
/* line 1342, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031342}}
[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}
/* line 1349, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031349}}
[type="checkbox"].filled-in:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}
/* line 1359, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031359}}
[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px solid #a6a6a6;
  top: 0px;
  z-index: 0;
}
/* line 1366, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031366}}
[type="checkbox"].filled-in:checked + label:before {
  top: 0;
  left: 1px;
  width: 6px;
  height: 10px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 1379, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031379}}
[type="checkbox"].filled-in:checked + label:after {
  top: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #2196F3;
  background-color: #2196F3;
  z-index: 0;
}
/* line 1386, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031386}}
[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent;
}
/* line 1389, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031389}}
[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #BDBDBD;
}
/* line 1392, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031392}}
[type="checkbox"].filled-in:disabled:checked + label:before {
  background-color: transparent;
}
/* line 1394, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031394}}
[type="checkbox"].filled-in:disabled:checked + label:after {
  background-color: #BDBDBD;
  border-color: #BDBDBD;
}
/*# sourceMappingURL=style1b.css.map */