@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 12, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000312}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* line 33, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000333}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 37, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000337}}
body {
  line-height: 1;
}
/* line 40, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000340}}
ol,
ul {
  list-style: none;
}
/* line 43, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000343}}
blockquote,
q {
  quotes: none;
}
/* line 46, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000346}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 51, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000351}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 55, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000355}}
* {
  box-sizing: border-box;
}
/* line 58, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000358}}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 74, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000374}}
body {
  font-size: 14px;
  background-color: #D2D2D2;
  font-family: 'Roboto', sans-serif;
}
/* line 80, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000380}}
#contactWrapper {
  width: 548px;
  height: 630px;
  /*height: 60%;*/
  /*overflow: scroll;*/
  background-color: white;
  margin: 0 auto;
  position: relative;
}
/* line 94, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\0000394}}
.mdi-dots-vertical {
  position: absolute;
  left: 510px;
  font-size: 17px;
  top: 5px;
  color: rgba(255, 255, 255, 0.5);
}
/* line 102, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003102}}
.bar {
  width: 100%;
  height: 30px;
  background-color: #0069CB;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  text-transform: uppercase;
}
/* line 115, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003115}}
.bar2 {
  width: 100%;
  height: 30px;
  background-color: #1565c0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 5px;
  padding-top: 8px;
  text-transform: uppercase;
}
/* line 127, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003127}}
.eventBarText {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* line 133, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003133}}
.mdi-chevron-right {
  position: absolute;
  left: 220px;
  top: 2px;
  font-size: 18px;
  color: rgba(0, 105, 203, 0.7);
}
/* line 141, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003141}}
.mdi-chevron-left {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}
/* line 149, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003149}}
#bottomBarEnd,
#bottomBarCall {
  width: 548px;
  height: 40px;
  background-color: #e9ecf0;
  position: absolute;
  top: 590px;
  z-index: 2;
}
/* line 157, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003157}}
.counterText {
  position: absolute;
  top: 12px;
  left: 30px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 166, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003166}}
.leaveVoiceDrop {
  position: absolute;
  top: 15px;
  left: 450px;
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 175, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003175}}
.callButton {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 6px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  color: white;
  letter-spacing: .4px;
  background-color: #4AAEF9;
  background-color: #1565c0;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 100px;
}
/* line 196, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003196}}
#callPhoneButton {
  color: white;
  position: absolute;
  left: 260px;
  top: 8px;
  font-size: 28px;
}
/* line 204, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003204}}
.endCallButton {
  /*float: right;*/
  display: block;
  margin: 0 auto;
  position: relative;
  top: 6px;
  /*right: 50px;*/
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  color: white;
  letter-spacing: .4px;
  background-color: #4AAEF9;
  background-color: #1565c0;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 100px;
}
/* line 231, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003231}}
.profileBar {
  width: 548px;
  height: 97px;
  padding-left: 26px;
  background-color: white;
}
/* line 238, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003238}}
.profileNameText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 22px;
  padding-top: 26px;
  display: inline-block;
}
/* line 247, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003247}}
.companyText {
  font-family: 'Roboto';
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1px;
  padding-top: .7em;
  display: inline-block;
}
/* line 256, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003256}}
.sectorText {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1px;
  padding-top: .3em;
  display: inline-block;
}
/* line 264, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003264}}
.iconProfileBar {
  position: relative;
  left: 330px;
  top: -45px;
}
/* line 270, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003270}}
.sectionBox {
  width: 239px;
  height: 135px;
  background-color: white;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 279, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003279}}
.sectionBox:hover {
  cursor: pointer;
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 290, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003290}}
.notesBox {
  margin-top: 25px;
  margin-left: 25px;
  width: 499px;
  height: 73px;
  background-color: white;
  clear: both;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 303, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003303}}
.readership {
  float: left;
  margin-top: 20px;
  margin-left: 25px;
}
/* line 309, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003309}}
.touchpoints {
  float: right;
  margin-top: 20px;
  margin-right: 25px;
}
/* line 316, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003316}}
.securities {
  float: left;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 323, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003323}}
.meetings {
  float: right;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 330, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003330}}
.sectionBoxTitle {
  text-transform: uppercase;
  color: rgba(0, 105, 203, 0.8);
  font-family: 'Roboto';
  font-size: 12px;
  letter-spacing: .1px;
  width: 100%;
  display: inline-block;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 5px;
  background-color: #e9ecf0;
  background-color: #E5EBF3;
}
/* line 354, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003354}}
.sectionNotesTitle {
  text-transform: uppercase;
  color: rgba(0, 105, 203, 0.9);
  font-family: 'Roboto';
  font-size: 12px;
  letter-spacing: .1px;
  /*border-bottom: .5px rgba(6, 113, 212, 0.4) solid;*/
  /*width: 100%;*/
  display: inline-block;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 5px;
}
/* line 369, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003369}}
.textWrapper {
  width: 95%;
  padding: 15px 0 0 15px;
}
/* line 375, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003375}}
.notesWrapper {
  width: 95%;
  padding: 5px 0 0 15px;
}
/* line 380, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003380}}
.innerTextTitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .1px;
  line-height: 1.2em;
  display: inline-block;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 391, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003391}}
.innerTextSubtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 399, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003399}}
.innerTextThird {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 408, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003408}}
.innerTextBottom {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  position: absolute;
  bottom: 6px;
}
/* line 420, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003420}}
.notesText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.54);
  /*display: inline-block;*/
  /*margin-top: 1em;*/
}
/*.iconsBottom {
	margin-left: 30px;
	margin-top: 12px;
}*/
/* line 437, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003437}}
.iconsProfile {
  width: 190px;
  height: 18px;
  float: right;
  position: relative;
  top: -30px;
  /*border: 1px black solid;*/
  margin-right: 25px;
}
/* line 447, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003447}}
.iconWrapperProfile {
  display: inline-block;
  padding-bottom: 1px;
  padding-right: 6px;
  font-family: 'Roboto';
  font-size: 13px;
}
/* line 455, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003455}}
.iconWrapperPhone {
  display: inline-block;
  position: relative;
  top: -2px;
  padding-right: 1px;
  font-family: 'Roboto';
  font-size: 13px;
  /*line-height: 1.5em;*/
}
/* line 466, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003466}}
.iconWrapperTriangle {
  display: inline-block;
  padding-bottom: 1px;
  padding-right: 2px;
  font-family: 'Roboto';
  font-size: 18px;
}
/* line 477, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003477}}
.iconsBottom2 {
  margin-left: 28px;
  margin-top: 12px;
  width: 500px;
  height: 41px;
}
/* line 485, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003485}}
.iconWrapper {
  font-family: 'Roboto';
  font-size: 11px;
  display: inline-block;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
/* line 497, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003497}}
.iconWrapper img {
  padding-bottom: 3px;
}
/* line 501, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003501}}
.spaceBetweenIcons {
  display: inline-block;
  width: 13%;
}
/* line 506, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003506}}
.mdi-email-outline,
.mdi-message-text {
  font-size: 18px;
}
/* line 510, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003510}}
.ibChat,
.mdi-email-outline {
  color: rgba(0, 105, 203, 0.3);
}
/* line 514, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003514}}
.ibChat:hover,
.mdi-email-outline:hover {
  color: rgba(0, 105, 203, 0.9);
}
/* line 518, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003518}}
.mdi-calendar,
.mdi-calendar-check,
.mdi-border-color,
.mdi-library-books {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
}
/* line 529, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003529}}
.overlay {
  width: 500px;
  height: 460px;
  /*background-image: url("readership.png");*/
  /*background-size: cover;*/
  position: absolute;
  z-index: 3;
  top: 130px;
  left: 25px;
  /*display: none;*/
}
/* line 542, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003542}}
.overlay img {
  width: 100%;
}
/* line 548, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003548}}
#readershipWrapper,
#touchpointWrapper,
#securitiesWrapper,
#meetingsWrapper {
  width: 500px;
  height: 460px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 128px;
  left: 25px;
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 565, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003565}}
.readershipWrapper,
.meetingsWrapper {
  width: 500px;
  height: 364px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 575, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003575}}
#searchBar {
  width: 500px;
  height: 65px;
  background-color: #FBFCFE;
  position: relative;
  top: 0px;
  z-index: 2;
  /*border-bottom: 1px gray solid;*/
}
/* line 585, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003585}}
.searchField {
  width: 200px;
  padding: 0 0 10px 25px;
  margin: 25px 0 0 25px;
  outline: none;
  border: none;
  background-color: #FBFCFE;
  border-bottom: 1px gray solid;
}
/*#bottomBar {
	width: 500px;
	height: 45px;
	background-color: #F5F5F5;
	position: fixed;
	top: 455px;
	z-index: 2;
}*/
/* line 629, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003629}}
.textWrapper2 {
  width: 56%;
  padding: 25px 0 0 25px;
  float: left;
}
/* line 636, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003636}}
.dateWrapper {
  width: 17%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 55px;
  /*border: 1px black solid;*/
}
/* line 644, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003644}}
.readWrapper {
  width: 8%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 22px;
  /*border: 1px black solid;*/
}
/* line 653, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003653}}
.timeElapsed {
  padding-top: 4px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 500;
  width: 26px;
  height: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -2px;
}
/* line 680, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003680}}
.timeElapsed.green {
  background-color: #8CDFA1;
}
/* line 684, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003684}}
.timeElapsed.yellow {
  background-color: #F3C34C;
}
/* line 688, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003688}}
.timeElapsed.red {
  background-color: #F7A099;
}
/* line 693, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003693}}
.eventTitle {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .2px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.87);
}
/* line 702, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003702}}
.eventLocation {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 710, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003710}}
.eventDate {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  /*font-style: italic;*/
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 721, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003721}}
.statusText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 730, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003730}}
.columnTitle {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
}
/* line 739, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003739}}
.columnTitle.published {
  margin-left: 327px;
}
/* line 743, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003743}}
.columnTitle.read {
  margin-left: 38px;
}
/* line 750, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003750}}
.divItsaRow {
  width: 100%;
  padding-top: 5px;
}
/* line 755, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003755}}
.divItsaRow:first-of-type {
  padding-top: 0px;
}
/*/////////////////*/
/* line 761, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003761}}
.bar2 {
  width: 100%;
  height: 30px;
  background-color: #1565C0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 5px;
  padding-top: 8px;
  text-transform: uppercase;
}
/* line 774, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003774}}
.innerEventWrapper.eventChoose {
  width: 500px;
  height: 435px;
  padding-top: 10px;
  padding-bottom: 45px;
  overflow-y: hidden;
}
/* line 787, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003787}}
.eventBarText {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* line 793, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003793}}
.mdi-chevron-left {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}
/*///////////// touchpoints   ////*/
/* line 803, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003803}}
.touchpointWrapper,
.securitiesWrapper {
  width: 500px;
  height: 364px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 810, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003810}}
#noSearchBar {
  width: 500px;
  height: 65px;
  background-color: #FBFCFE;
  position: relative;
  top: 0px;
  z-index: 2;
}
/* line 819, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003819}}
.dateWrapper2 {
  width: 17%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 55px;
  /*border: 1px black solid;*/
}
/* line 826, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003826}}
.lengthWrapper {
  width: 10%;
  float: left;
  padding: 40px 0 0 0;
  margin-left: 22px;
  /*border: 1px black solid;*/
}
/* line 834, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003834}}
.columnTitle.length {
  margin-left: 72px;
  display: inline-block;
  padding-top: 46px;
}
/* line 841, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003841}}
.columnTitle.date {
  margin-left: 327px;
  display: inline-block;
  padding-top: 46px;
}
/* line 847, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003847}}
.columnTitle.updated {
  margin-left: 327px;
  display: inline-block;
  /*padding-top: 26px;*/
}
/* line 854, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003854}}
.statusWrapper {
  width: 30%;
  float: left;
  padding: 25px 0 0 0;
  margin-left: 55px;
}
/* line 864, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003864}}
#eventWrapper {
  width: 500px;
  height: 460px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 128px;
  left: 25px;
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 889, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003889}}
.bar1Event {
  width: 100%;
  height: 30px;
  background-color: #1565C0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 5px;
  padding-top: 9px;
  text-transform: uppercase;
}
/* line 904, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003904}}
.innerEventWrapper {
  width: 500px;
  height: 374px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 914, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003914}}
#searchBarEvent {
  width: 500px;
  height: 55px;
  background-color: #FBFCFE;
  position: relative;
  top: 0px;
  z-index: 2;
  /*border-bottom: 1px gray solid;*/
}
/* line 924, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003924}}
.searchField {
  width: 200px;
  padding: 0 0 10px 25px;
  margin: 25px 0 0 25px;
  outline: none;
  border: none;
  background-color: #FBFCFE;
  border-bottom: 1px gray solid;
}
/* line 934, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003934}}
#bottomBarEvent {
  width: 500px;
  height: 45px;
  background-color: #F5F5F5;
  position: absolute;
  top: 415px;
  z-index: 2;
}
/* line 943, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003943}}
.cancelButton {
  float: right;
  position: relative;
  top: 7px;
  right: 50px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: .4px;
  background-color: #F5F5F5;
  outline: none;
  border: none;
  font-size: 13px;
  padding: .7em 0;
  border-radius: 3px;
  width: 80px;
}
/* line 962, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003962}}
.cancelButton:hover {
  background-color: #E8E8E8;
}
/* line 966, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003966}}
.textWrapperEvent {
  width: 56%;
  padding: 25px 0 0 25px;
}
/* line 972, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003972}}
.eventTitle {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .2px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.87);
}
/* line 981, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003981}}
.eventLocation {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 989, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\00003989}}
.eventDate {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 1000, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031000}}
.eventButton {
  float: right;
  position: relative;
  top: 35px;
  right: 35px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
  letter-spacing: .4px;
  background-color: #2196F3;
  outline: none;
  border: none;
  padding: .54em 0;
  border-radius: 3px;
  width: 80px;
  transition: .3s;
}
/* line 1023, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031023}}
.eventButton:hover {
  background-color: #1565C0;
  transition: .3s;
}
/* line 1031, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031031}}
.divItsaRowEvent {
  width: 100%;
  margin-top: 5px;
}
/*/////////////////*/
/* line 1040, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031040}}
.bar2Event {
  width: 100%;
  height: 30px;
  background-color: #1565C0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: white;
  padding-left: 5px;
  padding-top: 9px;
  text-transform: uppercase;
}
/* line 1053, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031053}}
.innerEventWrapper.eventChoose {
  width: 500px;
  height: 374px;
  overflow-y: hidden;
  padding-top: 10px;
  padding-bottom: 45px;
  overflow-x: hidden;
}
/* line 1063, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031063}}
.textWrapper3 {
  width: 96%;
  padding: 25px 0 0 25px;
}
/* line 1069, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031069}}
.columnTitle.count {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  margin-left: 370px;
  position: relative;
  top: -10px;
}
/* line 1084, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031084}}
.eventBarText {
  display: inline-block;
  position: relative;
  top: -8px;
}
/* line 1090, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031090}}
.mdi-chevron-left {
  font-size: 22px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}
/* line 1098, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031098}}
.timeButtonWrapper {
  padding-left: 25px;
  margin-top: 20px;
  height: 250px;
  background-color: #F9F9F9;
}
/* line 1108, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031108}}
.timeType {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .1px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  padding: 15px 0 0 0;
  clear: both;
}
/* line 1123, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031123}}
.timeButton {
  float: left;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  color: white;
  letter-spacing: .4px;
  background-color: #2196F3;
  outline: none;
  border: none;
  padding: .5em 0;
  border-radius: 2px;
  width: 80px;
  margin-right: 32px;
  margin-bottom: 15px;
  transition: .3s;
}
/* line 1142, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031142}}
.timeButton:hover {
  background-color: #1565C0;
  transition: .3s;
}
/* line 1148, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031148}}
.timeButton.disabled {
  float: left;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  color: white;
  letter-spacing: .4px;
  background-color: #D5D5D5;
  outline: none;
  border: none;
  padding: .5em 0;
  border-radius: 2px;
  width: 80px;
  margin-right: 32px;
  margin-bottom: 15px;
}
/* line 1170, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031170}}
.teal,
.teal:hover {
  background-color: #1de9b6 !important;
  color: white;
  font-weight: 400;
  transition: .3s;
}
/* line 1181, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031181}}
.lightBlue {
  background-color: #90caf9;
}
/* line 1186, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031186}}
#bottomBar2Event {
  width: 500px;
  height: 45px;
  background-color: #F5F5F5;
  position: absolute;
  top: 415px;
  z-index: 2;
}
/* line 1194, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031194}}
#bottomBar2Event.cancelButton {
  float: right;
  position: relative;
  top: 7px;
  /*right: 50px;*/
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: .4px;
  background-color: #E8E8E8;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 80px;
}
/* line 1213, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031213}}
.confirmButton {
  float: right;
  position: relative;
  top: 7px;
  right: 50px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(255, 255, 255, 0.94);
  letter-spacing: .4px;
  background-color: #1565C0;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 80px;
  margin-left: 15px;
  transition: .3s;
}
/* line 1235, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031235}}
.confirmButton:hover {
  background-color: #2196F3;
  transition: .3s;
}
/* line 1244, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031244}}
.addMe {
  /*margin: 30px 25px 0 25px;*/
  color: rgba(0, 0, 0, 0.54);
  margin-left: 25px;
  position: relative;
  top: 12px;
  /*padding-top: 15px;*/
  /*border-top: 1px solid rgba(0, 0, 0, .24);*/
}
/* line 1256, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031256}}
.box {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px rgba(0, 0, 0, 0.54) solid;
  margin-right: 10px;
}
/* line 1267, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031267}}
[type="checkbox"] {
  border-color: rgba(0, 0, 0, 0.26);
}
/* line 1274, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031274}}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
/* line 1279, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031279}}
[type="checkbox"] {
  /* checkbox aspect */
}
/* line 1281, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031281}}
[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}
/* line 1297, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031297}}
[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 1313, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031313}}
[type="checkbox"]:not(:checked):disabled + label:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.26);
}
/* line 1317, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031317}}
[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 11px;
  height: 20px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 1337, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031337}}
[type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}
/* line 1341, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031341}}
[type="checkbox"].filled-in + label:after {
  border-radius: 2px;
}
/* line 1343, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031343}}
[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}
/* line 1350, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031350}}
[type="checkbox"].filled-in:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}
/* line 1360, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031360}}
[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px solid #a6a6a6;
  top: 0px;
  z-index: 0;
}
/* line 1367, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031367}}
[type="checkbox"].filled-in:checked + label:before {
  top: 0;
  left: 1px;
  width: 6px;
  height: 10px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 1380, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031380}}
[type="checkbox"].filled-in:checked + label:after {
  top: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #2196F3;
  background-color: #2196F3;
  z-index: 0;
}
/* line 1387, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031387}}
[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent;
}
/* line 1390, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031390}}
[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #BDBDBD;
}
/* line 1393, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031393}}
[type="checkbox"].filled-in:disabled:checked + label:before {
  background-color: transparent;
}
/* line 1395, style1b.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/contactProfile\/style1b\.less}line{font-family:\000031395}}
[type="checkbox"].filled-in:disabled:checked + label:after {
  background-color: #BDBDBD;
  border-color: #BDBDBD;
}
/*# sourceMappingURL=style1b.css.map */