   * {
    font-family: courier;
    } 

      h1 {
        text-align: center;
        padding: 5px;
        margin-bottom: 1px;
        padding-top: 11px;
        font-size: 44px;
        }
      
      #wrapper {
        padding-top: 5%;
        width: 80%; 
        height: 100%;
        margin: 0 auto;
        border: 1px solid black; 
        padding-right: 5%;
        }
        /*constrains the width of what the div is
        margin: 0 auto;/*this centers the div, auto means 
        calculate based on whatever 
        i have on browser
    
      /*#nav {
          float: left;
          line-height:30px;
          background-color:white;
          height: 400px;
          width: 80px;
          padding: 10px;
          font-family: courier;
      
      }*/
      #nav {
        /*border: 1px solid #666666;*/
        text-align: center;
     
      }
      a {
        text-decoration: none;
        color: #666666;
      }
      
      #homepageimage {
          /*float: right;*/
          padding:10px;
          height: 700px;
          text-align: center;
        }
      div.thumbs {
        width: 20%;
        margin-right: 5%;
        margin-bottom: 5%;
        float: left;
      }


      div.thumbs img {
        width: 100%;
      }
     /*  div imag is 100% of the parent element */

      p {
        text-align: center;
      }

     /* #image1 {
        float: left;
      } */

      footer {
          background-color:white;
          color:#eeeeee;
          clear:both;
          text-align: center;
          padding: 5px;
          float:bottom;
          font-family: courier;
      }
