   * {
    font-family: courier;
    } 
    header {
          background-color:white;
          color:black;
          text-align:left;
          padding:10px;	
          font-family: courier;
          
      }
      h1 {
        font-family: courier;
        }
      a {
        font-family: courier;
        text-decoration: none;
      }
      #nav {
          line-height:30px;
          background-color:white;
          height: 400px;
          width: 100px;
          padding: 30px;
          font-family: courier;
          border: 1px solid black;
      
      }
      #homepageimage {
          position: absolute;
          right: 0px;
          vertical-align: top;
          width: 461px;
          padding:10px;
          
      }
      footer {
          background-color:white;
          color:#eeeeee;
          clear:both;
          text-align: center;
          padding: 5px;
          float:bottom;
          font-family: courier;
      }
