     
     /* 
all
     font-family: 'Source Code Pro', ;
      font-family: 'Droid Sans', sans-serif;  400 700
      font-family: 'Inconsolata', ;  400 700
      */
      

      h1, h2 {
        font-family:'Source Code Pro'; /*or Droid Sans*/
        font-weight: 700;}

      #nav_p {
        font-family: 'Inconsolata';
        font-weight: 400;
        }
        
        #nav {
        text-align: center;}

      span {
        text-decoration: underline;
        font-weight: 700;
      }
     
      a {
        color: gray;
        text-decoration: none;
      }
      
      a:hover {color: orange;}

       p {
        font-family: 'Inconsolata';
        text-align: center;
      } /*these are tags*/

        
        /* b4 all the switcheroo

        h1, h2 {
        font-family:'Arial', sans-serif;}
       p {
        font-family: 'Source Code Pro';
        } 
    
      #nav_p {
        font-family: 'Source Code Pro';} b4 all the switcheroo*/

      h1 {
        text-align: center;
        padding: 5px;
        margin-bottom: 1px;
        padding-top: 11px;
        font-size: 2.8em;
        }
      
      #wrapper {
        padding-top: 5%;
        width: 80%; 
        height: 100%;
        margin: 0 auto;
        border: 1px solid black; 
        padding-left: 4%;
        overflow: scroll;}

       
        /*constrains the width of what the div is
        margin: 0 auto;/*this centers the div, auto means 
        calculate based on whatever 
        i have on browser
    
      /*#nav {
          float: left;
          line-height:30px;
          background-color:white;
          height: 400px;
          width: 80px;
          padding: 10px;
          font-family: courier;
      }*/
     
      
      #homepageimage {
          padding:10px;
          height: 700px;
          text-align: center;
        }
      div.thumbs {
        width: 20%;
        margin-right: 5%;
        margin-bottom: 5%;
        float: left;
      }


      div.thumbs img {
        width: 100%;
      }
     /*  div imag is 100% of the parent element */


       #statement_wrapper {
        width: 80%; 
        height: 100%;
        border: 1px solid black; 
        padding: 2%;
        margin: 0 auto;}

         .statement_text {
          font-family: 'Inconsolata';
          text-align: left;
          font-size: .9em;
          line-height: 1.2em;}
    

        #left_column {
          float: left;
          width: 35%;
          height: 100%;}
        

        #right_column {
        float: right;
        width: 65%;
        height: 600px; 
        overflow: scroll;} 

      footer {
          background-color:white;
          color:#eeeeee;
          clear:both;
          text-align: center;
          padding: 5px;
          float:bottom;
          
      }
