@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


    .clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}

 




* {box-sizing: border-box;
	font-family: 'Roboto';}

body {
background: rgba(112,178,173,1);
background: -moz-linear-gradient(left, rgba(112,178,173,1) 0%, rgba(73,208,197,0.8) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(112,178,173,1)), color-stop(100%, rgba(73,208,197,0.8)));
background: -webkit-linear-gradient(left, rgba(112,178,173,1) 0%, rgba(73,208,197,0.8) 100%);
background: -o-linear-gradient(left, rgba(112,178,173,1) 0%, rgba(73,208,197,0.8) 100%);
background: -ms-linear-gradient(left, rgba(112,178,173,1) 0%, rgba(73,208,197,0.8) 100%);
background: linear-gradient(to right, rgba(112,178,173,1) 0%, rgba(73,208,197,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b2ad', endColorstr='#49d0c5', GradientType=1 );

}


 .row {
	    	height: auto;
	    	margin: 3% auto 3% auto;
	    	width: 100%;   
	    	clear: both;
	    }


	    .container {
		width: 90%;
		margin: 0 auto;}
		
		
/*///////////////////////////////////////////////////////////////////////
*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
	width: 30%;
    position: relative;
    display: inline-block;
    margin-left: 60%;
}


	.dropbtn {
    background-color: #e57373;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: magenta;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Roboto';
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: aliceblue;
color: teal;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: yellow;
    color: #039be5;
}


/*////////////////////////////////////////////////////////////////////////////////////////////*/


	#contact {
    		background-color: #E57DFB;
    		-webkit-box-shadow: 12px 10px 37px -6px rgba(224,160,130,1);
			-moz-box-shadow: 12px 10px 37px -6px rgba(224,160,130,1);
			box-shadow: 12px 10px 37px -6px rgba(224,160,130,1);

	    	}
		   
		  #contact h2{
        	font-family: 'Roboto';
        	color: #ABFEFF;
        	font-size: 2em;
        	margin-top: 1em;
        	padding: 1em;
        	border-bottom: black solid;
        	font-weight: 700;
        	
        }

        	#contact p {
        		font-family: 'Roboto';
        		font-weight: 500;
        		padding-bottom: 1em;
        	}


    	.col_s3c        /*this is the column for tools, will need to be queried*/
	       {width: 300px;
	       float: left;
	   		margin: 0 0 0 2em;}

		#tree1 p{
			color: chartreuse;
			font-size: 1.3em;
			-webkit-transform: skew(-30deg);
		    -moz-transform: skew(-30deg);
		    -o-transform: skew(-30deg);
		}
		

		.quote_solid {
			width: 30%;
			margin: 0 auto;
			-webkit-transform: skew(-30deg);
		    -moz-transform: skew(-30deg);
		    -o-transform: skew(-30deg);
		     border: 1px rgba(114,251,217,.7); solid;}
		

		     #lessons {
		    /* 	background-color: blue;*/
                 background-image: linear-gradient(to right, gray, white, gray, black);
		     	width: 19%;
		     	float: right;
		     	margin-right: 30%;
		     	box-shadow: 170px 0 10px yellow,
                330px 0 0 -20px blue,
                330px 5px 5px -20px black;}

		#divobject {
			width: 200px;
			border-radius: 50%;
             box-shadow: 170px 0 10px yellow,
                330px 0 0 -20px blue,
                330px 5px 5px -20px black;
                float: right;
                margin-right: 50%;

}


		#skew {
        font-family:'Source Code Pro'; 
        font-weight: 500;
        color: black;
        padding: 5% 5% 5% 5%;
        text-align: center;
        font-size: 1em;
		-webkit-transform: skew(30deg);
	    -moz-transform: skew(30deg);
        -o-transform: skew(30deg);}
		
		#teal {
			padding: 2em;
			color: yellow;
			background-color: teal;
			position: absolute;
			top: 5em;
			left: 5em;
			-webkit-box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			-moz-box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			border: 1em teal outset;
		}


		#teal:hover {
			background-color: magenta;
		}

		#teal:hover + #teal2{
			background-color: magenta;
		}

		#teal:hover ~ #triangle-topleft {
			border-top: 100px pink solid;
		}

		#teal2 {
			padding: 2em;
			color: yellow;
			background-color: snow;
			position: absolute;
			top: 10em;
			left: 5em;
			-webkit-box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			-moz-box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			border: 1em teal outset;
		}


		#pacman {
		  width: 0px;
		  height: 0px;
		  border-right: 60px solid transparent;
		  border-top: 60px solid aquamarine;
		  border-left: 60px solid red;
		  border-bottom: 60px solid yellow;
		  border-top-left-radius: 60px;
		  border-top-right-radius: 60px;
		  border-bottom-left-radius: 60px;
		  border-bottom-right-radius: 60px;
		  animation-name: diagonal-slide;
		  animation-duration: 5s;
		  animation-iteration-count: 10;
		  float: left;}

@keyframes diagonal-slide {

  from {
    left: 0;
    top: 0;
  }

  to {
    left: 100px;
    top: 100px;
  }

}


    	.circle 
    		{border-radius: 50%;
    		width: 5%;
    		height: 5%;
	    	margin: 3% auto 3% auto;
	    	float: left;
	    	padding: 5%;
	    	background-color: green;
	    	ms-transform: translate(50px,100px); 
			   	-webkit-transform: translate(50px,100px); 
			    transform: translate(50px,100px);
			     -webkit-transition-duration: 0.3s;
  			  transition-duration: 0.3s;
			    box-shadow: 110px 0 10px navy, 330px 0 0 -30px chartreuse,  330px 5px 5px -30px beige;
}

	    .circle img {
	    	width: 100%;
	    }

    	 .circle_me img {
    	 	width: 100%;
    	 	overflow: hidden;}


    	 	.monkey {
    	 		width: 50%;
    	 		position: relative;
    	 		top: 400px;
    	 		left: 200px;
    	 		z-index: 2;
    	 	}

    	 	.monkey img {
    	 		width: 20%;
    	 	}

    	 	#triangle-topleft {
			width: 0;
			height: 0;
			border-top: 100px solid red;
			border-right: 100px solid transparent;
			margin-right: 200px;
			margin-left: 300px;
			position: absolute;
			right: 10%;
			top: 35%;
}
				#triangle-topleft:hover {
			  animation-name: diagonal-slide;
			  animation-duration: 5s;
			  animation-iteration-count: 1;
			  -webkit-transition-duration: 0.3s;
  			  transition-duration: 0.3s;
			}

			@keyframes diagonal-slide {

			  from {
			    left: 0;
			    top: 35%;
			  }

			  to {
			    left: 600px;
			    top: 600px;
			  }

			}

		




			#shapemystery {
				width: 0;
				height:0;
				border-top: 100px solid lavenderblush;
				border-right: 75px solid lavenderblush;
				border-bottom: 23px solid pink;
				border-left: 48px solid transparent;
				position: absolute;
				right: 450px;
				top: 500px;}

			#borderfriend
			{
				width: 500px;
				height: 300px;
				background-color: aquamarine;
				border-style: double;
				border-color: yellow;
				border-right-width: 10px;
				border-top-left-radius: 60px;
				z-index: 2;
				}


			div#borderfriend:hover {
				background-color: pink;}


			
 

    	 	.monkey2 {
    	 		width: 50%;
    	 		position: absolute;
    	 		top: 400px;
    	 		left: 200px;
    	 		z-index: 2;
    	 	}

    	 	.monkey2 img {
    	 		width: 20%;
    	 	}

