	* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;}


        nav div{
        	width: 100px;
        	height: 85px;
        	float: left;
        	background: #e58c34;
        	margin: 10px;
        	text-align: center;
        	line-height: 80px;
        }