
     /* 
all
     font-family: 'Source Code Pro', ;
      font-family: 'Droid Sans', sans-serif;  400 700
      font-family: 'Inconsolata', ;  400 700
      */

      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
     

      h1, h2, nav {
        font-family:'Source Code Pro'; /*or Droid Sans*/
        font-weight: 700;
      }
        
        
        nav {
        padding-left: 4%;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 80%;
        text-align: left;
        margin: 0 auto;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        font-size: 16px;
        letter-spacing: 2px;}
     
      a {
        color: gray;
        text-decoration: none;
      }
      
      a:hover {color: orange;}
      a:active {color: black;}
      p {
        font-family: 'Inconsolata';
        text-align: left;

      } /*these are tags*/

        

      h1 {
        text-align: left;
        padding-bottom: .6em;
        padding-top: .3em;
        margin: 0 auto;
        padding-left: 4%;
        width: 80%;
        font-size: 2em;
        margin-bottom: 0em;
        /* border: 1px solid black; */
    }
      
      #homepageimage {
          width: 80%;
          height: 100%;
          padding-left: 4%;
          margin: 0 auto;
          padding-top: 3%;
          /*margin-left: 10em;*/
}
      
      #wrapper {
        padding-top: 3%;
        width: 80%; 
        height: 100%;
        margin: 0 auto;
        /*border: 1px solid black*/; 
        padding-left: 4%;
        /*overflow: scroll;*/}

       
        /*constrains the width of what the div is
        margin: 0 auto;/*this centers the div, auto means 
        calculate based on whatever 
        i have on browser*/

     #fatcolumn {
        float: left;
        width: 65%;
        padding-left: 10%;}

      #skinnycolumn {
        float: right;
        width: 35%;
      }
    
      div.fatthumbs {
        width: 60%;
        margin-bottom: 4%;
        
      }

      div.skinnythumbs {
        width: 60%;
        margin-bottom: 4%;
        /*margin-right: 5%;
        margin-bottom: 4%;
        float: left;*/
      }

      div.fatthumbs img, div.skinnythumbs img {
        width: 100%;
      }
     /*  div imag is 100% of the parent element */

/*wrapper slideshow experiement begins!*/

    div#wrapperslideshow {
        padding-top: 3%;
        width: 80%; 
        /*height: 100%;*/
        margin: 0 auto;
        /*border: 1px solid black*/; 
        padding-left: 4%;
       /* overflow: scroll;*/}

      div.slide {
        width: 60%;
        float: left;
        margin-bottom: 4%;
      }
      div.slide img {
        width: 100%;
      }
     