html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


    .clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}

#charlie:hover {
	    	background: white;
	    	border: 8px inset rgba(151,255,221,0.5);}

	body {
		font-size: 16px;}	/*set body font size so media queries can be simpler*/


		h1 {
		font-size: 4em;
		margin: .5em;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		color: purple;
	}

			#masthead {background: url("img/kickstarter-series.png") no-repeat center center fixed;
		    /*    background-size: cover;*/
		        background-size: 100%;
		        width: 100%;
		        padding: 8em;
		      /*  position: fixed;*/
		        margin: 0 auto;}

		        .contact-btn {
				width: 15%;
				margin: 0 auto;
				border: .15em solid #faf9f9;
				background-color: rgba(255,39,82,.9);
				text-align: center;
			}

			.contact-btn a {
				margin: 0 auto;
				/*background-color: yellow;*/
				text-decoration: none;
				text-align: center;
				padding: 10px 20px;
				display: inline-block;
				font-family: 'Open Sans', sans-serif;
				color: blue;
				font-weight: 700;
			}

			   .wrap {
				width: 80%;
				margin: 1em auto;
				padding: 1em;
				/*border: .15em solid #faf9f9;*/
			}

			.overlay {
				background-color: rgba(255,255,255,255);
				width: 100%;
				/*margin: 2em auto;*/
				padding: 1em;
				/*border: .15em solid #faf9f9;*/
			}

			#top-menu {
				width: 45%;
				float: 	right;
				/*border-width: 	1px;
				border-color: 	red;
				border-style: 	solid;*/
				text-align: center;

			}

			#logo img {
				width: 20%;
			}


			 div#toolz {
    	 	width: 80%;
    	 	margin: 0 auto;
    	 	height: 50%;
    	 	background-image: url("img/tools.jpg");
    	 	background-color: aliceblue;
    	 }

    	 #toolz img {
    	 	width: 100%;
    	 }

    	 .circle 
    		{border-radius: 50%;
    		width: 15%;
    		height: 15%;
	    	margin: 3% auto 3% auto;}

	    .circle img {
	    	width: 100%;
	    }

    	 #quote_solid {
			width: 30%;
			margin: 0 auto;
			-webkit-transform: skew(-30deg);
		    -moz-transform: skew(-30deg);
		    -o-transform: skew(-30deg);
		     background: white;
		     border: 1px rgba(114,251,217,.7); solid;}
		

		#skew {
        font-family:'Roboto Condensed'; 
        font-weight: 500;
        color: black;
        padding: 5% 5% 5% 5%;
        text-align: center;
        font-size: 1em;
		-webkit-transform: skew(30deg);
	    -moz-transform: skew(30deg);
        -o-transform: skew(30deg);}

/*ABOVE IS NECESSARY TO TEMPLATE, BELOW IS FRIVOLITY I SO LOVE*/

	a:hover {-webkit-box-shadow: 10px 10px 91px 0px rgba(39,242,208,0.39);
			-moz-box-shadow: 10px 10px 91px 0px rgba(39,242,208,0.39);
			box-shadow: 10px 10px 91px 0px rgba(39,242,208,0.39);}

    h3 {font-size: 25px;}
    
    #header {
  		margin: 10% auto;
  		width: 100%;
         background-color: yellow;
     	height: 2em;}

   nav {
      	width: 13%;
        position: fixed; top: 10px; left: 0px; 
        /*display: block;*/
   /*   	font-size: 1em;*/
      	text-decoration: none;
      	margin: 1% auto 1% 1%;
      	background: rgba(13,29,69,0.58);
      	/*background: rgba(90,76,166,0.58);*/}
		
	
        #bloc_p {
      	color: white;
        text-decoration: none;
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 200;
        font-size: 1.2em;
	    padding-top: 1.5em;
	    padding-right: 1em;
	    padding-left: 1em;
	    padding-bottom: 1.5em;
		border: 1px rgba(13,29,69,0.2) dashed;}
	    /*display: inline-block;*/

	    #bloc_p a{
	    	text-decoration: none;
	    }
      
      	nav a
      	{text-decoration: none;}
	    p {text-decoration: none;}

	    #bloc_p:hover {color: #65FAC3;}


/*necessary template*/

	/* media queries media queries media queries*/
		 @media only screen and (max-width: 1220px) {
		 	body {font-size: 16px;
	}	
		 	}

         @media only screen and (max-width: 1100px) {
		 	body {font-size: 16px;}
		 	}


	    @media only screen and (max-width: 960px) {
		    body {font-size: 15px;}
	    
			}

		@media only screen and (max-width: 860px) {
			body {font-size: 15px;}
			}

		@media only screen and (max-width: 650px) {
			  body {font-size: 14px;}
			}
		
		@media only screen and (max-width: 550px) {
			  body {font-size: 14px;}
			}
		
		@media only screen and (max-width: 480px) {
			  body {font-size: 14px;}

		}