
@import 'https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; }

* {
	box-sizing: border-box;

	
}

.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}





body {
    font-size: 12px;
    background-color: #D2D2D2;
    font-family: 'Roboto', sans-serif;
    // font-family: "founders_grotesk_textlight";
}

.buttonsToFlipSides {
    position: absolute;
    top: 42px;
    left: 19px;
}

.flipSideButton1,
.flipSideButton2,
.flipSideButton3,
.flipSideButton4,
.flipSideButton5 {
    width: 81px;
    height: 33px;
    font-size: 13px;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-radius: 8px;
    margin-bottom: 4px;
    background-color: #646485;
    background-color: #aeadad;
}

.flipSideButton1.selectedSide,
.flipSideButton2.selectedSide,
.flipSideButton3.selectedSide,
.flipSideButton4.selectedSide,
.flipSideButton5.selectedSide {
    background-color: #456270;
}

.buttonSections {
    display: inline-block;
    padding: 10px 0;
    border-top: 1px gray solid;
}

#wrapper {
    width: 600px;
    height: 760px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: #26264E;
}

.topHeader {
    width: 100%;
    height: 30px;
    padding: 6px;
    // background-color: #26264E;
    border-bottom: 1px #364373 solid;
}

.logo {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #0069CB;
    border-radius: 50%;
}

.beaconLogoText {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: -1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .9);
}

.toolTip {
    min-width: 21px;
    position: absolute;
    left: 47px;
    top: 20px;
    // top: -3px;
    border-radius: 5px;
    padding: 3px;
    font-weight: 500;
    transition: .3s;
    text-align: center;
    border: none;
    background-color: #FF9800;
    background-color: #ffae00;
    background-color: #ffc600;
    color: black;
}

.alertHeader {
    height: 43px;
    // background-color: #26264E;
    position: relative;
}

.colorDot {
    width: 9px;
    height: 9px;
    position: absolute;
    left: 5px;
    top: 11px;
    /* display: inline-block; */
    /* float: left; */
    border-radius: 50%;
    margin-right: 3px;
}


.searchField {
    width: 166px;
    height: 22px;
    background-color: #f5f5f5;
    margin: 12px 16px 0 2px;
    border-radius: 21px;
    outline: none;
    border: none;
    padding-left: 15px;
    font-size: 12px;
    float: right;
}

#searchTicker {
    margin-top: 9px;
}

.typeStockClient {
    margin-left: 20px;
    padding-top: 14px;
    font-weight: 500;
    // color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    letter-spacing: .6px;
    float: left;
    width: 133px;
    width: 316px;
    color: rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, 1);
}

.typeStockClient span {
    padding-right: 10px;
    font-size: 13px;
    padding-right: 17px;
    opacity: .5;
}

.typeStockClient span.selected {
    color: #fafafa;
    opacity: 1;
}

.upperNumDisplay {
    font-weight: 400;
    display: inline-block;
    // font-weight: 300;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.upperNumDisplay.total {
    padding-right: 10px;
}

.urgText {
    color: rgb(247, 69, 92);
}

.upNumSurround {
    display: inline-block;
    border-left: 1px rgba(255, 255, 255, 0.8) solid;
    border-right: 1px rgba(255, 255, 255, 0.8) solid;
    padding: 0px 5px;
    margin-left: 10px;
}

.reset {
    display: inline-block;
    padding-top: 15px;
    margin-left: 34px;
    letter-spacing: .6px;
    color: rgba(255, 255, 255, 1);
}

.sideBar {
    width: 85px;
    padding-top: 6px;
    float: left;
}

#cockpit {
    width: 100%;
    position: relative;
    height: 340px;
        height: 626px;
    border-bottom: 1px rgba(0, 0, 0, .15) solid;
    overflow: hidden;
}

#stockpit,
#clientpit {
    width: 469px;
    width: 499px;
    width: 489px;
    float: right;
    height: 299px;
        height: 626px;
    margin-top: 8px;
    overflow-y: scroll;
}

#tickerZone {
    width: 100%;
    height: 295px;
}

.typeRow {
    width: 100%;
    height: 31px;
    // background-color: #26264e;
    padding: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    transition: .3s;
    border-right: 1px #364373 solid;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 11px;
}

.typeRow:hover {
    background-color: #464671;
}

.typeRowAlerts {
    float: right;
}

.summaryBoxStock {
    width: 72px;
    width: 80px;
    height: 42px;
    margin: 8px 19px 2px 0;
    margin: 0 8px 10px 0;
    margin: 0 14px 10px 0;
    padding-top: 6px;
    position: relative;
    float: left;
    box-sizing: border-box;
    transition: .3s;
    // text-align: center;
    text-transform: uppercase;
}

/*/////////////////////// COLORS ////////////////////////*/

.urgentLight {
    background-color: rgba(226, 62, 83, .45);
    background-color: rgba(247, 69, 92, .4);
    background-color: rgba(235, 62, 83, .4);
    
}

.urgent {
    background-color: rgba(226, 62, 83, .7);
    background-color: rgba(247, 69, 92, .7);
    background-color: rgba(235, 62, 83, .7);
   
}

.urgentExtreme {
    background-color: #E23E53;
    background-color: rgb(247, 69, 92);
    background-color: rgba(235, 62, 83, 1);
   
}

.row.urgentMarker {
    border-left: 10px solid rgba(235, 62, 83, 1);
}

.notUrgent {
    background-color: #36365c;
    background-color: rgba(57, 56, 98, 1);
    background-color: #40406b;
}

/*///////*/

.urgentLight.red2 {
    background-color: #e45d6d;
    // background-color: #e44c5e;

    
}

.urgent.red2 {
    
    background-color: #e45d6d;
    // background-color: #e44c5e;
    
}

.urgentExtreme.red2 {
    
   background-color: #e45d6d;
   // background-color: #e44c5e;
}

.row.urgentMarker.red2 {
    border-left: 10px solid #e45d6d;
}

.urgText.red2 {
    color: #e45d6d;

}
.notUrgent.red2 {
    
    background-color: #414d83;
    background-color: rgba(126, 128, 144, 0.8);
    background-color: rgba(130, 133, 160, 0.8);
    background-color: rgba(149, 210, 213, 0.8);
    background-color: rgba(149, 189, 213, 0.8);
    background-color: #40436b;
}

/*///////*/

.urgentLight.red3 {
    background-color: rgba(243, 70, 101, .4);
    
}

.urgent.red3 {
    background-color: rgba(243, 70, 101, .7);
    
}

.urgentExtreme.red3 {
    background-color: rgba(243, 70, 101, 1);
    
}

.row.urgentMarker.red3 {
    border-left: 10px solid rgba(243, 70, 101, 1);
}


/*///////*/

.urgentLight.orange {
    background-color: #e66b2c;
    
}

.urgent.orange {
    background-color: #e66b2c;
}

.urgentExtreme.orange {
   background-color: #e66b2c;
}

.row.urgentMarker.orange {
    border-left: 10px solid #e66b2c;
}

.urgText.orange {
    color: #e66b2c;

}


/*///////*/


.urgentLight.red3mono {
    background-color: rgba(243, 70, 101, .85);
    
}

.urgent.red3mono {
    background-color: rgba(243, 70, 101, .85);
}

.urgentExtreme.red3mono {
   background-color: rgba(243, 70, 101, .85);
}

.row.urgentMarker.red3mono {
    border-left: 10px solid rgba(243, 70, 101, 1);
}

.urgText.red3mono {
    color: rgba(243, 70, 101, 1);

}


/*///////*/

.clientBoxTitle,
.stockBoxTitle {
    font-size: 12px;
    letter-spacing: .5px;
    padding-top: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .9);
    font-weight: 500;
}


.clientBoxTitle {
    font-size: 11px;
    // padding-bottom: 1px;
}





.stockBoxTitle,
.numberSummaryBoxStock,
.numberSummaryBoxClient,
.clientBoxTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    padding-left: 6px;
}


.numberSummaryBoxStock,
.numberSummaryBoxClient
 {
    font-weight: 500;
    color: rgba(255, 255, 255, .9);
    font-size: 12px;
    
}

.numberSummaryBoxStock {
    padding-top: 4px;
}

.numberSummaryBoxClient {
    padding-top: 5px;
}




/*/////////////////////// FEED ////////////////////////*/

.aboveColHeader {
    background-color: #f0f0f0;
    width: 100%;
    height: 36px;
    padding: 5px 10px 5px 10px;
    border-top: none;
}

.aboveColHeader span {
    padding: 7px 0px;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    width: 40px;
    // text-align: center;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.4);
}

.alertRowNew {
    border-bottom: 1px #eeeeee solid;
}

.alertRowNew:hover {
    background-color: #364373;
    background-color: #373762;
    background-color: #464671;
    // background-color: #a4a4f7;
}

.row {
    width: 100%;
    padding: 7px 0;
    border-left: 10px solid transparent;
    display: flex;
    align-items: center;
}



.row .col {
    flex: 1;
    border-right: 1px #364373 solid;
    color: rgba(255, 255, 255, .95);
}

.row .col:last-child,
.row.columnHeader .col {
    border-right: 1px transparent solid;
}

.row .col:last-child {
    border-right: none;
}

.width_1of2 {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 50%;
}

.alertTimeCol {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 17%;
}

.typeCol {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 7%;
}

.actionsCol {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 13%;
}

.actionsCol i {
    font-size: 17px;
    padding-right: 4px;
}

.col {
    margin-left: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0px;
}

.nameCol {
    font-weight: 500;
    letter-spacing: .3px;
    // font-size: 13px;
}

.alertTimeCol span {
    // padding: 7px 5px;
    display: inline-block;
    min-width: 40px;
}

.columnHeader {
    width: 100%;
    color: rgba(0, 0, 0, .54);
    padding: 6px 15px 6px 0px;
    padding: 5px 15px 5px 0px;
}

.columnHeader,
.columnHeader .col {
    color: rgba(0, 0, 0, .54);
}

#feed {
    width: 600px;
    height: 515px;
    overflow-y: scroll;
    overflow-x: hidden;
}


/*  /////////  dark blue styles  /////////////  */



.aboveColHeader {
    background-color: #26264E;
    border-top: 2px solid #364373;
}

.columnHeader,
.columnHeader .col {
    // background-color: #26264E;
    color: rgba(255, 255, 255, 0.5);
    border-right: none;
    // background-color: #373762;
}

.columnHeader {
    border-bottom: 1px #364373 solid;
}

.alertRowNew {
    border-bottom: 1px #364373 solid;
}

#cockpit {
    border-bottom: 1px #364373 solid;
}

#stockpit::-webkit-scrollbar {
    width: 12px;
}

#stockpit::-webkit-scrollbar-track {
    background-color: #1f1f41;
}

#stockpit::-webkit-scrollbar-thumb {
    background-color: #40406b;
}

#clientpit::-webkit-scrollbar {
    width: 12px;
}

#clientpit::-webkit-scrollbar-track {
    background-color: #1f1f41;
}

#clientpit::-webkit-scrollbar-thumb {
    background-color: #40406b;
}

#feed::-webkit-scrollbar {
    width: 12px;
}

#feed::-webkit-scrollbar-track {
    background-color: #1f1f41;
}

#feed::-webkit-scrollbar-thumb {
    background-color: #40406b;
}




.darkerWrapper {
    background-color: #1f1f41 !important;
}



/*/////////////  left align ////////////// */



/*////////// toast //////////// */

.toast {
    position: absolute;
    width: 300px;
    height: 74px;
    background-color: #00BCD4;
    padding: 10px;
    z-index: 5;
    border-radius: 3px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.toastTitle,
.toastMsg,
.toastMoreInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.toastTitle {
    font-weight: 500;
    margin-top: 6px;
    font-size: 11px;
    width: 80%;
}

.toastMsg {
    font-weight: 400;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.54);
    width: 81%;
}

.toastMoreInfo {
    font-weight: 400;
    width: 50%;
    float: left;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.54);
}

.toastMoreInfo span {
    padding-right: 6px;
}

.actionsToast {
    position: absolute;
    top: 46px;
    left: 225px;
    width: 76px;
    padding: 5px;
}

.actionsToast i {
    font-size: 14px;
    padding-right: 6px;
}

.actionsToast .mdi-check {
    padding-right: 0px;
}

.toast .mdi-close {
    position: absolute;
    top: 5px;
    left: 279px;
    font-size: 14px;
}

#sticky {
    top: 18px;
    left: 478px;
}

#fade {
    top: 100px;
    left: 478px;
}
