@font-face {
  font-family: 'aicon';
  src:  url('fonts/aicon.eot?qyyhy5');
  src:  url('fonts/aicon.eot?qyyhy5#iefix') format('embedded-opentype'),
    url('fonts/aicon.woff2?qyyhy5') format('woff2'),
    url('fonts/aicon.ttf?qyyhy5') format('truetype'),
    url('fonts/aicon.woff?qyyhy5') format('woff'),
    url('fonts/aicon.svg?qyyhy5#aicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="aicon-"], [class*=" aicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aicon-arrow-down:before {
  content: "\e901";
}
.aicon-arrow-left:before {
  content: "\e908";
}
.aicon-arrow-right:before {
  content: "\e909";
}
.aicon-arrow-up:before {
  content: "\e90c";
}
.aicon-calendar:before {
  content: "\e92b";
}
.aicon-calendar-check:before {
  content: "\e92f";
}
.aicon-calendar-day:before {
  content: "\e930";
}
.aicon-check:before {
  content: "\e917";
}
.aicon-check-mini:before {
  content: "\e90f";
}
.aicon-chevron-double-left:before {
  content: "\e90d";
}
.aicon-chevron-double-right:before {
  content: "\e90e";
}
.aicon-chevron-down:before {
  content: "\e911";
}
.aicon-chevron-left:before {
  content: "\e912";
}
.aicon-chevron-right:before {
  content: "\e913";
}
.aicon-chevron-up:before {
  content: "\e914";
}
.aicon-circle:before {
  content: "\e916";
}
.aicon-close:before {
  content: "\e903";
}
.aicon-close2:before {
  content: "\e91b";
}
.aicon-cloud:before {
  content: "\e928";
}
.aicon-cog:before {
  content: "\e919";
}
.aicon-cog-outline:before {
  content: "\e91a";
}
.aicon-comment:before {
  content: "\e900";
}
.aicon-comment-hide:before {
  content: "\e91c";
}
.aicon-copy:before {
  content: "\e910";
}
.aicon-dots-horizontal:before {
  content: "\e90a";
}
.aicon-dots-vertical:before {
  content: "\e90b";
}
.aicon-edit:before {
  content: "\e91e";
}
.aicon-edit-pencil:before {
  content: "\e91f";
}
.aicon-filter:before {
  content: "\e91d";
}
.aicon-filter-plus:before {
  content: "\e922";
}
.aicon-filter-slider:before {
  content: "\e923";
}
.aicon-filter-stack:before {
  content: "\e926";
}
.aicon-logout:before {
  content: "\e918";
}
.aicon-menu:before {
  content: "\e920";
}
.aicon-moon:before {
  content: "\e921";
}
.aicon-open:before {
  content: "\e915";
}
.aicon-person:before {
  content: "\e902";
}
.aicon-plus1:before {
  content: "\e904";
}
.aicon-plus2:before {
  content: "\e905";
}
.aicon-plus3:before {
  content: "\e906";
}
.aicon-refresh:before {
  content: "\e907";
}
.aicon-search:before {
  content: "\e92c";
}
.aicon-sun:before {
  content: "\e924";
}
.aicon-sun-outline:before {
  content: "\e925";
}
.aicon-trashcan:before {
  content: "\e937";
}
