@import url(http://fonts.googleapis.com/css?family=Raleway|Merriweather:400,300|Merriweather+Sans:400,300,700);

	/*font-family: 'Raleway', sans-serif; 
	font-family: 'Merriweather', serif;
	font-family: 'Merriweather Sans', sans-serif;   */

	* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      

      header {
            width: 100%;
            background-color: #f4fae6;
      }
      
      h1 {
            font-family: 'Merriweather Sans', sans-serif;
            font-weight: 700;
            float: left;
            line-height: 2em;
            padding-left: 1em;
            padding-right: 1em;
            /*width: 70%;*/
            background: #f4fae6;}


   nav {
            float: right;
            border: 5px #e8feb7 solid;
            font-family: 'Merriweather Sans', sans-serif;
            font-weight: 700;
            line-height: 3em;
            background-color: #888786;      /*dfc795*/
            }

           a {
                  text-decoration: none;
                  /*border: 1px black solid;*/
                  padding: 10px 20px;
                  color: white;
                  /*text-align: center;*/}
            

            a:hover {color: #e8feb7;}
            
           
         
            p {
                  font-family: 'Raleway';
                  padding: 3% 10% 25% 10%;
                  background: #f3f2f0;
                  color: black;
                  }

            footer p {
                  font-family: 'Raleway';
                  /*padding: 3% 10% 25% 10%;*/
                /*  background: black;*/
                  color: black; 
                  padding: 4%;  
                  }
            div#wrapper {
            	width: 80%;
            	margin: 0 auto;				
            }

        .clearfix:after {
                  visibility: hidden;
                  display: block;
                  font-size: 0;
                  content: " ";
                  clear: both;
                  height: 0;}   
          
          img#allure {
            width: 80%;
            padding: 1em auto;
          } 

       footer {
            width: 100%;
            clear: both;
            float: bottom;
            margin: 0 auto;
            text-align: center;
            font-family: 'Raleway';
            padding-bottom: none;
      }