@import url(http://fonts.googleapis.com/css?family=Raleway|Merriweather:400,300|Merriweather+Sans:400,300,700);

	/*font-family: 'Raleway', sans-serif; 
	font-family: 'Merriweather', serif;
	font-family: 'Merriweather Sans', sans-serif;   */

	* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;}
      
     
      body {
            background-image: url("laptop2.gif");
            background-repeat: no-repeat;
            background-size: 100%;   
            /*background-size: this fixed everything!!!!!!!!!!!!!!!*/
           }

      body img {
            /*z-index: -1;*/
            width: 100%;
            margin: 0 auto;}

  

       h1 {
            font-family: 'Merriweather Sans';
            font-weight: 700;
            float: left;
            line-height: 2em;
            padding-left: 1em; }
       
       div#aboutgray {
            width: 100%;
            background: #27a98d;
            /*border: 5px blue solid;*/
            display: block;
      }

      

      nav {
            float: right;
            border: 1px black solid;
            font-family: 'Merriweather Sans';
            font-weight: 700;
            line-height: 3em;}

           a {
                  text-decoration: none;
                  border: 1px black solid;
                  padding: 10px 20px;
                  /*text-align: center;*/}
            

            a:link {color: black;}
            

            a:hover {color: green;}
            
            div#missionstatement {
            	/*clear: both;
            	width: 100%;
            	margin: 0 auto;
                  padding-top: 10%;*/
                  border: 5px red solid;
            }
            
         
            p {
                  font-family: 'Raleway';
                  padding: 4em;
                  background: #f3f2f0;
                  }

            div#wrapper {
            	width: 80%;
                  padding: 3% 0 0 6%;
            	/*margin: 0 auto;		this was for previous image		
            	padding: 3% 0% 0% 4%;*/
            }
         
            div#displaydiv {
                width: 100%;
                margin: 9% auto;
         }
            
            div#displaybox {
                  background: black;
                  width: 91%;
                  margin-left: 2%;
                  /*margin: 0 auto;*/
                  /*-moz-box-shadow: 5px 5px 5px 5px #777777;
                  -webkit-box-shadow: 5px 5px 5px 5px #777777;
                  box-shadow: 5px 5px 5px 5px #777777;*/
            }
            div#homepageimage {
                  width: auto;
                 /* height: 600px;*/
                  padding: 0 3% 0 0;
                  overflow-x: scroll;
                  overflow-y: hidden;
                  white-space: nowrap;
            }


            .clearfix:after {
                  visibility: hidden;
                  display: block;
                  font-size: 0;
                  content: " ";
                  clear: both;
                  height: 0;}    


            section {
                    margin: 8em 0;
                    background: #27a98d;
                    color: #fff;
                    overflow: auto;
                  }


            div#logo {
                    width: 2em;
                    float: left;
                    margin: 4%;
                  }

           
      h2#about {font-family: 'Merriweather Sans';
            font-weight: 700;
            text-align: center;
            border: 1px black solid;
            margin: 0 auto;
            font-size: 2em;
            padding: 1em 0 0 0;
            background: #f3f2f0;
            text-transform: uppercase;
            display: block;}

      h2#contact {font-family: 'Merriweather Sans';
            font-weight: 700;
            text-align: center;
            border: 3px blue solid;
            margin: 0 auto;
            font-size: 2em;
            padding: 1em;
            background: #27a98d;
            color: #ccffcc;
            text-transform: uppercase;
            z-index: -1;
      }
         
      footer {
      	background: #ccffcc;
            width: 100%;
            clear: both;
      	float: bottom;
            margin: 0 auto;
            text-align: center;
            font-family: 'Raleway';
      }