@import url(http://fonts.googleapis.com/css?family=Raleway|Merriweather:400,300|Merriweather+Sans:400,300,700);

	/*font-family: 'Raleway', sans-serif; 
	font-family: 'Merriweather', serif;
	font-family: 'Merriweather Sans', sans-serif;   */

	* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      

      header {
      	width: 80%;
      	margin: 5% auto;
      }
     
       div#bodyviv {
            width: 100%;
            background-image: url("becca_office1400.gif");}
      
      #bodydiv img {
            width: 80%;
            margin: 0 auto;}

       h1 {
      	font-family: 'Merriweather Sans';
      	font-weight: 700;
      	/*border: 1px black solid;*/
      	width: 40%;
      	/*margin: 0 auto;*/
      	float: left;
      }

      nav {
      	width: 330px; 
     	      float: right;
      	border: 1px black solid;
      	font-family: 'Raleway';
            text-align: right;
            padding: 20px 42px;
            word-spacing: 2em;
      }
      span {
            color: white;
      }
      
      div#missionstatement {
      	clear: both;
      	width: 80%;
      	margin: 0 auto;
            padding-top: 5%;
      }

      p {
      font-family: 'Raleway';
      }



      div#wrapper {
      	width: 80%;
      	
      	margin: 0 auto;				
      	padding: 4% 4% 4% 4%;
      }
     /* div.left_tog_col {
            width: 15%;
            float: left;
      }
      div.right_tog_col {
            width: 15%;
            float: left;
      }
      p.toggle1 {
            font-family: 'Merriweather Sans';
            font-weight: 700;
            font-size: 25pt;
            color: black;
            padding-top: 100%;
      }
      p.toggle2 {
            font-family: 'Merriweather Sans';
            font-weight: 700;
            font-size: 25pt;
            color: black;
            text-align: right;
            padding-top: 100%;
      }*/

      /*div#homepageimage {
          width: 70%;
          float: left;
          padding: 3%;
          background: black;
          margin: 0 auto;

      }

     div#homepageimage img {
      width: 100%;
     }*/
      
      div#displaydiv {
          width: 100%;
          /*float: left;*/
         /* padding: 3%;
          background: black;*/
          margin: 0 auto;
   }
      div#displaybox {
            border: 3px black solid;
            width: 100%;
      }
      div#homepageimage {
            width: auto;
            padding: 3%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
      }
           

            /*#myWorkContent a {     what is this part--a---in the guys code?????????????
                display: inline-block;
                vertical-align: middle;   
            }

            #myWorkContent img {border: 0;}*/

      footer {
      	width: 80%;
            clear: both;
      	float: bottom;
            margin: 0 auto;
            text-align: center;
            font-family: 'Raleway';
      }