//////////// AG-GRID ////////////
$ag-zebra: var(--ag-zebra);
$animation-cell-change: var(--animation-cell-change);

//////////// BACKGROUND ////////////
$background-main: var(--background-main);
$background-subtle: var(--background-subtle);
$code-background: var(--code-background);

//////////// BORDERS ////////////
$border-color: var(--border-color);
$border-emphasis: var(--border-emphasis);

//////////// BOX_SHADOWS ////////////
// $box-shadow-for-layout: var(--box-shadow-for-layout);
// $common-box-shadow: var(--common-box-shadow);
// $widget-selected-box-shadow: var(--widget-selected-box-shadow);
$nav-box-shadow: var(--nav-box-shadow);

//////////// BUTTONS ////////////
$outline-btn-text-gray: var(--outline-btn-text-gray);
$outline-btn-border-gray: var(--outline-btn-border-gray);
$outline-btn-text-accent: var(--outline-btn-text-accent);
$outline-btn-border-accent: var(--outline-btn-border-accent);
$outline-btn-bkgd: var(--outline-btn-bkgd);
$solid-btn-bkgd-gray: var(--solid-btn-bkgd-gray);
$solid-btn-bkgd-accent: var(--solid-btn-bkgd-accent);
$solid-btn-bkgd-accent-hvr: var(--solid-btn-bkgd-accent-hvr);
$icon-button-color: var(--icon-button-color);
$outline-btn-border-green: var(--outline-btn-border-green);

//////////// CHARTS ////////////

//////////// CHECKBOX / RADIO ////////////
$checkbox-radio-border-color: var(--checkbox-radio-border-color);
$checkbox-background: var(--checkbox-background);
$radio-focus-offset: var(--radio-focus-offset);
$radio-focus: var(--radio-focus);
$checkbox-inner-check-color: var(--checkbox-inner-check-color);
$checkbox-subtle-border: var(--checkbox-subtle-border);
$checkbox-subtle-focus: var(--checkbox-subtle-focus);
$inner-check-subtle: var(--inner-check-subtle);

//////////// COLORS ////////////
$gray-bold: var(--gray-bold);
$gray-bold-med: var(--gray-bold-med);
$gray-medium: var(--gray-medium);
$gray-med-subtle: var(--gray-med-subtle);
$gray-subtle: var(--gray-subtle);
$gray-very-subtle: var(--gray-very-subtle);
$blue-bold: var(--blue-bold);
$blue-medium: var(--blue-medium);
$blue-bold-med: var(--blue-bold-med);
$blue-med-subtle: var(--blue-med-subtle);
$blue-subtle: var(--blue-subtle);
$blue-very-subtle: var(--blue-very-subtle);
$cooler-blue-medium: var(--cooler-blue-medium);
// $cooler-blue-med-subtle: var(--$ColorCoolerBlueMediumSubtle,
$cooler-blue-subtle: var(--cooler-blue-subtle);
$cooler-blue-very-subtle: var(--cooler-blue-very-subtle);
$green-bold: var(--green-bold);
$green-bold-med: var(--green-bold-med);
$green-medium: var(--green-medium);
$green-med-subtle: var(--green-med-subtle);
$green-subtle: var(--green-subtle);
$green-very-subtle: var(--green-very-subtle);

$red-bold: var(--red-bold);
$yellow-green-bold: var(--yellow-green-bold);
$yellow-green-bold-med: var(--yellow-green-bold-med);
$yellow-green-medium: var(--yellow-green-medium);
$yellow-green-med-subtle: var(--yellow-green-med-subtle);
$yellow-green-subtle: var(--yellow-green-subtle);
$yellow-green-very-subtle: var(--yellow-green-very-subtle);

//////////// DROPDOWN ////////////
$dropdown-background: var(--dropdown-background);

//////////// INPUTS ////////////
$input-background: var(--input-background);
$input-border: var(--input-border);
$placeholder-text: var(--placeholder-text);

//////////// LOADER ////////////
$loader-background: var(--loader-background);
$loader: var(--loader);

//////////// NAV ////////////
$navbar-bkgd: var(--navbar-bkgd);
$nav-link-inactive: var(--nav-link-inactive);

//////////// POPUP / MODAL ////////////
$popup-background: var(--background-main);
$popup-border: var(--input-border);

//////////// ROW ////////////
$selected-row: var(--selected-row);
$row-hover: var(--row-hover);

//////////// SCROLLBAR ////////////
$scrollbar-track-thumb: var(--scrollbar-track-thumb);
$scrollbar-track-thumb-hover: var(--scrollbar-track-thumb-hover);

//////////// TEXT Letter-spacing, Size, Weight, Color ////////////
$font-variable: "SofiaPro-Regular";
$regular-letter-spacing: 0.1px;
$wide-letter-spacing: 0.5px;
$light600-dark400: var(--light600-dark400);
$light600-dark300: var(--light600-dark300);
$light400-dark300: var(--light400-dark300);
$light700-dark600: var(--light700-dark600);
$light800-dark700: var(--light800-dark700);
$emphasis-text: var(--emphasis-text);
$regular-text: var(--regular-text);
$blue-text: var(--blue-text);
$red-text: var(--red-text);
$green-text: var(--green-text);
$label-text: var(--label-text);

//////////// TOGGLE ////////////
$toggle-text-inactive: var(--toggle-text-inactive);
$toggle-background: var(--toggle-background);
$toggle-button: var(--toggle-button);

//////////// TOOLTIP ////////////
$tooltip-background: var(--tooltip-background);
$tooltip-text: var(--tooltip-text);

//////////// Z-INDEX ////////////

// $zindex-dropdown: 1000;
$zindex-dropdown: 1070; // now higher for click outside
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal: 1040;
$zindex-popup: 1060;
$zindex-tooltip: 1080;

$heatMapRed1: #cd5b81;
$heatMapRed2: #8d4f69;
$heatMapRed3: #524053;
$heatMapGreen1: #009e7c;
$heatMapGreen2: #197062;
$heatMapGreen3: #235454;
$comm-services: #0c9174;
$con-discretionary: #e4668a;
$con-staples: #f3bd63;
$energy: #58a2fd;
$financials: #13727c;
$healthcare: #d98ba5;
$industrials: #2a78d8;
$info-tech: #9d60dc;
$materials: #ffa610;
$real-estate: #8982a2;
$utilities: #4be4d5;
$execSvcs: #0c9174;
$opt-group-background: #4e586b;
$CVthisYearBar: #7a4bb3;
$CVthisYearBarHighlight: #a65efd;
$red-background: #cd5f80;
$blue-background: #4a7ec0;
$entity-background: #8a2be2;

$financial-wrapper-bkgd: var(--financial-wrapper-bkgd);
