

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic);





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; }

* {
	box-sizing: border-box;}

.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}





	
body {
    font-size: 12px;
    background-color: #D2D2D2;
    font-family: 'Roboto', sans-serif;
}

#backgroundPrototype {
    width: 600px;
    height: 700px;
    background-image: url("backgroundPrototype.png");
    background-size: cover;
    position: absolute;
    left: 2em;
    z-index: -1;
    // margin: 0 auto;
}

#contactWrapper {
    width: 500px;
    height: 644px;
    height: 672px;
        height: 661px;
    background-color: white;
    // background-color: #e9ecf0;
    margin: 1em auto;
    position: relative;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar .mdi-close {
    position: absolute;
    left: 474px;
    font-size: 17px;
    top: 5px;
    color: rgba(255, 255, 255, 0.9);
    color: #3d3e45;
}

.bar {
    width: 100%;
    height: 30px;
    height: 58px;
    height: 64px;
        height: 61px;
        height: 108px;
            height: 112px;
    background-color: #dadde3;
    background-color: #C7CCD6;
    background-color: #c9cfd7;
    background-color: #dadde3;
        background-color: #e9ecf0;
    background-color: #14c1ac;
    font-weight: 300;
    font-weight: 500;
        font-weight: 400;
    font-size: 12px;
    color: #3d3e45;
    color: blue;
    // color: white;
    padding-left: 25px;
    padding-top: 10px;
    padding-top: 24px;
    padding-top: 36px;
        padding-top: 40px;




//     background: rgba(218,221,227,1);
// background: -moz-linear-gradient(top, rgba(218,221,227,1) 0%, rgba(233,236,240,1) 100%);
// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(218,221,227,1)), color-stop(100%, rgba(233,236,240,1)));
// background: -webkit-linear-gradient(top, rgba(218,221,227,1) 0%, rgba(233,236,240,1) 100%);
// background: -o-linear-gradient(top, rgba(218,221,227,1) 0%, rgba(233,236,240,1) 100%);
// background: -ms-linear-gradient(top, rgba(218,221,227,1) 0%, rgba(233,236,240,1) 100%);
// background: linear-gradient(to bottom, rgba(218,221,227,1) 0%, rgba(233,236,240,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadde3', endColorstr='#e9ecf0', GradientType=0 );
    background-color: #ffffff;

}

.moreDetails {
	display: inline-block;
	padding-left: 5px;
	color: #2196F3;
	color: #0553ff;
}
.mdi-information-variant, .contactInfo {
	margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    color: white;
    padding: 1px;
    position: relative;
    top: -2px;
    border-radius: 50px;
    background-color: #2196F3;
    background-color: #0069cb;
	            // background-color: #5b6874;
}

/*//////// Contact Name, Action Menu /////////*/


.profileBar {
    width: 500px;
    height: 90px;
    height: 68px;
    height: 56px;
        height: 51px;
            height: 47px;
    padding-left: 25px;
    position: relative;
    background-color: white;
    // padding-top: 7px;
    background-color: #dadde3;
    // background-color: #f6f7f8;
    // 	background-color: #EBEDF0;
}

// .profileNameText {
//     font-weight: 600;
//     font-size: 18px;
//         padding-top: 22px;
//     display: inline-block;
//     color: rgba(0,0,0,.87);
//     cursor: pointer;
//     border-bottom: 1px transparent solid;
//     transition: .3s;
// }
.profileNameText {
    font-weight: 500;
        font-weight: 600;
    font-size: 18px;
        // font-size: 20px;
    letter-spacing: .3px;
       color: black;
    color: rgba(0, 0, 0, .87);
 
    // color: blue;
        // color: #0678f9;
    // padding-top: 22px;
    // padding-bottom: 5px;
    display: inline-block;
    // color: white;
    cursor: pointer;
    border-bottom: 1px transparent solid;
    // border-bottom: 1px black solid;
    transition: .3s;
}

.profileNameText:hover {
    border-bottom: 1px black solid;
    transition: .3s;
}

.companyText, .companyTextBar {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: .3px;
    padding-top: 4px;
    // display: inline-block;
    // font-weight: 500;
}

// .companyTextBar {
// 	padding-top: 6px;
// 	color: rgba(0, 0, 0, 0.8);
// }

.etlText,
.segmentText,
.coverageText {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: .3px;
    padding-top: 4px;
    display: inline-block;
    // font-weight: 500;
}

.coverageText {
    font-weight: 500;
}

.segmentText,
.coverageText {
    margin-left: 12px;
}

// .segmentText {
// 	font-weight: 600;
// }
#actionMenu {
    border-radius: 50px;
    background-color: #14c1ac;
        background-color: rgba(20, 193, 172, .7);
            background-color: rgba(20, 193, 172, 1);
    position: absolute;
    right: 37px;
    top: 23px;
    top: 9px;
    top: -19px;
        top: 37px;
    font-size: 20px;
    padding: 9px;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

#actionMenu i {
	color: white;
	font-size: 20px;
}

/*//////// biz card /////////*/

#contactBizCard {
    width: 480px;
    position: absolute;
    right: 10px;
    top: 31px;
    z-index: 4;
    background-color: white;
    // background-color: #08a798;
    border: 1px rgb(15, 133, 227) solid;
    display: inline-block;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.barContact {
    width: 100%;
    height: 28px;
    background-color: yellow;
    background-color: rgba(0, 105, 203, 1);
    background-color: rgb(15, 133, 227);
}

#contactBizCard .barContact .mdi-close {
    color: white;
    position: absolute;
    font-size: 17px;
    top: 5px;
    right: 5px;
}

#contactBizCard .barContact .mdi-pencil {
    color: white;
    position: absolute;
    font-size: 17px;
    top: 5px;
    right: 45px;
}

.contactBizCardWrapper {
    padding: 10px 25px 25px 25px;
}

.contactNameText {
    font-weight: 600;
    font-size: 17px;
    color: rgba(0, 0, 0, .87);
}

.contactCompanyText {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: .3px;
    padding-top: 6px;
    display: inline-block;
    font-weight: 500;
}

// .labelBesideInfo {
//     color: rgba(0,0,0, .29);
//     color: black;
//     display: inline-block;
//     padding-right: 9px;
//     font-weight: 500;
// }
.initialsWrapper {
    float: left;
    width: 12%;
}

.initials {
    border-radius: 50px;
    background-color: rgb(15, 133, 227);
    color: white;
    font-size: 21px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    min-height: 42px;
    min-width: 42px;
    display: inline-block;
    // float: right;
    // margin: 0 10px;
}

.profileWrapper {
    float: right;
    width: 84%;
}


/*//////// menu /////////*/

#actionButtonGroup {
    width: 134px;
    position: absolute;
    right: 22px;
    top: 50px;
    top: 34px;
    z-index: 4;
    background-color: white;
    // background-color: #08a798;
    font-size: 11px;
    display: inline-block;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.barMenu {
    width: 100%;
    height: 28px;
    background-color: #14c1ac;
}

#actionButtonGroup .barMenu .mdi-close {
    color: white;
    position: absolute;
    font-size: 17px;
    top: 5px;
    right: 5px;
}

.actionMenuItem {
    cursor: pointer;
    padding: 3px 3px;
    margin: 10px 0;
    font-size: 12px;
    padding-left: 15px;
}

.mdi-email {
    font-size: 18px;
}

// .mdi-email-outline {
// 	color: rgba(0,105,203, .7);
// }
// .mdi-email-outline:hover {
// 	color: rgba(0,105,203, .9);
// }
.ibChat {
    width: 18px;
    position: relative;
    top: 1px;
}

.ibChat img {
    display: inline-block;
    width: 100%;
}


/*//////// callNotes sectionNotes /////////*/

#callNotesTitle,
#sectionNotesTitle {
    text-transform: uppercase;
    color: rgba(0, 105, 203, 0.9);
    // color: rgba(21, 101, 192, 1);
    font-size: 12px;
    letter-spacing: .1px;
    /*border-bottom: .5px rgba(6, 113, 212, 0.4) solid;*/
    /*width: 100%;*/
    display: inline-block;
    margin-left: 15px;
    padding-top: 9px;
    padding-bottom: 3px;
}

.selected {
    border-bottom: 2px rgb(6, 113, 212) solid;
}

.sectionBox {
    width: 215px;
    height: 116px;
    margin-bottom: 10px;
    background-color: white;
    position: relative;
    border: 1px solid #C9CFD7;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.sectionBox:hover {
    cursor: pointer;
    transition: box-shadow .2s;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.mdi-chevron-right {
    position: absolute;
    left: 193px;
    top: 2px;
    font-size: 18px;
    // color: rgba(0, 105, 203, 0.7);
}

.mdi-chevron-left {
    font-size: 22px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: -4px;
}

.notesBox {
    margin-top: 15px;
    // margin-left: 25px;
    width: 449px;
    // height: 73px;
    height: 75px;
    background-color: white;
    clear: both;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.readership {
    float: left;
    // margin-top: 15px;
    // margin-top: 19px;
    // margin-left: 25px;
}

.touchpoints {
    float: right;
    // margin-top: 15px;
    // margin-top: 19px;
    // margin-right: 25px;
}

.securities {
    float: left;
    // margin-left: 25px;
    // margin-top: 15px;
    // margin-bottom: 15px;
}

.meetings {
    float: right;
    // margin-right: 25px;
    // margin-top: 15px;
    // margin-bottom: 15px;
}

.sectionBoxTitle {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1px;
    width: 100%;
    display: inline-block;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
    background-color: #E5EBF3;
    background-color: white;
    background-color: #e9ecf0;
    /* border-bottom: 1px #C9CFD7 solid; */
}

#sectionNotesTitle {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1px;
    /* width: 100%; */
    display: inline-block;
    /* padding-left: 15px; */
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #e9ecf0;
    background-color: #E5EBF3;
    background-color: white;
}

.textWrapper {
    width: 97%;
    padding: 11px 0 0 15px;
}

#notesWrapper {
    width: 97%;
    padding: 7px 0 0 15px;
}

// #notesWrapper {
// 	display: none;
// }
.innerTextTitle {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .1px;
    line-height: 1.2em;
    display: inline-block;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, .9);
}

.innerTextSubtitle {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .1px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, .54);
}

.innerTextThird {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .1px;
    line-height: 1.3em;
    color: rgba(0, 0, 0, .54);
}

.innerTextBottom {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .1px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, .54);
    display: inline-block;
    position: absolute;
    bottom: 6px;
}

.notesText {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .1px;
    line-height: 1.3em;
    color: rgba(0, 0, 0, .54);
    /*display: inline-block;*/
    /*margin-top: 1em;*/
}

#callNotesWrapper,
#infoWrapper {
    width: 500px;
    height: 326px;
    height: 330px;
    // background-color: white;
    margin: 0 auto;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 8px 25px 10px 25px;
    z-index: 3;
    top: 158px;
}

.callNotesBarParent {
    width: 100%;
    padding: 0 25px;
}

.callNotesBar {
    width: 100%;
    height: 39px;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 105, 203, 1);
    color: rgba(0, 0, 0, .9);
    // border-top: 1px #aab3bf solid;
    padding-top: 13px;
    text-transform: uppercase;
}

.callNotesBar span {
    font-weight: 500;
    display: inline-block;
    padding-bottom: 3px;
}

.callNotesBar span {
    cursor: pointer;
}

.callNotesBar span.selected {
    border-bottom: 3px solid rgba(0, 105, 203, 1);
}

#callNotesTab {
    margin-left: 12px;
}


/*//////// Rows /////////*/

.divItsaRow,
.rowInfo {
    width: 100%;
    padding-top: 12px;
}

.divItsaRow:first-of-type,
.rowInfo:first-of-type {
    padding-top: 5px;
}

.divItsaRowInput,
.rowInput {
    width: 100%;
    // height: 80px;
    margin-top: 15px;
}

.divItsaRowInput:first-of-type,
.rowInput:first-of-type {
    margin-top: 5px;
}

.rowContactCard {
    width: 100%;
    padding: 14px 0px 20px 0px;
    border-bottom: 1px #c2c7cd solid;
    margin-bottom: 10px;
}

.rowContactFlex {
    width: 100%;
    padding: 10px 0 5px 0px;
    // padding-top: 2px;
    display: flex;
    border-bottom: 1px #eeeeee solid;
    align-items: center;
}

.rowContactFlex .col {
    flex: 1;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: .1px;
    font-weight: 500;
}

.rowContactFlex .col.labelCol {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 20%;
        width: 26%;
    color: rgba(0, 0, 0, .29);
    color: black;
    font-weight: 500;
    // text-align: right;
}


/*//////// DROPDOWNS--the containers for part thats visible /////////*/

.dropDownTextBox {
    position: relative;
    border: 1px #d7dadf solid;
    padding: 9px 6px;
    background-color: white;
}

#afterCallPlaced .dropDownTextBox.inactive {
    background-color: transparent;
    border: 1px #a7a7a7 solid;
}

.dropDownTextBox .mdi-menu-down {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 0px;
}

.dropDownTextBox .mdi-clock,
.dropDownTextBox .mdi-calendar {
    display: inline-block;
    font-size: 17px;
    position: absolute;
    top: 7px;
    right: 3px;
    color: rgba(0, 105, 203, 1);
    color: rgb(15, 133, 227);
    cursor: pointer;
}

.selectTitleTotal {
    display: inline-block;
    width: 281px;
}

.dateWithTriangle2 {
    display: inline-block;
    width: 152px;
    margin-left: 1em;
}

.durationTotal {
    display: inline-block;
    width: 152px;
    margin-left: 1em;
}

.inputWrapperNew {
    border: 1px #dbdbdb solid;
    padding: 8px 6px;
}

.inputWrapperChip {
    border: 1px #d7dadf solid;
    max-height: 50px;
    // overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 17px;
    padding: 9px 6px 6px 6px;
    background-color: white;
}


/* TEXT inside DROPDOWNS*/

.selectTitle,
#date2,
.durationHour {
    display: inline-block;
    width: 174px;
    text-align: left;
    color: #272727;
}

#date2,
.durationHour {
    width: 105px;
}


/* //////// INPUTS //////// */

input,
textarea {
    font-family: 'Roboto';
    font-size: 12px;
    padding: .5rem;
    padding: 8px 6px;
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: left;
    color: #272727;
    outline: none;
    border: none;
    // font-size: 14px;
    border: 1px #d7dadf solid;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #272727;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #272727;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #272727;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #272727;
}

.textFieldWrapper {
    min-height: 67px;
    line-height: 1.5em;
}

textarea {
    resize: vertical;
}

.enterSubject {
    width: 281px;
}


/* //////// DROP DOWN UL //////// */

#selectMenu li,
#selectDriverMenu li {
    display: none;
    padding: .5em 0 .5em .7em;
    color: rgba(0, 105, 203, 0.8);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

#selectMenu {
    position: absolute;
    top: 44px;
    left: 26px;
    width: 192px;
    z-index: 3;
    text-align: left;
    background-color: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    // border: 1px #a7a7a7 solid;
}

#fakeCalendar {
    background: url('angular_calendar.png') no-repeat;
    background-size: cover;
    z-index: 4;
    width: 250px;
    height: 225px;
    position: absolute;
    right: 0px;
    top: 4px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    // border: 1px #a7a7a7 solid;
}


/*//////// NOTchip chip chip /////////*/

.labelBesideChip {
    color: rgba(0, 0, 0, .29);
    display: inline-block;
    padding-right: 9px;
    font-weight: 500;
    float: left;
}

.outsideLabel {
    color: rgba(0, 0, 0, .29);
    display: inline-block;
    padding-bottom: 4px;
    font-weight: 500;
}

.emptyChipInput,
.cityInputWithChip {
    display: inline-block;
    // width: 100%;
    // float: left;
    text-align: left;
    padding: 0 0 .4em 0;
    color: #9e9e9e;
    // margin-bottom: .5em;
    // margin-left: 2em;
}

.cityInputWithChip,
.emptyChipInput {
    min-height: 20px;
}

.labelSearch {
    display: inline-block;
}

.nonChip {
    display: inline-block;
    // height: 30px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    // line-height: 32px;
    // padding: 0 12px;
    // border-radius: 16px;
    // background-color: #e4e4e4;
    // background-color: #e9f0f7;
    // background-color: #ebf3fb; 
}

.chip i.material-icons {
    cursor: pointer;
    float: right;
    font-size: 16px;
    // line-height: 32px;
    padding-left: 8px;
}

.chipIcon.mdi-close {
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    position: relative;
    font-size: 13px;
    top: 1px;
    padding-left: 8px;
    /* margin-bottom: 5px; */
    /* position: static; */
    color: #6b6b6b;
}

.searchIcon {
    width: 13px;
    margin-right: 8px;
    // padding-right: 1rem;
}

.chip {
    display: inline-block;
    // position: relative;
    height: 23px;
    font-size: 11px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    /* line-height: 32px; */
    padding: 4px 10px;
    border-radius: 16px;
    background-color: #ebf3fb;
    background-color: #B2EBF2;
    background-color: #d4e5f6;
}

.chip {
    display: inline-block;
    height: 26px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    /* line-height: 32px; */
    padding: 6px 8px;
    border-radius: 16px;
    background-color: rgb(232, 234, 246);
    /* background-color: #B2EBF2; */
    background-color: #d4e5f6;
    background-color: #E1F5FE;
    background-color: #e1e7fa;
    background-color: #e9ecf0;
    // background-color: #d4e5f6;
}


/*//////// BOTTOM BAR /////////*/

.iconWrapperTriangle {
    display: inline-block;
    padding-bottom: 1px;
    padding-right: 2px;
    font-size: 18px;
}

#bottomBarCall {
    width: 500px;
    height: 155px;
        // height: 121px;
        //     height: 57px;
    padding: 10px 25px;
    background-color: #e9ecf0;
    background-color: #c8d0da;
    background-color: #c9cfd7;
    position: absolute;
    top: 489px;
        top: 506px;
    z-index: 2;
    background-color: #d7dadf;
    background-color: #dadde3;
        background-color: #e9ecf0;
//     background: rgba(233,236,240,1);
// background: -moz-linear-gradient(top, rgba(233,236,240,1) 0%, rgba(218,221,227,1) 100%);
// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,236,240,1)), color-stop(100%, rgba(218,221,227,1)));
// background: -webkit-linear-gradient(top, rgba(233,236,240,1) 0%, rgba(218,221,227,1) 100%);
// background: -o-linear-gradient(top, rgba(233,236,240,1) 0%, rgba(218,221,227,1) 100%);
// background: -ms-linear-gradient(top, rgba(233,236,240,1) 0%, rgba(218,221,227,1) 100%);
// background: linear-gradient(to bottom, rgba(233,236,240,1) 0%, rgba(218,221,227,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9ecf0', endColorstr='#dadde3', GradientType=0 );
}

#bottomBarEnd {
	height: 155px;
    width: 500px;
    padding: 10px 25px;
    position: absolute;
    top: 489px;
    top: 506px;
    z-index: 3;
}

.callNumber,
.voiceDropTitle,
.emailDropTitle {
    background-color: white;
    width: 200px;
    // border: none;
    display: inline-block;
}

// .voiceDropTitle, .emailDropTitle {
// 	width: 200px;
// }
.emailDropTitle {
    float: right;
}

.callingRow {
    margin-bottom: 20px;
}

.counterText {
    position: absolute;
    top: 22px;
    left: 275px;
    font-weight: 500;
    font-size: 14px;
    color: #6b6b6b;
    letter-spacing: .5px;
}




.voiceDropChoose {
    position: absolute;
    display: inline-block;
    /* top: -66px; */
    /* left: 265px; */
    z-index: 3;
    width: 200px;
    text-align: left;
    background-color: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    // border: 1px #a7a7a7 solid;
}

.ulTitle {
    display: inline-block;
    width: 135px;
    position: absolute;
    top: 6px;
    left: 345px;
    background-color: #F8F9F9;
    background-color: #f4f6f8;
    background-color: #eaedf1;
    // background-color:#eaeff6;
    text-align: left;
    // position: relative;
    padding: .5em 0 .5em .7em;
    // left: -.3em;
    color: #6b6b6b;
    // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    // border: 1px black solid;
}

#bottomBarEnd .mdi-chevron-down {
    display: inline-block;
    position: relative;
    top: -19px;
    left: 462px;
    font-size: 17px;
    color: #6b6b6b;
}

.voiceDropChoose li {
    // background-color: #F1F3F5;
    padding: .5em 0 .5em .7em;
    color: rgba(0, 105, 203, 0.8);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    // border: 1px black solid;
}

.voiceDropChoose li:hover {
    background-color: #F0F0F0;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

#bottomBarCall .mdi-microphone,
#bottomBarCall .mdi-pencil {
    font-size: 15px;
    margin-right: 5px;
}

.callButton {
    display: inline-block;
    position: absolute;
    right: 28px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: white;
    letter-spacing: .4px;
    background-color: #14c1ac;
    padding: 8px 0px;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
}

.endCallButton {
    display: inline-block;
    position: absolute;
    right: 28px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: white;
    letter-spacing: .4px;
    background-color: #ff7676;
    outline: none;
    border: none;
    padding: 8px 0px;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
}

// .lowOpacity {
//     opacity: .1;
// }

.contactButtonGroup {
    float: right;
}

.contactButton {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    padding: 8px 9px;
    border: 1px solid #8598A7;
    /* width: 100px; */
    text-align: center;
    font-size: 11px;
    margin-right: 10px;
    border-radius: 8px;
    display: inline-block;
    z-index: 4;
    color: rgba(0, 0, 0, .8);
}

.logNext {
    background-color: black;
    background-color: #878d96;
    color: rgba(255, 255, 255, .9);
    width: 100px;
    margin-right: 0px;
        background-color: #78818e;
}

#callPhoneButton {
    color: white;
    position: absolute;
    left: 260px;
    top: 8px;
    font-size: 28px;
}


