@font-face {
    font-family: 'Graphit-Regular';
    src: url('Graphit-Regular.woff2') format('woff2'),
        url('Graphit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphit-Light';
    src: url('Graphit-Light.woff2') format('woff2'),
        url('Graphit-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphit-Bold';
    src: url('Graphit-Bold.woff2') format('woff2'),
        url('Graphit-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphit-Medium';
    src: url('Graphit-Medium.woff2') format('woff2'),
        url('Graphit-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}