.crb-title-row {
  font-size: 2rem;
  margin-top: 1.3em;
  height: 30px;
  align-items: center;
  .label-style {
    margin-right: 8px;
  }
}
.client-row {
  height: 25px;
  align-items: flex-end;
  .label-style {
    margin-right: 5px;
  }
}
.ticker-title,
.client-title {
  @include no-overflow;
}
.crb-top-inputs {
  display: grid;
  //   grid-gap: 10px;
  //   grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 15px;

  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 450px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 451px) {
    grid-template-columns: 1fr 1fr auto;
  }
  @media screen and (min-width: 520px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.crb-input {
  // margin-top: 2rem;
  // background-color: rgba(255, 255, 255, 0.06);
  // color: white;
  // border: 1px rgba(255, 255, 255, 0.09) solid;
  font-size: 1.4rem;
  padding-top: 2px;
  text-transform: uppercase;

  &::placeholder {
    // font-style: italic;
    // color: white;
    text-transform: lowercase;
  }
}

.crb-button {
  &.green {
    // height: 34px;
    width: 71px;
    letter-spacing: 0.08em;
    background-color: var(--crb-btn-bkgd);
    border: 1px var(--crb-btn-border) solid;
    color: var(--crb-btn-text);

    &:hover {
      background-color: var(--crb-btn-hover);
      border: 1px var(--crb-btn-hover) solid;
      color: white;
      transition: 0.3s;
    }
  }
  &.red {
    // height: 34px;
    width: 71px;
    letter-spacing: 0.08em;
    background-color: var(--crb-btn-red-bkgd);
    border: 1px var(--crb-btn-red-border) solid;
    color: var(--crb-btn-red-text);

    &:hover {
      background-color: var(--crb-btn-red-hover);
      border: 1px var(--crb-btn-red-hover) solid;
      color: white;
      transition: 0.3s;
    }
  }
}

.dropdown-container {
  &.crb {
    background-color: var(--crb-bkgd);
    top: 2.9em;
    button {
      border: 1px transparent solid;
      margin-bottom: -1px;
      &:hover {
        background-color: var(--crb-bkgd);
        border: 1px yellow solid;
      }
      &:active,
      &:focus {
        background-color: var(--crb-bkgd);
        border: 1px yellow solid;
      }
    }
  }
}

.invisible-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: $zindex-modal;
  background-color: transparent;
  top: 0;
  left: 0;
}
// input:invalid:required {
//   border-color: red;
// }
