		
/*@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Old+Standard+TT:400,400italic,700|Work+Sans:400,300,700|Roboto:400,300,500,700,700italic|Source+Sans+Pro:400,300,700);*/

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Work+Sans:400,300,700,100,200,500,600,800,900);
/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Work Sans', sans-serif;*/

/*font-family: 'Old Standard TT', serif;  AND ROBOTO Looked great together*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}



* {box-sizing: border-box;
	font-size: 16px;

}


body {
	background: rgba(211,227,198,1);
background: -moz-linear-gradient(left, rgba(211,227,198,1) 0%, rgba(179,198,201,1) 71%, rgba(119,165,181,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(211,227,198,1)), color-stop(71%, rgba(179,198,201,1)), color-stop(100%, rgba(119,165,181,1)));
background: -webkit-linear-gradient(left, rgba(211,227,198,1) 0%, rgba(179,198,201,1) 71%, rgba(119,165,181,1) 100%);
background: -o-linear-gradient(left, rgba(211,227,198,1) 0%, rgba(179,198,201,1) 71%, rgba(119,165,181,1) 100%);
background: -ms-linear-gradient(left, rgba(211,227,198,1) 0%, rgba(179,198,201,1) 71%, rgba(119,165,181,1) 100%);
background: linear-gradient(to right, rgba(211,227,198,1) 0%, rgba(179,198,201,1) 71%, rgba(119,165,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3e3c6', endColorstr='#77a5b5', GradientType=1 );
	}

header h1{
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Libre Baskerville', serif;*/
	font-weight: 200;
	/*font-style: italic;*/
	font-size: 2em;
	margin-bottom: 1em;
}

.leftTree {
	width: 10%;
	height: 100%;
	padding: 10%;
	/*color: #292B0D;*/
	transform: skew(-5deg);
	float: left;
	position: relative;
	left: -600px;
	background-color: rgba(41, 43, 13, .54);
	-webkit-box-shadow: 500px -44px 5px 0px rgba(41, 43, 13, .84);
	-moz-box-shadow: 500px -44px 5px 0px rgba(41, 43, 13, .84);
	box-shadow: 500px -44px 5px 0px rgba(41, 43, 13, .84);

	border-radius: 10px 200px 100px 200px;
	-moz-border-radius: 10px 200px 100px 200px;
	-webkit-border-radius: 10px 200px 100px 200px;
	/*z-index: 5;*/
}


.leftCloud img {
	width: 100%;
}

.leftCloud {
	width: 100px;
	float: left;
	position: relative;
	left: -150px;
	top: 0px;
	animation-name: slide;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	}

	@keyframes slide {

	  0% {
	    left: -150px;
	    top: 0px;
	  }

	  50% {
	    left: -50px;
	    top: 0px;}

	}

	  98% {
	    left: -150px;
	    top: 0px;}

	}

}

.wholeLeftTree img {
	width: 80%;
}


.wholeLeftTree{
	width: 20%;
	position: relative;
	left: -200px;
	top: 100px;
	float: left;
	z-index: 2;
}

/*#relative {
	position: relative;
	width: 600px;
}*/

#myParent {
	position: relative;
}

canvas {
 	/*border: 2px aliceblue outset;*/
 	/*display: inline-block;*/
 	margin: 0 auto 0 auto;
 	position: relative;
 	float: left;
 	left: -150px;
 	z-index: 1;
 }

.centerWrapper {
	width: 600px;
	margin: 10px auto 0 auto;
	position: relative;
	top: -100px;
	/*border: 1px black solid;*/
	clear: both;
}

button#showPainting, button#whoPoussin, button#whoClark {
  background: transparent;
  /*text-align: center;*/
  border: 2px solid #fff;
  border-radius: 1em;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 1em 1.5em;
  display: block;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1em;
  /*position: absolute;
  left: 50%;
  top: 700px;*/
  /*transform: translate3d(-50%, -50%, 1em);*/
  transition: all 0.4s ease-out;
  /*z-index: 2;*/

}
#poussinInfo {
	width: 600px;
}

/*#poussinInfo h1{
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 3em;
}*/


#poussinInfo h1, #bookInfo h1{
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	/*font-style: italic;*/
	font-size: 3em;
	margin-bottom: 1em;
}

#bookInfo h1 {
	text-align: right;
	/*font-family: 'Libre Baskerville', serif;*/
}

h5 {
	font-family: 'Libre Baskerville', serif;
	font-size: 18em;
	font-style: italic;

}

h6 {
	font-family: 'Work Sans', sans-serif;
	font-size: 18em;
	font-weight: 200;
	text-align: right;

}

#poussinInfo p{
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 1.5em;
}



#bookInfo {
	width: 600px;
	/*background-image: url("amazonClark.png");*/
	background-size: cover;
	/*font-family: 'Work Sans';*/
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 1.5em;
}

#poussinPainting {
	width: 600px;
	height: 440px;
	background-image: url("landscape_with_calm sml.png");
	background-size: cover;

}




