   * {
    font-family: courier;
    } 

      h1 {
        text-align: left;
        padding: 20px;
        }
      
      #wrapper {
        width: 800px;/*constrains the width of what the div is*/
        margin: 0 auto;/*this centers the div, auto means 
        calculate based on whatever 
        i have on browser*/
      }
      #nav {
          float: left;
          line-height:30px;
          background-color:white;
          height: 400px;
          width: 80px;
          padding: 10px;
          font-family: courier;
      
      }
      a {
        text-decoration: none;
        color: #666666;
      }
      ul {list-style-type: none;
      }
      #homepageimage {
          float: right;
          padding:10px;
          height: 400px;
          
      }
      footer {
          background-color:white;
          color:#eeeeee;
          clear:both;
          text-align: center;
          padding: 5px;
          float:bottom;
          font-family: courier;
      }
