@import 'https://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';
@import 'https://fonts.googleapis.com/css?family=Assistant:300,400,600,700,800|Biryani:200,300,400,600,700,800,900|Fira+Sans:300,400,500,700|Khula:300,400,600,700,800|Source+Sans+Pro:200,300,400,600,700,900|Ubuntu:300,400,500,700|Yantramanav:300,400,500,700,900';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic);
/*font-family: 'Assistant', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Khula', sans-serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Biryani', sans-serif;*/
/* line 14, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000314}}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/*////////////////////////////// FROM GRID ///////////////////////////////////////*/
/* line 31, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000331}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* line 52, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000352}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 56, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000356}}
body {
  line-height: 1;
}
/* line 59, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000359}}
ol,
ul {
  list-style: none;
}
/* line 62, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000362}}
blockquote,
q {
  quotes: none;
}
/* line 65, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000365}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 70, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000370}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 74, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000374}}
* {
  box-sizing: border-box;
}
/* line 82, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000382}}
body {
  font-size: 14px;
  background-color: #D2D2D2;
  font-family: 'Roboto', sans-serif;
}
/* line 88, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000388}}
#wrapper {
  width: 600px;
  height: 760px;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0 auto;
}
/* line 99, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000399}}
header {
  height: 63px;
  width: 100%;
  background: white;
  position: relative;
  height: 71px;
  height: 74px;
  background: #e7e6e6;
}
/* line 113, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003113}}
#search {
  width: 4%;
  position: absolute;
  top: 20px;
  left: 10px;
}
/* line 121, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003121}}
#search img {
  width: 100%;
}
/* line 125, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003125}}
.topRightActions {
  width: 65px;
  display: inline-block;
  font-size: 25px;
  position: relative;
  left: 515px;
  top: -17px;
  top: -11px;
  color: #0069CB;
}
/* line 137, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003137}}
#nineBox {
  width: 25px;
  height: 25px;
  font-size: 25px;
  position: absolute;
  left: 34px;
  top: 0px;
  color: #0069CB;
  cursor: pointer;
  /*border: 1px black solid;*/
}
/* line 150, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003150}}
.mdi-window-minimize {
  font-size: 19px;
  position: absolute;
  top: 2px;
  left: 570px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 158, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003158}}
#nineBox img {
  width: 100%;
}
/* line 164, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003164}}
#logo {
  width: 30px;
  position: absolute;
  z-index: 3;
  margin: 5px 0 0 10px;
  top: 0px;
}
/* line 172, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003172}}
.beaconLogoText {
  position: relative;
  left: 45px;
  top: 10px;
  text-transform: uppercase;
}
/* line 179, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003179}}
#logo img {
  width: 75%;
}
/* line 183, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003183}}
.bar {
  width: 100%;
  height: 40px;
  background-color: #0069CB;
}
/* line 189, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003189}}
.bar h1 {
  font-size: 14px;
  color: white;
  padding-left: 30px;
  padding-top: 14px;
  display: inline-block;
  text-transform: uppercase;
}
/* line 198, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003198}}
.topSearch {
  background-color: white;
  /* color: white; */
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  width: 430px;
  height: 35px;
  position: relative;
  text-align: left;
  padding-bottom: 1em;
  /* left: 5px; */
  /* padding-bottom: 5px; */
  /* top: -20px; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* padding-top: 5px; */
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.8);
  /* text-align: center; */
  transition: 0.3s ease-in;
  width: 450px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 224, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003224}}
.dropdownSearch {
  font-size: 14px;
  /* display: inline-block; */
  width: 445px;
  /* height: 35px; */
  position: relative;
  left: 49px;
  top: 19px;
  /* top: 27px; */
  /* border: 1px solid rgba(0,0,0, 0.2); */
  /* padding-top: 5px; */
  border-radius: 2px;
  text-align: left;
  z-index: 3;
  transition: 0.3s ease-in;
}
/* line 241, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003241}}
.topSearch .mdi-magnify {
  position: relative;
  font-size: 24px;
  top: 17px;
  left: -26px;
  color: rgba(0, 0, 0, 0.5);
  top: 6px;
  left: 21px;
}
/*////////////////// END FROM GRID ///////////////////*/
/* line 253, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003253}}
#threeDotWhiteAlert {
  position: relative;
  display: inline-block;
  left: 469px;
  top: 3px;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 22px;
  cursor: pointer;
}
/* line 262, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003262}}
.alertHeader {
  height: 49px;
  border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
}
/* line 269, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003269}}
.allOpenClosed {
  margin-left: 30px;
  padding-top: 22px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.44);
  cursor: pointer;
}
/* line 279, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003279}}
.allOpenClosed span {
  padding-right: 5px;
}
/* line 284, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003284}}
.allOpenClosed .selected {
  color: #0069CB;
}
/* line 289, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003289}}
#alertSummaryHeadings {
  height: 70px;
  padding-left: 30px;
  padding-top: 10px;
  border-bottom: 6px #DCE2E8 solid;
}
/* line 296, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003296}}
.summary {
  display: inline-block;
  text-align: center;
  margin-right: 6.9%;
}
/* line 302, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003302}}
.summaryTotal {
  margin-left: 1%;
  padding-right: 4.6%;
  margin-right: 4.6%;
  border-right: 1px #DCE2E8 solid;
}
/* line 309, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003309}}
.summary .numbers {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.9);
  padding-bottom: 5px;
  font-weight: 500;
}
/* line 328, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003328}}
.summary .numbers:hover {
  cursor: pointer;
}
/* line 332, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003332}}
.numbers.selectedNumbers {
  border-bottom: 6px #0069CB solid;
}
/* line 336, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003336}}
.summaryLabel {
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 5px;
  font-weight: 500;
}
/* line 343, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003343}}
.cockpit {
  width: 100%;
  padding-left: 30px;
  height: 280px;
  border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
}
/* line 350, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003350}}
.summaryBox {
  width: 124px;
  height: 107px;
  background-color: #F4F6F8;
  margin-top: 15px;
  margin-top: 20px;
  margin-right: 15px;
  padding-top: 13px;
  position: relative;
  float: left;
  box-sizing: border-box;
  transition: .3s;
}
/* line 363, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003363}}
.summaryBox:hover {
  background-color: #e0eefb;
  background-color: #e0e9f1;
  transition: .3s;
}
/* line 370, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003370}}
#riskSummaryBox:hover ~ .risk {
  background-color: #fcf1f3;
}
/* line 374, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003374}}
.summaryBoxLeft {
  width: 50%;
  float: left;
  padding-left: 5%;
}
/* line 380, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003380}}
.summaryBoxRight {
  width: 50%;
  float: left;
}
/* line 386, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003386}}
.summaryBoxTitle {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5px;
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.9);
}
/* line 397, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003397}}
.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 2px;
}
/* line 416, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003416}}
.numberSummaryBox {
  font-family: 'Cabin Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-top: 16px;
}
/* line 435, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003435}}
.minRow {
  margin-left: 11px;
  width: 46px;
  padding: 1px 3px 2px 2px;
  transition: 0.2s ease-in;
}
/* line 449, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003449}}
.summaryBoxCategory {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 468, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003468}}
.numberSummaryBoxMini {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  text-align: right;
  float: right;
  letter-spacing: -0.7px;
}
/* line 489, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003489}}
.metricBar {
  background-color: #C9CFD7;
  position: relative;
  top: 74px;
  width: 100%;
  height: 12px;
}
/* line 497, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003497}}
.blueMetric {
  height: 100%;
  min-width: 1px;
  background-color: #2196F3;
  transition: .3s;
}
/* line 504, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003504}}
.lineMetric {
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 100%;
  width: 2px;
}
/* line 513, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003513}}
.risk {
  width: 88px;
}
/* line 517, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003517}}
.trade {
  width: 93px;
}
/* line 521, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003521}}
.strat {
  width: 53px;
}
/* line 525, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003525}}
.sales {
  width: 63px;
}
/* line 529, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003529}}
.perf {
  width: 41px;
}
/* line 533, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003533}}
.pr-trd {
  width: 45px;
}
/* line 537, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003537}}
.system {
  width: 23px;
}
/* line 541, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003541}}
.mrkt {
  width: 28px;
}
/* line 547, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003547}}
.risk1 {
  left: 10px;
}
/* line 551, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003551}}
.trade1 {
  left: 30px;
}
/* line 555, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003555}}
.strat1 {
  left: 70px;
}
/* line 559, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003559}}
.sales1 {
  left: 20px;
}
/* line 563, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003563}}
.perf1 {
  left: 100px;
}
/* line 567, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003567}}
.pr-trd1 {
  left: 80px;
}
/* line 571, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003571}}
.system1 {
  left: 10px;
}
/* line 575, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003575}}
.mrkt1 {
  left: 60px;
}
/*////////////// FILTER /////////////////////////*/
/* line 581, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003581}}
.filterRow {
  width: 100%;
  height: 31px;
  position: relative;
  top: 8px;
  clear: both;
}
/* line 589, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003589}}
#filterSortContainerAlerts {
  position: relative;
  left: 438px;
  width: 123px;
  height: 30px;
}
/* line 597, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003597}}
.sideSearchAlerts {
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  display: inline-block;
  width: 100px;
  height: 25px;
  border-bottom: 1px solid #bababa;
  padding: 5px 0 4px 5px;
  transition: 0.3s ease-in;
}
/* line 611, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003611}}
#clearAlerts {
  position: relative;
  left: -14px;
  top: 1px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 0px 4px 2px 5px;
  border-radius: 50%;
  transition: 0.2s ease-in;
}
/* line 623, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003623}}
#clearAlerts:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: 0.2s ease-in;
}
/* line 629, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003629}}
#sideSearchContainerAlerts {
  width: 120px;
  position: relative;
  left: 5px;
}
/* line 636, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003636}}
#filterIconAlerts {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease-in;
  left: -16px;
  top: 7px;
  font-size: 15px;
}
/*/////////////////////// FEED ////////////////////////*/
/* line 649, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003649}}
.feed {
  width: 600px;
  height: 244px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 658, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003658}}
.alertRow {
  width: 100%;
  border-bottom: 1px #eeeeee solid;
  padding: 2.4% 2% 2.4% 5%;
  transition: .3s;
}
/* line 665, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003665}}
.alertRow:hover {
  background-color: aliceblue;
  background-color: #f5f5f5;
  background-color: #f3f8fc;
  background-color: #f4f6f8;
  transition: .3s;
}
/* line 673, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003673}}
.alertType {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #14C1AC;
  display: inline-block;
  float: left;
}
/* line 683, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003683}}
.alertText {
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 12px;
  letter-spacing: .2px;
}
/*/////////////////////////////////////////// ALERT COLORS ///////////////////////*/
/* line 696, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003696}}
.riskAlert {
  background-color: #F7A099;
  background-color: #ED75C1;
  background-color: #B46CEE;
  background-color: #e67979;
  background-color: #f66f64;
  background-color: #d1d544;
  background-color: #cf6cee;
  background-color: #fd857b;
}
/* line 709, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003709}}
.riskAlert .alertText {
  color: rgba(0, 0, 0, 0.7);
  color: #f9fdc5;
  color: white;
}
/* line 715, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003715}}
.tradeAlert {
  background-color: #32b5a5;
  background-color: #14C1AC;
  background-color: #5ac5b8;
}
/* line 725, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003725}}
.performanceAlert {
  background-color: #0856AF;
}
/* line 729, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003729}}
.stratAlert {
  background-color: #855280;
  background-color: #625285;
  background-color: #f9fdc5;
  background-color: #ddee03;
  background-color: #9770f2;
  background-color: #957ecb;
  background-color: #a18fc9;
  background-color: #c6b0f8;
  background-color: #B46CEE;
}
/* line 743, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003743}}
.salesAlert {
  background-color: #C6C50D;
  background-color: #2E415A;
  background-color: #485f7d;
  background-color: #1c3a60;
}
/* line 752, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003752}}
.prTrdAlert {
  background-color: #3FEEB1;
  background-color: #46d18e;
  background-color: #39a872;
  background-color: #26B470;
  background-color: #46a9d1;
  background-color: #6cbdee;
  background-color: #40a2de;
}
/* line 769, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003769}}
.systmAlert {
  background-color: #88a8b5;
  background-color: #627c87;
  background-color: #7e96a0;
}
/* line 775, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003775}}
.mktAlert {
  background-color: #268EB4;
  background-color: #f0cd67;
  background-color: #785d8b;
  background-color: #4f38a4;
  background-color: #604f9e;
  background-color: #6550b0;
}
/* line 789, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003789}}
.contactGridRowTextWrapper {
  width: 62%;
  float: left;
  margin-left: 3%;
}
/* line 798, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003798}}
.messageTitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .1px;
  line-height: 1em;
  display: inline-block;
  color: rgba(0, 0, 0, 0.9);
}
/* line 816, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003816}}
.messageText {
  font-family: 'Roboto';
  /* font-family: 'Roboto Condensed'; */
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  position: relative;
  z-index: 1;
  padding-left: 5px;
}
/* line 839, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003839}}
.alertIcons {
  width: 141px;
  height: 26px;
  font-size: 22px;
  display: inline-block;
  float: right;
  position: relative;
  top: 4px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 852, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003852}}
.mdi-open-in-new {
  font-size: 22px;
}
/* line 856, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003856}}
.mdi-information-variant,
.mdi-link-variant,
.mdi-check,
.mdi-information,
.mdi-open-in-new {
  padding: 2px;
  margin-right: 7px;
  transition: .3s;
}
/* line 863, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003863}}
.mdi-information-variant {
  border-radius: 50%;
  transition: .3s;
}
/* line 869, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003869}}
.mdi-information-variant:hover {
  background-color: #485f7d;
  background-color: #C9CFD7;
  transition: .3s;
}
/* line 878, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003878}}
.mdi-open-in-new:hover {
  background-color: #32b5a5;
  background-color: #C9CFD7;
  transition: .2s;
}
/* line 884, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003884}}
.mdi-check:hover {
  color: #32b5a5;
  background-color: #f9fdc5;
  background-color: #C9CFD7;
  transition: .3s;
}
/* line 892, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003892}}
.gridDots {
  color: rgba(0, 0, 0, 0.8);
  font-size: 22px;
  float: right;
  padding: 2px;
  position: relative;
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */