<!DOCTYPE html>
  <html>
    <head>
   

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <title>Amanda Innis</title>

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../projectstyle.css">
    <script type="text/javascript" src="jquery-2.2.4.js"></script>
    <script type="text/javascript" src="../scripts/script.js"></script>
    <!-- <script type="text/javascript">
      $(function(){
        $("#icon").on('click',function(){
          if($('.projectMenu').css('display') === 'none'){
            $('.projectMenu').css({"display":"block"});
          }else{
            $('.projectMenu').css({"display":"none"});
          }
        });
      });
    </script> -->


  </head>
  



  <body id="projects" class="clearfix">

<div class="container_center clearfix">
      
      <nav class="projectMenu clearfix">
         
             <a href="../../index.html#experiment" class="nav2">About Me</a>
            <a href="../../index.html#process" class="nav2">Process</a>
            <a href="../../index.html#tools" class="nav2">Tools</a>
            <a href="../../index.html#allproj" class="nav2">Projects</a>
            <a href="../../index.html#contact" class="nav2">Contact</a>

      </nav>
      <span class="hamburger"><img src="../img/menu.svg"></span>  
          
      
     
      <section class="row clearfix pagestyle" id="allproj">
         <div id="slyde3b">
         <h2>Animations</h2>
         <p>These are animations I made for fun in Hype.</div>
         </section>   

      <section> <video id="3dogs" src="3 dogs animation.mp4" controls></video>
      </section>

       <section> <video id="starseq" src="star sequence.mp4" controls></video>
      </section>

      



      </div>
      </body>
      </html>