<!DOCTYPE html>
<html>

<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amanda Innis</title>
    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="../projectstyle.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="jquery-2.2.4.js"></script>
    <script type="text/javascript" src="../scripts/script.js"></script>
    <!-- <script type="text/javascript">
    $(function() {
        $("#icon").on('click', function() {
            if ($('.projectMenu').css('display') === 'none') {
                $('.projectMenu').css({
                    "display": "block"
                });
            } else {
                $('.projectMenu').css({
                    "display": "none"
                });
            }
        });
    });
    </script> -->
</head>

<body id="finance" class="clearfix">
    <div class="container_center clearfix">
        <nav class="projectMenu clearfix">
            <a href="../../index.html#experiment" class="nav2">About Me</a>
            <a href="../../index.html#process" class="nav2">Process</a>
            <a href="../../index.html#tools" class="nav2">Tools</a>
            <a href="../../index.html#allproj" class="nav2">Projects</a>
            <a href="../../index.html#contact" class="nav2">Contact</a>
        </nav>
        <span class="hamburger"><img src="../img/menu.svg"></span>
        <section class="row clearfix pagestyle finance" id="allproj">
            <div id="slyde3b">
                <h2>Finance</h2>
                <p>I have worked in finance since April 2016.  This portion of my portfolio is in the process of being updated.  Below are a few images of recent work.</div>
        </section>
        <section> <img src="../img/panels_page.png">
        </section>
      
        <br>
        <section> <img src="../img/panels_page-light.png">
        </section>
        <br>
        <!-- <section> <img src="../img/alphaCapture.png">
        </section> -->
        </div>
</body>

</html>
