@import 'https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic';




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; }

.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}

* {
	box-sizing: border-box;	
}

			
body {
    font-size: 12px;
    background-color: #1f1f41;
    // background-color: #26264E;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 0 30px;
}

.topHeader {
    width: 100%;
    height: 50px;
    padding: 10px;
    // background-color: #26264E;
    // border-bottom: 1px #364373 solid;
}

.logo {
    display: inline-block;
    // width: 12px;
    // height: 12px;
    // background-color: #0069CB;
    border-radius: 50%;
}

.mdi-chart-areaspline {
    color: #009688;
    color: #4db6ac;
    color: #56d9cc;
    font-size: 20px;
    padding: 3px;
}

.beaconLogoText {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: -1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .7);
    color: #009688;
    color: #4db6ac;
    color: #fdfefe;
}

.appTrialColors {
    width: 100%;
    height: 60px;
    padding: 10px;
    clear: both;
    // background-color: #26264E;
    // border-bottom: 1px #364373 solid;
}

.square {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    background-color: #009688;
    border: 1px solid transparent;
}

.square1 {
    background-color: #009688;
}

.square2 {
    background-color: #00BCD4;
    background-color: #2d4088;
}

.square3 {
    background-color: #0069cb;
}

.square4 {
    background-color: #905de8;
    background-color: #D1C4E9;
    background-color: #b241e4;
    background-color: #9b41e4;
    background-color: #EAEAEA;
}

.square5 {
    background-color: #B39DDB;
    background-color: #D1C4E9;
    background-color: #cdb8f2;
}

.square6 {
    background-color: #8d00cb;
    background-color: #a984ea;
}

.square7 {
    
    background-color: #905de8;
}

.square8 {
    background-color: #B39DDB;
    background-color: #8d00cb;
}

.square9 {
    background-color: #9575CD;
    background-color: #9cb2db;
}

.square10 {
    background-color: #cddc39;
}

.square11 {
    background-color: #03a9f4;
}

.square12 {
    background-color: #697da2;
    background-color: #b3c033;

}

.square13 {
    background-color: #813afd;
}




.square14 {
    background-color: #039be5;
}

.chartWrapper,
#chart_div,
#chart_negative,
#piechart,
#chart_div_line,
#chart_bar_me,
#debug {
    float: left;
    width: 47%;
    margin-right: 20px;
    margin-bottom: 20px;
    // border: 1px #364373 solid;
}

#debug {
    color: aquamarine;
    line-height: 20px;
}

#debug span {
    display: inline-block;
    padding-right: 15px;
}

#chart_bar_me {
    background-color: #303052;
    background-color: #26264E;
    height: 460px;
}

.chart_bar_meHeader {
    background-color: #303052;
    background-color: #32325c;
    height: 42px;
    width: 100%;
    padding: 10px 20px;
    color: white;
    overflow: hidden;
}

.axisLabel {
    display: inline-block;
    color: #878EB1;
    padding: 6px;
    margin-right: 3px;
}

.axisOption,
.axisOptionRank {
    display: inline-block;
    padding: 6px;
    margin-right: 20px;
    border: 1px #55558a solid;
    width: 100px;
    font-size: 11px;
}

.barHeaderTitle{
    display: inline-block;
    padding: 6px;
    margin-right: 20px;
    // border: 1px #55558a solid;
    // width: 100px;
    color: white;
    font-size: 12px;
    letter-spacing: .4px;
}



.axisOptionRank {
    width: 70px;
}

.chart_bar_meWrapper {
    // margin-left: 80px;
    padding-top: 20px;
    // padding-right: 20px;
    margin: 0 5% 0 10%;
}

.bar_me {
    width: 100%;
    height: 12px;
    margin-bottom: 2px;
    position: relative;
}

.barLabel {
    position: absolute;
    left: -48px;
    top: 1px;
    color: #eaeaea;
    font-size: 10px;
    text-align: right;
    // background-color: yellow;
    width: 40px;
    transition: .3s;
    color: #878EB1;
}


#chart_div2 {
    background-color: black;
    margin-top: 40px;
    width: 500px;
    height: 300px;
}

.rowAnalyticsFlex {
    width: 100%;
    padding: 10px 0 8px 0px;
    padding: 9px 5px 9px 5px;
    // padding-top: 2px;
    display: flex;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    align-items: center;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px #4a4a7e solid;
    border-bottom: 1px transparent solid;
}

.rowAnalyticsFlex:nth-child(odd) {
    background-color: #2e366c;
    background-color: #32325c;
}

.rowAnalyticsFlex .col {
    flex: 1;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: .1px;
    border-right: 1px rgba(255, 255, 255, 0.1) solid;
    border-right: 1px solid transparent;
    font-weight: 400;
    padding-right: 8px;
    padding-left: 8px;
    text-align: right;
    color: #7791f2;
    color: #92a7f2;
    color: #68d1dc;
    color: #90a1c1;
    color: #9cb2db;
    // color: #4DD0E1;
    // color: #4DB6AC;
}

// .tableWrapper {
// 	background-color: #1f1f41;
// }
.rowAnalyticsFlex.columnHeaders {
    padding-right: 15px;
}

.rowAnalyticsFlex .col.tickerCol {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 7%;
    width: 6%;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.rowAnalyticsFlex .col.priceColUS,
.rowAnalyticsFlex .col.priceColMid {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 6%;
}

.rowAnalyticsFlex .col.volatility21,
.rowAnalyticsFlex .col.medSpread {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 6%;
}

.rowAnalyticsFlex .col.sideCol {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 6%;
    color: #21e0c1;
    font-weight: 500;
    // text-align: right;
}

// .rowAnalyticsFlex .col.bookImbalanceCol, .rowAnalyticsFlex .col.bookImbalanceCol2, .rowAnalyticsFlex .col.bookImbalanceCol3, .rowAnalyticsFlex .col.bookImbalanceCol4 {
//       color: rgba(255, 255, 255, 0.5);
// } 
.rowAnalyticsFlex .col.tradedCol {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 8%;
}

.col {
    // margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableTopRow {
    height: 37px;
    background-color: #32325c;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    font-size: 13px;
    padding-top: 13px;
    letter-spacing: .4px;
    font-weight: 400;
}

.tableWrapper {
    margin: 40px 0;
    clear: both;
    background-color: #26264e;
}

#tableAnalytics {
    max-height: 200px;
    overflow-y: scroll;
}

.rowAnalyticsFlex.columnHeaders .col {
    flex: 1;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.9);
    // color: #009688;
    // color: #8293f3;
    letter-spacing: .1px;
    // border-right: 1px rgba(255, 255, 255, 0.1) solid;
    font-weight: 400;
    padding-right: 7px;
    text-align: right;
    padding-top: 10px;
}

.rowAnalyticsFlex.columnHeaders .col.tickerCol {
    text-align: left;
    text-transform: none;
}


/*  /////////  scrollbar  /////////////  */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #15152f;
}

::-webkit-scrollbar-thumb {
    background-color: #40406b;
}

#clientpit::-webkit-scrollbar {
    width: 12px;
}

#clientpit::-webkit-scrollbar-track {
    background-color: #15152f;
}

#clientpit::-webkit-scrollbar-thumb {
    background-color: #40406b;
}

#feed::-webkit-scrollbar {
    width: 12px;
}

#feed::-webkit-scrollbar-track {
    background-color: #15152f;
}

#feed::-webkit-scrollbar-thumb {
    background-color: #40406b;
}

div.google-visualization-tooltip {
    background-color: #3e3e6a;
    border: 1px solid #55558a !important;
    width: 150px;
    font-size: 10px !important;
    box-shadow: 7px 7px 5px 0px rgba(31, 31, 65, 0.75) !important;
}

div.google-visualization-tooltip ul li span {
    color: white !important;
    font-weight: 400 !important;
}


.hzBar {
    background-color: #9575CD;
    background-color: #009688;
    // background-color: rgba(38, 166, 154, .9);
}

.bar1 {
    width: 10%;
    height: 100%;
}

.bar2 {
    width: 11%;
    height: 100%;
    // background-color: #8d00cb;
}

.bar3 {
    width: 13%;
    height: 100%;
    // background-color: #9575CD;
}

.bar4 {
    width: 15%;
    height: 100%;
    // background-color: #9575CD;
}

.bar5 {
    width: 17%;
    height: 100%;
    // background-color: #9575CD;
}

.bar6 {
    width: 19%;
    height: 100%;
    // background-color: #9575CD;
}

.bar7 {
    width: 22%;
    height: 100%;
}

.bar8 {
    width: 26%;
    height: 100%;
}

.bar9 {
    width: 27%;
    height: 100%;
}

.bar10 {
    width: 29%;
    height: 100%;
}

.bar11 {
    width: 31%;
    height: 100%;
}

.bar12 {
    width: 35%;
    height: 100%;
}

.bar13 {
    width: 37%;
    height: 100%;
}

.bar14 {
    width: 45%;
    height: 100%;
}

.bar15 {
    width: 51%;
    height: 100%;
}

.bar16 {
    width: 60%;
    height: 100%;
}

.bar17 {
    width: 61%;
    height: 100%;
}

.bar17 {
    width: 66%;
    height: 100%;
}

.bar18 {
    width: 68%;
    height: 100%;
}

.bar19 {
    width: 70%;
    height: 100%;
}

.bar20 {
    width: 75%;
    height: 100%;
}

.bar21 {
    width: 76%;
    height: 100%;
}

.bar22 {
    width: 77%;
    height: 100%;
}

.bar23 {
    width: 85%;
    height: 100%;
}

.bar24 {
    width: 95%;
    height: 100%;
}

.bar25 {
    width: 100%;
    height: 100%;
}
