body {
	background-color: white;
	// font-size: 14px;
}



nav {
	background-color: white;
	width: 250px;
	border-right: 1px black solid;
	position: fixed;
	top: 0;

	ul {
	padding: 2rem 0 1rem 2rem;
	
		li {
		font-size: 16px;
		padding: .5em 0;
	    }
	    a {
	    	// text-decoration: none;
	    	// color: inherit;
	    }
	}
}


.endOfExamples {
	padding-bottom: 1em;
	border-bottom: 1px black dotted;
}


///////////////////// may not use ////////////
.logoWrapper{
	width: 40px;
	display: inline-block;
	margin: 1rem 0 0 1rem;
}

.logoWrapper img {
	width: 100%;
}


.topContainer {
	width: 100%;
	// margin: 0 auto;
	padding: 1em 0;
	padding-left: 300px;
	// position: fixed;
	background-color: white;
	// border-bottom: 1px black solid;
}


///////////////////// end of may not use ////////////

h1 {
	// float: left;
	font-size: 1.6rem;
	padding: 1rem 0;
	letter-spacing: .5px;
}

h2 {
	// float: left;
	font-size: 25px;
	// padding: 1rem 0 0 2rem;
	padding: 0 0 0 .5rem;
	display: inline-block;
	letter-spacing: .9px;
    position: relative;
    top: -10px;
    font-weight: 300;
    color: #25293c;
}

h3 {
	padding: 1rem 0 1rem 2rem;
	font-size: 25px;
	letter-spacing: .9px;
	background-color: pink;
	color: teal;
	line-height: 1.3em;
}



// main scrolling div ////
.main {
	width: 100%;
	padding-left: 300px;
	padding-top: 2rem;
	
}

h4 {
	font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
    margin: 80px auto 30px auto;
    padding: 10px;
    font-weight: 400;
    letter-spacing: .5px;
    // text-align: center;
    background-color: #f1f1f1;
    // border: #565556 1px solid;
    -webkit-box-shadow: -5px 0px 0px 0px #767676;
		-moz-box-shadow: -5px 0px 0px 0px #767676;
		box-shadow: -5px 0px 0px 0px #767676;
}

h4:first-child {
	margin-top: 10px;
}

h5 {
	font-size: 25px;
	color: rgba(0,0,0, .9);
	margin: 10px auto;
	padding: 10px;
	border-bottom: 1px black dotted;
}

//////////////// parent containers /////////////////////////

#gridWireframe600 {
	width: 600px;
	// height: 716px;
	background-image: url("gridWireframe.png");
	background-size: cover;
	border: darkkhaki 1px solid;
	font-size: 14px;

}

#gridWireframe700 {
	margin-top: 2em;
	width: 700px;
	border: darkkhaki 1px solid;
	font-size: 14.5px;

}



#gridWireframe800 {
	margin-top: 2em;
	width: 800px;
	// height: 716px;
	border: darkkhaki 1px solid;
	font-size: 15px;
}

#gridWireframe900 {
	margin-top: 2em;
	width: 900px;
	// height: 716px;
	border: darkkhaki 1px solid;
	font-size: 15.5px;
}

#gridWireframe1000 {
	margin-top: 2em;
	width: 1000px;
	// height: 716px;
	border: darkkhaki 1px solid;
	font-size: 16px;

}





//////////// constants per parent of beacon grid ///////////////

.searchHeader {
	width: 100%;
	height: 62px;
	border: 1px black solid;
	// background-color: pink;
}

.header1 {
	width: 100%;
	min-height: 2.85em;
	background-color: blue;
	.headerText1 {
		font-size: 1em;
		margin-left: 5%;
		display: inline-block;
		text-transform: uppercase;
		color: rgba(255, 255, 255, .93);
		padding-top: 1em;
	}

	.rightHeaderActions {
		color: rgba(255, 255, 255, .93);
		float: right;
		padding-top: .5em;
		margin-right: 5%;
		display: inline-block;
		.sort {
			font-size: 1em;
			text-transform: uppercase;
			margin-right: 2em;
		}
		.mdi-dots-vertical {
			font-size: 1.6em;
			position: relative;
			top: .1em;
		}
	}
	
}



.subHeader1 {
	width: 100%;
	height: 5.14em;
	background-color: rgb(223, 255, 159);
}

.subHeaderText1 {
	font-size: 1.6em;
	padding-top: 1.3em;
	display: inline-block;
	margin-left: 5%;
}

.gridNames {
	width: 100%;
    // height: 540px;
    padding-top: 1%;
    background-color: #f8f8f8;
}

.rowStyle1 {
	width: 90%;
	border-bottom: 1px rgba(0, 0, 0, 0.17) solid;
	margin-left: 4.2%;
	margin-right: 5%;
}


.rowWrapper {
	width: 99.2%;
    margin-left: .8%;
    transition: .3s;
	&:hover {
		transition: .3s;
		background-color: aliceblue;
		-webkit-box-shadow: -5px 0px 0px 0px rgba(22,156,102,1);
		-moz-box-shadow: -5px 0px 0px 0px rgba(22,156,102,1);
		box-shadow: -5px 0px 0px 0px rgba(22,156,102,1);
	}
}

.textWrapper1 {
	width: 50%;
	margin-top: .8em;
    margin-bottom: .7em;
	border: 1px rgba(102, 51, 153, 0.34) solid;
	float: left;
	line-height: 1.3em;

}

.iconWrapper1 {
	float: right;
	margin-top: 1.5em;
    width: 34%;
    height: 2em;
	border: 1px rgba(27, 180, 160, 0.37) solid;
	display: inline-block;

	i {
		font-size: 1.7em;
	}
	
	.timeElapsed { 
 	padding-top: .55em;
    border-radius: 8px;
    font-size: .79em;
    font-weight: 500;
    width: 2.6em;
    height: 2em;
 	display: inline-block;
 	text-align: center;
 	position: relative;
 	top: -.46em;
 	
 	
 	}

	.ibChat {
	width: 1.65em;
	position: relative;
	top:  .2em;
	display: inline-block;
		img {
		display: inline-block;
		width: 100%;
		}
	}

	.mdi-email-outline {
		color: rgba(0,0,0, .9); 
	}

	.mdi-phone {
		color: rgba(0,105,203, .9);
	}

	.mdi-dots-vertical {
		// float: right;
		padding-top: .5%;
		padding-right: 0;
		width: .6em;
	}

//////// spacing = (.0057 * containerWidth) //////////
	.ibChat, .mdi-email-outline, .mdi-phone {
		margin: 0 3.42%;
	}

	.timeElapsed {
		margin-right: 3.42%;
	}

	.mdi-dots-vertical {
		margin-left: 3.42%;
	}
	
}

#gridWireframe700 {
	.iconWrapper1 {
		.ibChat, .mdi-email-outline, .mdi-phone {
			margin: 0 4%;
		}

		.timeElapsed {
			margin-right: 4%;
		}
		.mdi-dots-vertical {
		margin-left: 4%;
		}
	}
}

#gridWireframe800 {
	.iconWrapper1 {
		.ibChat, .mdi-email-outline, .mdi-phone {
			margin: 0 4.9%;
		}

		.timeElapsed {
			margin-right: 4.9%;
		}
		.mdi-dots-vertical {
		    margin-left: 4.9%;
		}
	}
}

#gridWireframe900 {
	.iconWrapper1 {
		.ibChat, .mdi-email-outline, .mdi-phone {
			margin: 0 5.13%;
		}

		.timeElapsed {
			margin-right: 5.13%;
		}
		.mdi-dots-vertical {
		    margin-left: 5.13%;
		}
	}
}

#gridWireframe1000 {
	.iconWrapper1 {
		.ibChat, .mdi-email-outline, .mdi-phone {
			margin: 0 5.7%;
		}

		.timeElapsed {
			margin-right: 5.7%;
		}
		.mdi-dots-vertical {
			margin-left: 5.7%;
		}
	}
}



.textTitleText {
	font-size: 1.1em;
	font-weight: 500;
}

.textSubtitleText {
	font-size: .9em;
	font-weight: 400;
	color: rgba(0,0,0, .5);
}




.timeElapsed.green {
 	background-color: #8CDFA1; 
 }

.timeElapsed.yellow {
 	background-color: #F3C34C; 
 }

 .timeElapsed.red {
 	background-color: #F7A099; 
 }


 /////////////  contact profile ////////



#contactProfile548 {
	margin-top: 2em;
	width: 548px;
	height: 630px;
	background-image: url("contactProfileImg.png");
	background-size: cover;
	border: darkkhaki 1px solid;
	font-size: 14px;
}

#contactProfile648 {
	margin-top: 2em;
	width: 648px;
	// height: 630px;
	// background-image: url("contactProfileImg.png");
	// background-size: cover;
	border: darkkhaki 1px solid;
	font-size: 15px;
}

#contactProfile748 {
	margin-top: 2em;
	width: 748px;
	// height: 630px;
	// background-image: url("contactProfileImg.png");
	// background-size: cover;
	border: darkkhaki 1px solid;
	font-size: 16px;
}


.header2 {
	width: 100%;
	min-height: 2.14em;
	background-color: #0069CB;
	.headerText2 {
		font-size: .86em;
	    margin-left: 5%;
	    display: inline-block;
	    text-transform: uppercase;
	    color: rgba(255, 255, 255, 0.93);
	    padding-top: .86em;
	}
	.rightHeaderActions {
		color: rgba(255, 255, 255, .93);
		float: right;
		padding-top: .5em;
		margin-right: 5%;
		display: inline-block;
		
		.mdi-close {
			color: rgba(255, 255, 255, .93);
			font-size: 1.4em;
			position: relative;
			top: -.1em;
			left: 0;
		}
	}
	
}

.profileBar {
    width: 100%;
    height: 6.92em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.1em;
    background-color: white;

    .profileLeftText {
		float: left;
		width: 50%;
		padding-top: .1em;

		.profileNameText {
		    font-family: 'Roboto';
		    font-weight: 400;
		    font-size: 1.6em;
		    padding-top: 0;
		    display: inline-block;
		}

		.companyText {
		    font-family: 'Roboto';
		    font-size: .86em;
		    color: rgba(0, 0, 0, 0.5);
		    padding-top: .3em;
		    display: inline-block;
		}

		.sectorText {
		    font-size: .86em;
		    color: rgba(0, 0, 0, 0.5);
		    padding-top: .3em;
		    display: inline-block;
		}

	}

	.iconWrapper2 {
	    width: 42%;
	    height: 2em;
	    float: right;
	    border: 1px black solid;
	    // margin-right: 5%;
	    margin-top: .7em;

	    .mdi-email-outline {
	        color: rgba(0, 0, 0, 0.9);
	        font-size: 1.28em;
	        display: inline-block;
	    }

	    .ibChat2 {
	        width: 1.28em;
	        position: relative;
	        display: inline-block;
	        top: 3px;
	        img {
	        display: inline-block;
	        width: 100%;
	        }
	    }

	    .iconWrapperPhone {
	        display: inline-block;
	        font-family: 'Roboto';
	        font-size: .92em;
	        line-height: 1.5em;
	        border-bottom: 1px solid #6b6b6b;
	    }

	    .mdi-phone {
	    	display: inline-block;
		    font-size: 1.28em;
	    }
	    .mdi-menu-down {
	    	display: inline-block;
		    font-size: 1.28em;
		    color: rgba(0, 0, 0, 0.9);
		    // color: #9b9b9b;
		}

		.mdi-email-outline {
			margin-right: .1em;
		}

		.mdi-menu-down {
			margin-left: .1em;
		}
		.ibChat2, .iconWrapperPhone, .mdi-phone {
			margin: 0 .1em;
		}
	    
	}
}

.readership {
    float: left;
    margin-top: 2.7%;
    margin-left: 4.5%;
}

.touchpoints {
    float: right;
    margin-top: 2.7%;
    margin-right: 4.5%;
}

.securities {
    float: left;
    margin-left: 4.5%;
    margin-top: 2.7%;
    margin-bottom: 2.7%;
}

.meetings {
    float: right;
    margin-right: 4.5%;
    margin-top: 2.7%;
    margin-bottom: 2.7%;
}

.sectionBox {
    width: 43.6%;
    height: 9.64em;
    background-color: white;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    .header3 {
    	width: 100%;
    	padding-bottom: .37em;
    	background-color: #E5EBF3;
    	.headerText3 {
    		width: 80%;
    		float: left;
    		padding-left: 1.1em;
    		padding-top: .6em;
    	    text-transform: uppercase;
    	    color: rgba(0, 105, 203, 1);
    	    font-size: .86em;
    	    letter-spacing: .1px;}
    	    
    	.mdi-chevron-right {
    	    float: right;
    	    position: relative;
    	    top: .14em;
    	    left: 0;
    	    padding-right: .14em;
    	    font-size: 1.28em;
    	    color: rgba(0, 105, 203, 0.7);
    	}

    }

    .textWrapper {
        width: 95%;
        padding: 1.1em 0 0 1.1em;
        .innerTextTitle {
            font-weight: 500;
            font-size: 1em;
            letter-spacing: .1px;
            line-height: 1.2em;
            display: inline-block;
            padding-bottom: 5px;
            color: rgba(0, 0, 0, 0.9);
        }
        .innerTextSubtitle {
            font-weight: 400;
            font-size: .86em;
            letter-spacing: .1px;
            line-height: 1.5em;
            color: rgba(0, 0, 0, 0.54);
        }
        .innerTextThird {
            font-weight: 400;
            font-size: .86em;
            letter-spacing: .1px;
            line-height: 1.3em;
            color: rgba(0, 0, 0, 0.54);
        }
        .innerTextBottom {
            font-weight: 400;
            font-size: .86em;
            letter-spacing: .1px;
            line-height: 1.5em;
            color: rgba(0, 0, 0, 0.54);
            display: inline-block;
            position: absolute;
            bottom: 6px;
        }
    }
}


.notesBox {
    margin-top: 2.7%;
    margin-left: 4.5%;
    width: 90.8%;
    height: 73px;
    background-color: white;
    clear: both;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    .sectionNotesTitle {
        text-transform: uppercase;
        color: rgba(0, 105, 203, 0.9);
        font-size: .86em;
        letter-spacing: .1px;
        display: inline-block;
        padding-left: 1.1em;
        padding-top: 6px;
        padding-bottom: 5px;
    }
    .notesText {
        font-weight: 400;
        font-size: .86em;
        letter-spacing: .1px;
        line-height: 1.3em;
        color: rgba(0, 0, 0, 0.54);
    }
}


#bottomBarEnd, #bottomBarCall {
    width: 100%;
    height: 40px;
    margin-top: 21px;
    background-color: #c9cfd7;
    position: static;
   }









/////////////////Header container section///////////

#headerContainer {
	width: 600px;
	height: 400px;
	border: 1px goldenrod solid;
	margin-top: 2em;
}