/* line 1, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\000031}}
body {
  background-color: white;
}
/* line 8, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\000038}}
nav {
  background-color: white;
  width: 250px;
  border-right: 1px black solid;
  position: fixed;
  top: 0;
}
/* line 15, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000315}}
nav ul {
  padding: 2rem 0 1rem 2rem;
}
/* line 18, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000318}}
nav ul li {
  font-size: 16px;
  padding: .5em 0;
}
/* line 30, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000330}}
.endOfExamples {
  padding-bottom: 1em;
  border-bottom: 1px black dotted;
}
/* line 37, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000337}}
.logoWrapper {
  width: 40px;
  display: inline-block;
  margin: 1rem 0 0 1rem;
}
/* line 43, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000343}}
.logoWrapper img {
  width: 100%;
}
/* line 48, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000348}}
.topContainer {
  width: 100%;
  padding: 1em 0;
  padding-left: 300px;
  background-color: white;
}
/* line 61, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000361}}
h1 {
  font-size: 1.6rem;
  padding: 1rem 0;
  letter-spacing: .5px;
}
/* line 68, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000368}}
h2 {
  font-size: 25px;
  padding: 0 0 0 .5rem;
  display: inline-block;
  letter-spacing: .9px;
  position: relative;
  top: -10px;
  font-weight: 300;
  color: #25293c;
}
/* line 81, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000381}}
h3 {
  padding: 1rem 0 1rem 2rem;
  font-size: 25px;
  letter-spacing: .9px;
  background-color: pink;
  color: teal;
  line-height: 1.3em;
}
/* line 93, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\0000393}}
.main {
  width: 100%;
  padding-left: 300px;
  padding-top: 2rem;
}
/* line 100, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003100}}
h4 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
  margin: 80px auto 30px auto;
  padding: 10px;
  font-weight: 400;
  letter-spacing: .5px;
  background-color: #f1f1f1;
  -webkit-box-shadow: -5px 0px 0px 0px #767676;
  -moz-box-shadow: -5px 0px 0px 0px #767676;
  box-shadow: -5px 0px 0px 0px #767676;
}
/* line 115, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003115}}
h4:first-child {
  margin-top: 10px;
}
/* line 119, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003119}}
h5 {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.9);
  margin: 10px auto;
  padding: 10px;
  border-bottom: 1px black dotted;
}
/* line 129, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003129}}
#gridWireframe600 {
  width: 600px;
  background-image: url("gridWireframe.png");
  background-size: cover;
  border: darkkhaki 1px solid;
  font-size: 14px;
}
/* line 139, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003139}}
#gridWireframe700 {
  margin-top: 2em;
  width: 700px;
  border: darkkhaki 1px solid;
  font-size: 14.5px;
}
/* line 149, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003149}}
#gridWireframe800 {
  margin-top: 2em;
  width: 800px;
  border: darkkhaki 1px solid;
  font-size: 15px;
}
/* line 157, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003157}}
#gridWireframe900 {
  margin-top: 2em;
  width: 900px;
  border: darkkhaki 1px solid;
  font-size: 15.5px;
}
/* line 165, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003165}}
#gridWireframe1000 {
  margin-top: 2em;
  width: 1000px;
  border: darkkhaki 1px solid;
  font-size: 16px;
}
/* line 180, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003180}}
.searchHeader {
  width: 100%;
  height: 62px;
  border: 1px black solid;
}
/* line 187, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003187}}
.header1 {
  width: 100%;
  min-height: 2.85em;
  background-color: blue;
}
/* line 191, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003191}}
.header1 .headerText1 {
  font-size: 1em;
  margin-left: 5%;
  display: inline-block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.93);
  padding-top: 1em;
}
/* line 200, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003200}}
.header1 .rightHeaderActions {
  color: rgba(255, 255, 255, 0.93);
  float: right;
  padding-top: .5em;
  margin-right: 5%;
  display: inline-block;
}
/* line 206, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003206}}
.header1 .rightHeaderActions .sort {
  font-size: 1em;
  text-transform: uppercase;
  margin-right: 2em;
}
/* line 211, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003211}}
.header1 .rightHeaderActions .mdi-dots-vertical {
  font-size: 1.6em;
  position: relative;
  top: .1em;
}
/* line 222, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003222}}
.subHeader1 {
  width: 100%;
  height: 5.14em;
  background-color: #dfff9f;
}
/* line 228, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003228}}
.subHeaderText1 {
  font-size: 1.6em;
  padding-top: 1.3em;
  display: inline-block;
  margin-left: 5%;
}
/* line 235, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003235}}
.gridNames {
  width: 100%;
  padding-top: 1%;
  background-color: #f8f8f8;
}
/* line 242, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003242}}
.rowStyle1 {
  width: 90%;
  border-bottom: 1px rgba(0, 0, 0, 0.17) solid;
  margin-left: 4.2%;
  margin-right: 5%;
}
/* line 250, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003250}}
.rowWrapper {
  width: 99.2%;
  margin-left: .8%;
  transition: .3s;
}
/* line 254, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003254}}
.rowWrapper:hover {
  transition: .3s;
  background-color: aliceblue;
  -webkit-box-shadow: -5px 0px 0px 0px #169c66;
  -moz-box-shadow: -5px 0px 0px 0px #169c66;
  box-shadow: -5px 0px 0px 0px #169c66;
}
/* line 263, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003263}}
.textWrapper1 {
  width: 50%;
  margin-top: .8em;
  margin-bottom: .7em;
  border: 1px rgba(102, 51, 153, 0.34) solid;
  float: left;
  line-height: 1.3em;
}
/* line 273, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003273}}
.iconWrapper1 {
  float: right;
  margin-top: 1.5em;
  width: 34%;
  height: 2em;
  border: 1px rgba(27, 180, 160, 0.37) solid;
  display: inline-block;
}
/* line 281, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003281}}
.iconWrapper1 i {
  font-size: 1.7em;
}
/* line 285, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003285}}
.iconWrapper1 .timeElapsed {
  padding-top: .55em;
  border-radius: 8px;
  font-size: .79em;
  font-weight: 500;
  width: 2.6em;
  height: 2em;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -0.46em;
}
/* line 300, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003300}}
.iconWrapper1 .ibChat {
  width: 1.65em;
  position: relative;
  top: .2em;
  display: inline-block;
}
/* line 305, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003305}}
.iconWrapper1 .ibChat img {
  display: inline-block;
  width: 100%;
}
/* line 311, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003311}}
.iconWrapper1 .mdi-email-outline {
  color: rgba(0, 0, 0, 0.9);
}
/* line 315, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003315}}
.iconWrapper1 .mdi-phone {
  color: rgba(0, 105, 203, 0.9);
}
/* line 319, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003319}}
.iconWrapper1 .mdi-dots-vertical {
  padding-top: .5%;
  padding-right: 0;
  width: .6em;
}
/* line 327, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003327}}
.iconWrapper1 .ibChat,
.iconWrapper1 .mdi-email-outline,
.iconWrapper1 .mdi-phone {
  margin: 0 3.42%;
}
/* line 331, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003331}}
.iconWrapper1 .timeElapsed {
  margin-right: 3.42%;
}
/* line 335, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003335}}
.iconWrapper1 .mdi-dots-vertical {
  margin-left: 3.42%;
}
/* line 343, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003343}}
#gridWireframe700 .iconWrapper1 .ibChat,
#gridWireframe700 .iconWrapper1 .mdi-email-outline,
#gridWireframe700 .iconWrapper1 .mdi-phone {
  margin: 0 4%;
}
/* line 347, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003347}}
#gridWireframe700 .iconWrapper1 .timeElapsed {
  margin-right: 4%;
}
/* line 350, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003350}}
#gridWireframe700 .iconWrapper1 .mdi-dots-vertical {
  margin-left: 4%;
}
/* line 358, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003358}}
#gridWireframe800 .iconWrapper1 .ibChat,
#gridWireframe800 .iconWrapper1 .mdi-email-outline,
#gridWireframe800 .iconWrapper1 .mdi-phone {
  margin: 0 4.9%;
}
/* line 362, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003362}}
#gridWireframe800 .iconWrapper1 .timeElapsed {
  margin-right: 4.9%;
}
/* line 365, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003365}}
#gridWireframe800 .iconWrapper1 .mdi-dots-vertical {
  margin-left: 4.9%;
}
/* line 373, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003373}}
#gridWireframe900 .iconWrapper1 .ibChat,
#gridWireframe900 .iconWrapper1 .mdi-email-outline,
#gridWireframe900 .iconWrapper1 .mdi-phone {
  margin: 0 5.13%;
}
/* line 377, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003377}}
#gridWireframe900 .iconWrapper1 .timeElapsed {
  margin-right: 5.13%;
}
/* line 380, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003380}}
#gridWireframe900 .iconWrapper1 .mdi-dots-vertical {
  margin-left: 5.13%;
}
/* line 388, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003388}}
#gridWireframe1000 .iconWrapper1 .ibChat,
#gridWireframe1000 .iconWrapper1 .mdi-email-outline,
#gridWireframe1000 .iconWrapper1 .mdi-phone {
  margin: 0 5.7%;
}
/* line 392, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003392}}
#gridWireframe1000 .iconWrapper1 .timeElapsed {
  margin-right: 5.7%;
}
/* line 395, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003395}}
#gridWireframe1000 .iconWrapper1 .mdi-dots-vertical {
  margin-left: 5.7%;
}
/* line 403, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003403}}
.textTitleText {
  font-size: 1.1em;
  font-weight: 500;
}
/* line 408, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003408}}
.textSubtitleText {
  font-size: .9em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
/* line 417, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003417}}
.timeElapsed.green {
  background-color: #8CDFA1;
}
/* line 421, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003421}}
.timeElapsed.yellow {
  background-color: #F3C34C;
}
/* line 425, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003425}}
.timeElapsed.red {
  background-color: #F7A099;
}
/* line 434, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003434}}
#contactProfile548demo,
#contactProfile548 {
  margin-top: 2em;
  width: 548px;
  background-image: url("contactProfileImg.png");
  background-size: cover;
  border: darkkhaki 1px solid;
  font-size: 14px;
}
/* line 444, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003444}}
#contactProfile648 {
  margin-top: 2em;
  width: 648px;
  border: darkkhaki 1px solid;
  font-size: 15px;
}
/* line 454, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003454}}
#contactProfile748 {
  margin-top: 2em;
  width: 748px;
  border: darkkhaki 1px solid;
  font-size: 16px;
}
/* line 465, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003465}}
.header2 {
  width: 100%;
  min-height: 2.14em;
  background-color: #0069CB;
}
/* line 469, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003469}}
.header2 .headerText2 {
  font-size: .86em;
  margin-left: 5%;
  display: inline-block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.93);
  padding-top: .86em;
}
/* line 477, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003477}}
.header2 .rightHeaderActions {
  color: rgba(255, 255, 255, 0.93);
  float: right;
  padding-top: .5em;
  margin-right: 5%;
  display: inline-block;
}
/* line 484, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003484}}
.header2 .rightHeaderActions .mdi-close {
  color: rgba(255, 255, 255, 0.93);
  font-size: 1.4em;
  position: relative;
  top: -0.1em;
  left: 0;
}
/* line 495, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003495}}
.profileBar {
  width: 100%;
  height: 6.92em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.1em;
  background-color: white;
}
/* line 503, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003503}}
.profileBar .profileLeftText {
  float: left;
  width: 50%;
  padding-top: .1em;
}
/* line 508, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003508}}
.profileBar .profileLeftText .profileNameText {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.6em;
  padding-top: 0;
  display: inline-block;
}
/* line 516, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003516}}
.profileBar .profileLeftText .companyText {
  font-family: 'Roboto';
  font-size: .86em;
  color: rgba(0, 0, 0, 0.5);
  padding-top: .3em;
  display: inline-block;
}
/* line 524, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003524}}
.profileBar .profileLeftText .sectorText {
  font-size: .86em;
  color: rgba(0, 0, 0, 0.5);
  padding-top: .3em;
  display: inline-block;
}
/* line 533, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003533}}
.profileBar .iconWrapper2 {
  width: 42%;
  height: 2em;
  float: right;
  border: 1px black solid;
  margin-top: .7em;
}
/* line 541, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003541}}
.profileBar .iconWrapper2 .mdi-email-outline {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.28em;
  display: inline-block;
}
/* line 547, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003547}}
.profileBar .iconWrapper2 .ibChat2 {
  width: 1.28em;
  position: relative;
  display: inline-block;
  top: 3px;
}
/* line 552, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003552}}
.profileBar .iconWrapper2 .ibChat2 img {
  display: inline-block;
  width: 100%;
}
/* line 558, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003558}}
.profileBar .iconWrapper2 .iconWrapperPhone {
  display: inline-block;
  font-family: 'Roboto';
  font-size: .92em;
  line-height: 1.5em;
  border-bottom: 1px solid #6b6b6b;
}
/* line 566, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003566}}
.profileBar .iconWrapper2 .mdi-phone {
  display: inline-block;
  font-size: 1.28em;
}
/* line 570, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003570}}
.profileBar .iconWrapper2 .mdi-menu-down {
  display: inline-block;
  font-size: 1.28em;
  color: rgba(0, 0, 0, 0.9);
}
/* line 577, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003577}}
.profileBar .iconWrapper2 .mdi-email-outline {
  margin-right: 1.25%;
}
/* line 581, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003581}}
.profileBar .iconWrapper2 .mdi-menu-down {
  margin-left: 1.25%;
}
/* line 584, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003584}}
.profileBar .iconWrapper2 .ibChat2,
.profileBar .iconWrapper2 .iconWrapperPhone,
.profileBar .iconWrapper2 .mdi-phone {
  margin: 0 1.25%;
}
/* line 593, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003593}}
#contactProfile648 .iconWrapper2 .mdi-email-outline {
  margin-right: 2.25%;
}
/* line 597, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003597}}
#contactProfile648 .iconWrapper2 .mdi-menu-down {
  margin-left: 2.25%;
}
/* line 600, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003600}}
#contactProfile648 .iconWrapper2 .ibChat2,
#contactProfile648 .iconWrapper2 .iconWrapperPhone,
#contactProfile648 .iconWrapper2 .mdi-phone {
  margin: 0 2.25%;
}
/* line 608, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003608}}
#contactProfile748 .iconWrapper2 .mdi-email-outline {
  margin-right: 3%;
}
/* line 612, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003612}}
#contactProfile748 .iconWrapper2 .mdi-menu-down {
  margin-left: 3%;
}
/* line 615, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003615}}
#contactProfile748 .iconWrapper2 .ibChat2,
#contactProfile748 .iconWrapper2 .iconWrapperPhone,
#contactProfile748 .iconWrapper2 .mdi-phone {
  margin: 0 3%;
}
/* line 622, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003622}}
.readership {
  float: left;
  margin-top: 2.7%;
  margin-left: 4.5%;
}
/* line 628, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003628}}
.touchpoints {
  float: right;
  margin-top: 2.7%;
  margin-right: 4.5%;
}
/* line 634, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003634}}
.securities {
  float: left;
  margin-left: 4.5%;
  margin-top: 2.7%;
  margin-bottom: 2.7%;
}
/* line 641, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003641}}
.meetings {
  float: right;
  margin-right: 4.5%;
  margin-top: 2.7%;
  margin-bottom: 2.7%;
}
/* line 648, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003648}}
.sectionBox {
  width: 43.6%;
  height: 9.64em;
  background-color: white;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 654, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003654}}
.sectionBox .header3 {
  width: 100%;
  padding-top: .65em;
  padding-left: 1.1em;
  padding-bottom: .4em;
  padding-right: .14em;
  background-color: #E5EBF3;
}
/* line 661, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003661}}
.sectionBox .header3 .headerText3 {
  float: left;
  text-transform: uppercase;
  color: #0069cb;
  font-size: .86em;
  letter-spacing: .1px;
}
/* line 670, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003670}}
.sectionBox .header3 .mdi-chevron-right.chevRight2 {
  float: right;
  position: absolute;
  top: .3em;
  left: initial;
  right: .2em !important;
  font-size: 1.28em;
  color: rgba(0, 105, 203, 0.7);
}
/* line 682, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003682}}
.sectionBox .textWrapper {
  padding: 1.1em 0 0 1.1em;
}
/* line 685, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003685}}
.sectionBox .textWrapper .innerTextTitle {
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .1px;
  line-height: 1.2em;
  display: inline-block;
  padding-bottom: .3em;
  color: rgba(0, 0, 0, 0.9);
}
/* line 694, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003694}}
.sectionBox .textWrapper .innerTextSubtitle {
  font-weight: 400;
  font-size: .86em;
  letter-spacing: .1px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 701, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003701}}
.sectionBox .textWrapper .innerTextThird {
  font-weight: 400;
  font-size: .86em;
  letter-spacing: .1px;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 708, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003708}}
.sectionBox .textWrapper .innerTextBottom {
  font-weight: 400;
  font-size: .86em;
  letter-spacing: .1px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  position: absolute;
  bottom: .5em;
}
/* line 722, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003722}}
.notesBox {
  margin-top: .5em;
  margin-left: 4.5%;
  width: 90.8%;
  height: 5.21em;
  background-color: white;
  clear: both;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 730, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003730}}
.notesBox .sectionNotesTitle {
  text-transform: uppercase;
  color: rgba(0, 105, 203, 0.9);
  font-size: .86em;
  letter-spacing: .1px;
  display: inline-block;
  padding-left: 1.1em;
  padding-top: .7em;
  padding-bottom: .5em;
}
/* line 740, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003740}}
.notesBox .notesText {
  font-weight: 400;
  font-size: .86em;
  letter-spacing: .1px;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.54);
}
/* line 750, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003750}}
#bottomBarEnd,
#bottomBarCall {
  width: 100%;
  height: 2.86em;
  margin-top: 1.5em;
  background-color: #c9cfd7;
  position: static;
}
/* line 760, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003760}}
.iconsBottom2 {
  margin-left: 5%;
  margin-top: 2.2%;
  width: 91%;
  height: 2.93em;
}
/* line 765, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003765}}
.iconsBottom2 .iconWrapper3 {
  display: inline-block;
  text-align: center;
}
/* line 768, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003768}}
.iconsBottom2 .iconWrapper3 .iconLabel {
  font-size: .79em;
  color: rgba(0, 0, 0, 0.6);
  color: teal;
}
/* line 773, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003773}}
.iconsBottom2 .iconWrapper3 .mdi-calendar,
.iconsBottom2 .iconWrapper3 .mdi-calendar-check,
.iconsBottom2 .iconWrapper3 .mdi-border-color,
.iconsBottom2 .iconWrapper3 .mdi-library-books,
.iconsBottom2 .iconWrapper3 .mdi-dots-horizontal {
  font-size: 2.28em;
  color: rgba(0, 0, 0, 0.6);
  color: teal;
}
/* line 781, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003781}}
.spaceBetweenIcons {
  display: inline-block;
  width: 7%;
}
/* line 787, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003787}}
#contactProfile648 .sectionBox {
  width: 43.6%;
  height: 10.64em;
}
/* line 791, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003791}}
#contactProfile648 .spaceBetweenIcons {
  display: inline-block;
  width: 9%;
}
/* line 798, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003798}}
#contactProfile748 .sectionBox {
  width: 43.6%;
  height: 10.64em;
}
/* line 802, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003802}}
#contactProfile748 .spaceBetweenIcons {
  display: inline-block;
  width: 10%;
}
/* line 808, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003808}}
.callButton {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 6px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: .86em;
  color: white;
  letter-spacing: .4px;
  background-color: #14c1ac;
  outline: none;
  border: none;
  padding: .7em 0;
  border-radius: 3px;
  width: 7.14em;
}
/* line 830, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003830}}
#readershipWrapper2,
#touchpointWrapper2,
#securitiesWrapper2,
#meetingsWrapper2,
#editContactWrapper2,
#scheduleMeetingWrapper2 {
  width: 500px;
  height: 460px;
  background-color: white;
  position: static;
  z-index: 3;
  transition: box-shadow 0.2s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.17), 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.17), 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.17), 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
/* line 850, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003850}}
.readershipWrapper2,
.meetingsWrapper2 {
  width: 500px;
  height: 364px;
  overflow-y: scroll;
  padding-bottom: 45px;
}
/* line 858, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003858}}
#headerContainer {
  width: 600px;
  height: 400px;
  border: 1px goldenrod solid;
  margin-top: 2em;
}
/* line 865, styleguide.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/BEACON\/styleguide\/styleguide\.less}line{font-family:\00003865}}
.spacer {
  width: 100%;
  height: 1em;
}
/*# sourceMappingURL=styleguide.css.map */