html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


    .clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}



* {box-sizing: border-box;}

body {
	background: rgba(227,209,200,1);
	background: -moz-linear-gradient(top, rgba(227,209,200,1) 0%, rgba(229,222,206,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,209,200,1)), color-stop(100%, rgba(229,222,206,1)));
	background: -webkit-linear-gradient(top, rgba(227,209,200,1) 0%, rgba(229,222,206,1) 100%);
	background: -o-linear-gradient(top, rgba(227,209,200,1) 0%, rgba(229,222,206,1) 100%);
	background: -ms-linear-gradient(top, rgba(227,209,200,1) 0%, rgba(229,222,206,1) 100%);
	background: linear-gradient(to bottom, rgba(227,209,200,1) 0%, rgba(229,222,206,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d1c8', endColorstr='#e5dece', GradientType=0 );
	}

.myContainer {
    width: 95%;
    margin: 1em auto;
   }

   /*#blackGem::before {
   		  content: '';
   		  position: absolute;
   		  top: -50%;
		  right: -50%;
		  bottom: -50%;
		  left: -350%;
		  background: none;}*/

   #blackGem::after { /*gradient slider*/
   		  content: '';
   		  position: absolute;
   		  top: -30%;
		  right: -30%;  /*these control size of gradient slider*/
		  bottom: -10%;
		  left: -30%;
		  /*background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));*/
		   /*rotateZ(60deg)*/
   		  background: linear-gradient(to bottom, rgba(249, 151, 39, 0), rgba(249, 151, 39, .5) 50%, rgba(249, 151, 39, 0));
   		  transform:  rotateZ(60deg) translate(-25em, 7.5em);
   		/*left: -50px;*/
   }

	#blackGem {
		position: relative;
		width: auto;
		height: auto;
		top: 40px;
		left: -50px;
		/*display: inline-block;*/
		/*vertical-align: top;*/
		margin-top: 3em;
		overflow: hidden;
		border: none;
		outline: none;
		background: none;
		
	}





	#blackGem::after:hover {
		 animation: sheen 1s forwards;
		}
		@keyframes sheen {
			  100% {
			    transform: rotateZ(60deg) translate(1em, -9em);
			  }
			}

	

	

	.gem1{
		width: 80px;
		height: 120px;
		background: rgba(117,125,42,1);
		background: -moz-linear-gradient(top, rgba(117,125,42,1) 0%, rgba(195,232,85,1) 14%, rgba(195,232,85,1) 30%, rgba(87,128,65,0.99) 56%, rgba(113,110,56,0.99) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(117,125,42,1)), color-stop(14%, rgba(195,232,85,1)), color-stop(30%, rgba(195,232,85,1)), color-stop(56%, rgba(87,128,65,0.99)), color-stop(100%, rgba(113,110,56,0.99)));
		background: -webkit-linear-gradient(top, rgba(117,125,42,1) 0%, rgba(195,232,85,1) 14%, rgba(195,232,85,1) 30%, rgba(87,128,65,0.99) 56%, rgba(113,110,56,0.99) 100%);
		background: -o-linear-gradient(top, rgba(117,125,42,1) 0%, rgba(195,232,85,1) 14%, rgba(195,232,85,1) 30%, rgba(87,128,65,0.99) 56%, rgba(113,110,56,0.99) 100%);
		background: -ms-linear-gradient(top, rgba(117,125,42,1) 0%, rgba(195,232,85,1) 14%, rgba(195,232,85,1) 30%, rgba(87,128,65,0.99) 56%, rgba(113,110,56,0.99) 100%);
		background: linear-gradient(to bottom, rgba(117,125,42,1) 0%, rgba(195,232,85,1) 14%, rgba(195,232,85,1) 30%, rgba(87,128,65,0.99) 56%, rgba(113,110,56,0.99) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757d2a', endColorstr='#716e38', GradientType=0 );
		border-radius: 1em;
		-webkit-box-shadow: 110px 39px 26px 16px rgba(105,36,67,1);
		-moz-box-shadow: 110px 39px 26px 16px rgba(105,36,67,1);
		box-shadow: 110px 39px 26px 16px rgba(105,36,67,1);
		position: relative;
		display: inline-block;
		/*margin-left: .5em;*/
		z-index: 2;
		 transition-property: all;
		 transition-duration: 0.4s;
		 transition-timing-function: ease-out;
}
	
	.gem1:hover {
		transform: scale(1.3);
	}

	#skyBlueGem {
		position: relative;
		display: inline-block;
		left: 150px;
		/*top: -170px;
		left: -50px;*/

	}

	#blueShine {
		position: relative;
		display: inline-block;
		left: 150px;
	}

	#redAmpGem {
		position: relative;
		display: inline-block;
		left: 150px;
	}

	#redAmpGem img {
		width: 80%;
	}


	#myParent {
	width: 100%;
	position: relative;
	margin: 2em auto 2em auto;
}



	#glass {
    	 	width: 0;
    	 	height: 0;
    	 	border-top: 20px solid #48f07d;
    	 	border-right: 40px solid #48f07d;
    	 	border-bottom: 140px solid #48f07d;
    	 	border-left: 60px solid transparent;
    	 	float: right;
    	 	margin-right: 3em;
    	 	/*top: 300px;
    	 	left: 400px;*/
    	 	-webkit-box-shadow: 10px 20px 41px -2px rgba(76,161,113,1);
			-moz-box-shadow: 10px 20px 41px -2px rgba(76,161,113,1);
			box-shadow: 10px 20px 41px -2px rgba(76,161,113,1);}

	#diamondBrilliant {
		width: 300px;
		display: block;
		margin: 0 auto;
	}

	#amberFlecks {
		width: 150px;
		float: right;
	}	

	#amberFlecks img {
		width: 80%;
	}	

	#navyRed {
				height: 120px;
				width: 90px;
				border-top-left-radius: 20px;
				border-top-right-radius: 30px;
				border-bottom-left-radius: 30px;
				border-bottom-right-radius: 10px;
				
				background: rgba(105,36,67,1);
				background: -moz-linear-gradient(top, rgba(105,36,67,1) 0%, rgba(66,52,90,1) 50%, rgba(12,74,122,0.99) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,36,67,1)), color-stop(50%, rgba(66,52,90,1)), color-stop(100%, rgba(12,74,122,0.99)));
				background: -webkit-linear-gradient(top, rgba(105,36,67,1) 0%, rgba(66,52,90,1) 50%, rgba(12,74,122,0.99) 100%);
				background: -o-linear-gradient(top, rgba(105,36,67,1) 0%, rgba(66,52,90,1) 50%, rgba(12,74,122,0.99) 100%);
				background: -ms-linear-gradient(top, rgba(105,36,67,1) 0%, rgba(66,52,90,1) 50%, rgba(12,74,122,0.99) 100%);
				background: linear-gradient(to bottom, rgba(105,36,67,1) 0%, rgba(66,52,90,1) 50%, rgba(12,74,122,0.99) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#692443', endColorstr='#0c4a7a', GradientType=0 );
				position: relative;
				top: 10px;
				left: 80px;
				display: inline-block;
			
				    
				}

				


		.sparkle {
			width: 5px;
			height: 5px;
			position: absolute;
			/*border-radius: 5px;*/
			background-color: white;
			transform: rotateZ(45deg);
			-webkit-transform: rotateZ(45deg);
			-moz-transform: rotateZ(45deg);
			
			animation-name: pulse;
		    animation-duration: 1s;
		    animation-iteration-count: infinite;
				}

			@keyframes pulse {
			    from { 
			        transform : scale(1) rotateZ(45deg); /*translateX(0)*/
			        opacity : 1;
			    }
			    50% { 
			        transform : scale(0.5) rotateZ(45deg);
			        opacity : 0.75;
			    }
			    to { 
			        transform : scale(1) rotateZ(45deg);
			        opacity : 1;
			    }
		}



		button::after {
		  content: '';
		  position: absolute;
		  top: -50%;
		  right: -50%;
		  bottom: -70%;
		  left: -50%;
		  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
		  transform: rotateZ(60deg) translate(-5em, 7.5em);
		}

		button {
		  background: #e5ac8e;
		  color: #fff;
		  font-size: 14px;
		  border-radius: 0.5em;
		  padding: 0 1em;
		  position: relative;
		  /*overflow: hidden;*/
		  line-height: 32px;
		  margin-left: 18%;
		  outline: none;
		}

		#shiny::after {
			background: linear-gradient(to bottom, rgba(253, 220, 146, 0), rgba(253, 220, 146,0.5) 50%, rgba(253, 220, 146, 0));
		}

		#shiny {
			overflow: hidden;
			margin-left: 5%;
		}

		button:hover::after, button:focus::after {
		  animation: sheen 1s forwards;
		}
		@keyframes sheen {
			  100% {
			    transform: rotateZ(60deg) translate(1em, -9em);
			  }
			}

		canvas {
			display: block;
		 	margin: 0 auto;	
		 }

















