@font-face {
  font-family: "SofiaPro-Regularitalic";
  src: url("SofiaPro-Regularitalic.woff2") format("woff2"),
    url("SofiaPro-Regularitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SofiaPro-Regular";
  src: url("SofiaPro-Regular.woff2") format("woff2"),
    url("SofiaPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro-Bold";
  src: url("SofiaPro-Bold.woff2") format("woff2"),
    url("SofiaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro-SemiBold";
  src: url("SofiaPro-SemiBold.woff2") format("woff2"),
    url("SofiaPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro-Medium";
  src: url("SofiaPro-Medium.woff2") format("woff2"),
    url("SofiaPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
