@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic);





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0; }

* {
box-sizing: border-box;}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}







body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
    background-color: #f6f6f8;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    border: 1px black solid;
    min-height: 711px;
    position: relative;
}

h1 {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    letter-spacing: .2px;
}

.meetingHeader {
    padding-bottom: 10px;
    border-bottom: 1px #333333 solid;
    margin-bottom: 10px;
}

.row {
    width: 100%;
    padding: 4px 0 2px 0px;
    margin-bottom: 3px;
}

.rowContactFlex {
    width: 100%;
    padding: 4px 0 2px 0px;
    display: flex;
    margin-bottom: 3px;
    align-items: center;
}

.rowContactFlex .threeCol,
.rowContactFlex .twoCol,
.rowContactFlex .myCol {
    flex: 1;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: .1px;
    font-weight: 500;
}

.rowContactFlex .threeCol:first-child, .rowContactFlex .twoCol:first-child {
    margin-right: 12px;
}

.rowContactFlex .threeCol:last-child, .rowContactFlex .twoCol:last-child {
    margin-left: 12px;
}

form {
    font-size: 12px;
}

.form-control {
    font-size: 12px;
}

input.form-control,
textarea.form-control {
    width: 100%;
}

.form-group {
    margin-bottom: 5px;
}

textarea {
    resize: none;
    height: 70px;
}

label {
    color: #878c95;
    display: block;
    margin-bottom: 3px;
    letter-spacing: .3px;
    font-weight: 500;
}

.dropdownMenuParent li {
  cursor: pointer;
}

.dropdownMenuParent li:hover {
  background-color: white;
     background-color: #f6f6f8;
     /* background-color: #cacfd3;*/
      /*background-color: #f0f4c3;*/
      /*background-color: #e7eff3;*/

  color: black;
  /*font-weight: 600;*/
}

input,
textarea {
    /*height: 32px;*/
    border: 1px solid #C0CAD1;
    border: 1px solid #d7dadf;
    padding: 8px 6px;
    outline: none;
}

input[type="date" i],
input[type="datetime-local" i],
input[type="month" i],
input[type="time" i],
input[type="week" i] {
    align-items: center;
    display: -webkit-inline-flex;
    -webkit-padding-start: 1px;
    overflow: hidden;
    padding: 6px 6px;
    font-family: 'Roboto';
    height: 33px;
    /*padding: 0px;*/
}

input:active,
input:focus {
    border: 1px solid #2196F3;
}

input.boxChip {
    height: 40px;
    background-image: url('search.png');
    background-size: 17px 17px;
    background-position: 6px 11px;
    background-repeat: no-repeat;
}

input.boxChip:active,
input.boxChip:focus {
    height: 40px;
    background-image: none;
}

#attendeesPopout {
    position: absolute;
    background-color: white;
    z-index: 9;
  
    top: 123px;
    width: 557px;
    padding: 15px;
    border: 1px #d7dadf solid;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.attendeesPopoutTitle {
  padding-bottom: 10px;
    border-bottom: 1px #333333 solid;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
}

.chipWrapper {
    position: relative;
}

.chipWrapper .expandInput {
    position: absolute;
    right: 1px;
    top: 16px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, .8);
    padding: 12px 5px;
    height: 38px;
    cursor: pointer;
}

.chipContents {
    position: absolute;
    top: 21px;
    left: 5px;
    top: 23px;
    
}

.chip {
  color: rgba(0, 0, 0, 0.6);
    letter-spacing: .1px;
    font-weight: 500;
}

.mdi-close {
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
}

.chipNarrow {
    display: inline-block;
    padding: 0 9px;
    height: 21px;
    font-size: 12px;
    line-height: 23px;
    margin-right: 2px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.chipFatRound {
    display: inline-block;
    padding: 0 11px;
    height: 25px;
    font-size: 12px;
    line-height: 26px;
    margin-right: 2px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.chipBaml {
    background-color: #cdeefd;
}

.chipNotBaml {
    background-color: rgba(153, 159, 166, 0.2);
    background-color: #B2DFDB;
    color: #586c6a;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    float: right;
    font-size: 15px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}



.tabs {
    font-size: 13px;
    margin: 20px 0px;
    border-bottom: 1px #bdc0c6 solid;
}

.tabs span {
    padding: 7px 8px;
    display: inline-block;
    color: #878c95;
    font-weight: 500;
    letter-spacing: .3px;
    border: 1px #bdc0c6 solid;
    border-bottom: none;
    margin-right: 5px;
}

.tabs span:hover {
    cursor: pointer;
}

.tabs span.selected {
    background-color: #cacfd3;
    color: #333333;
    border: 1px transparent solid;
    border-bottom: none;
}

.submitButton {
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 13px;
    background-color: #009688;
    color: white;
    border: 1px transparent solid;
    letter-spacing: .3px;
    text-transform: uppercase;
    position: absolute;
    bottom: 12px;
    width: 100px;
}

.addMe {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, .54);
    display: inline-block;
}

[type="checkbox"] {
    border-color: rgba(0, 0, 0, 0.26);
}

.dropdownMenuParent {
    position: relative;
}

.dropDownMenu {
    width: 100%;
    position: relative;
}

.dropDownTitle, .popUpDropDown {
    /*width: 334px;*/
    height: 33px;
    border: 1px #878fb0 solid;
    /*color: rgba(255, 255, 255, 0.9);*/
    /*font-size: 13px;*/
    background-color: white;
    border: 1px solid #d7dadf;
    padding: 8px 6px;
    padding: 11px 6px 7px 6px;
    position: relative;
    /*top: 10px;*/
    z-index: 4;
    cursor: pointer;
}

li {
    padding: .7em .7em .7em 1em;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.dropTriangle {
    position: absolute;
    right: 5px;
    top: 8px;
    font-size: 21px;
    /*color: #eaeaea;*/
    z-index: 4;
}

#meetingDriverDropDown, #meetingTypeDropDown, #popUpRestrictionsDropDown {
    position: absolute;
    top: 33px;
    z-index: 5;
    /* color: #cecfd4; */
    width: 100%;
    text-align: left;
    background-color: white;
 
    border: 1px #d7dadf solid;
    height: auto;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
}

input[type=time]::-webkit-inner-spin-button {
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    right: 0;
    padding: .539em .34em;
}

input[type=date]::datetime-edit {
    padding: 1em;
}


.radioGroupHack label input[type=radio] {
    position: absolute;
    left: 1px;
    visibility: hidden;
}

.radioGroupHack label {
    display: inline-block;
    position: relative;
    /*margin-right: 0px !important;*/
    padding-left: 15px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.radioGroupHack label .check {
    position: absolute;
    border: 2px solid #707794;
    background-color: #707794;
    border-radius: 100%;
    z-index: 5;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 0px;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.radioGroupHack label .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 2px solid #21e0c1;
}

input[type=radio]:checked ~ .check::before {
    background: #21e0c1;
}

.innerLabelText {
    display: inline-block;
    padding-left: 6px;
    padding-top: 6px;
    margin-right: 12px;
}


/*///////////////*/

.checkboxGroupHack label input[type="checkbox"] {
    position: absolute;
    left: -999999px;
    /*visibility: hidden;*/
}

.checkboxGroupHack label {
    display: inline-block;
    position: relative;
    /*margin-right: 0px !important;*/
    padding-left: 15px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.checkboxGroupHack label .check {
    position: absolute;
    border: 2px #bdc0c6 solid;
    background-color: white;
    /*border-radius: 100%;*/
    z-index: 5;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 0px;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    border-radius: 2px;
}

.checkboxGroupHack label .check::before {
    display: block;
    position: absolute;
    content: '';
    /*border-radius: 100%;*/
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

/*.innerCheck {
  display: inline-block;

}*/

input[type="checkbox"]:checked ~ .check {
    border: 2px solid #2196f3;
    border-radius: 2px;
}

input[type="checkbox"]:checked ~ .check::before {
    background: #2196f3;
    border-radius: 2px;
}




input[type="checkbox"]:checked ~ .check .innerCheck {
  position: absolute;
  top: -1px;
    left: -2px;
    width: 7px;
    height: 11px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; 
}

.innerLabelText {
    display: inline-block;
    padding-left: 6px;
    padding-top: 6px;
    margin-right: 12px;
}


.rowOfChecks {
     position: absolute;
         bottom: 12px;
         right: 50px;
}

.block {
  display: block !important;
}

.distributionLocations {
  margin-left: 30px;
  clear: both;
}

.leftSide {
  float: left;
  margin-left: 10px;
}

.rightSide {
  float: right;
}


.rowContactFlex.extraMargin {
  margin-top: 5px;
}

.blockGroupLabel {
  color: #646973;
    display: block;
    margin-bottom: 7px;
  
    letter-spacing: .3px;
    font-weight: 500;
}
.horizontalGroupLabel {
      color: #646973;
    
    margin-right: 11px;
    display: inline-block;
    letter-spacing: .3px;
    font-weight: 500;
}



/*/////////////////////*/

/*[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden; }
*/

 /* [type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    -webkit-user-select: none;

    -moz-user-select: none;
   
    -khtml-user-select: none;
   
    -ms-user-select: none;
    }
  [type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s; }
  [type="checkbox"]:not(:checked):disabled + label:before {
    border: none;
    background-color: rgba(0, 0, 0, 0.26); }
*/
/*[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 11px;
  height: 20px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
[type="checkbox"]:checked:disabled + label:before {
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  border-bottom: 2px solid rgba(0, 0, 0, 0.26); }

[type="checkbox"].filled-in + label:after {
  border-radius: 2px; }
[type="checkbox"].filled-in + label:before, [type="checkbox"].filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;*/
  /* .1s delay is for check animation */
  /*transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
  z-index: 1; }
[type="checkbox"].filled-in:not(:checked) + label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%; }
[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 13px;
  width: 13px;
  background-color: transparent;
  border: 2px solid #a6a6a6;
  top: 0px;
  z-index: 0; }
[type="checkbox"].filled-in:checked + label:before {
  top: 0;
  left: 1px;
  width: 4px;
  height: 8px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
[type="checkbox"].filled-in:checked + label:after {
  top: 0px;
  width: 13px;
  height: 13px;
  border: 2px solid #2196F3;
  //the good blue
  background-color: #2196F3;
  z-index: 0; }
[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
  background-color: transparent;
  border: 2px solid transparent; }
[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #BDBDBD; }
[type="checkbox"].filled-in:disabled:checked + label:before {
  background-color: transparent; }
[type="checkbox"].filled-in:disabled:checked + label:after {
  background-color: #BDBDBD;
  border-color: #BDBDBD; }*/