.bar-graph-wrapper {
  margin-top: 20px;
  width: calc(70% - 10px);
  display: flex;
  padding: 0px 37px;
  // margin: 0 20px;
  border: 1px $border-color solid;
  justify-content: center;
  margin-right: 10px;
}

.bar-graph {
  width: 87%;

  .flex-row-center {
    width: 100%;
  }

  .panel-row {
    &:hover {
      background-color: transparent;
      cursor: auto;
    }
  }

  .colA {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }

  .colB {
    width: 50%;
    display: flex;
  }

  .proportion-bar {
    height: 16px;
    min-width: 1px;
    flex-shrink: 0;
    border-radius: 2px;
  }
}

.percent-class {
  // position: absolute;
  font-weight: 500;

  &.left-absolute {
    margin-right: 10px;
  }

  &.right-absolute {
    margin-left: 10px;
  }
}

.legend {
  margin-top: 20px;
  width: 30%;
}
