@import 'https://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';
// @import url("//hello.myfonts.net/count/320361");

  
// @font-face {font-family: 'TTCorals-Regular';src: url('webfonts/320361_0_0.eot');src: url('webfonts/320361_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/320361_0_0.woff2') format('woff2'),url('webfonts/320361_0_0.woff') format('woff'),url('webfonts/320361_0_0.ttf') format('truetype');}
 
  
// @font-face {font-family: 'TTCorals-Bold';src: url('webfonts/320361_1_0.eot');src: url('webfonts/320361_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/320361_1_0.woff2') format('woff2'),url('webfonts/320361_1_0.woff') format('woff'),url('webfonts/320361_1_0.ttf') format('truetype');}



@import 'https://fonts.googleapis.com/css?family=Yantramanav:400,500,700,900';

@font-face {
font-family: 'Gotham Narrow Book';
font-style: normal;
font-weight: normal;
src: local('Gotham Narrow Book'), url('GothamNarrow-Book.woff') format('woff');
}

@import 'https://fonts.googleapis.com/css?family=Assistant:300,400,600,700,800';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700';


.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}

#threeDotWhiteAlert {
	position: relative;
    display: inline-block;
    left: 469px;
    top: 3px;
    color: rgba(255, 255, 255, .9) !important;
    font-size: 22px;
    cursor: pointer;
}
.alertHeader {
	height: 49px;
	    // height: 53px;
	border-bottom: 1px rgba(0,0,0, .15) solid;
}

// .alertHeaderTitle {
// 	margin-left: 30px;
//     padding-top: 19px;
//     font-size: 20px;
//     font-weight: 400;
//     float: left;
//     color: rgba(0, 0, 0, .81);
// }

.allOpenClosed {
	margin-left: 30px;
	// margin-right: 30px;
	padding-top: 22px;
	font-size: 16px;
	font-weight: 500;
	color: rgba(0,0,0, .44);
	// float: right;
}

.allOpenClosed span {
	padding-right: 5px;
}

.allOpenClosed .selected {
	color: #0069CB;
}




.numbers {
	font-family: 'Cabin Condensed', sans-serif;
}

#alertSummaryHeadings {
	height: 70px;
	padding-left: 30px;
	padding-top: 10px;
	border-bottom: 6px #DCE2E8 solid;
}

.summary {
	display: inline-block;
	text-align: center;
	margin-right: 7.7%;
}

.summaryTotal {
	padding-right: 5.6%;
	margin-right: 5.6%;
	border-right: 1px #DCE2E8 solid;
}

.summary .numbers {
	
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 32px;
	color: rgba(0,0,0, .9);
	padding-bottom: 3px;
    
}

.summary .numbers:hover {
	cursor: pointer;
} 

.numbers.selectedNumbers {
	border-bottom: 6px #0069CB solid;
}

.summaryLabel {
	color: rgba(0,0,0, .54);
	padding-bottom: 5px;
	font-weight: 500;

}

.cockpit {
	width: 100%;
	padding-left: 30px;
	height: 285px;
	border-bottom: 1px rgba(0,0,0, .15) solid;
}

.summaryBox {
	width: 124px;
    height: 107px;
    background-color: #F4F6F8;
    margin-top: 15px;
    margin-right: 15px;
    padding-top: 13px;
    position: relative;
    float: left;
    box-sizing: border-box;
}

#riskSummaryBox:hover ~ .risk{
	background-color: #fcf1f3;
}

.summaryBoxLeft {
	width: 50%;
	float: left;
	padding-left: 5%;
}

.summaryBoxRight {
	width: 50%;
	float: left;
}


.summaryBoxTitle {
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .5px;
	padding-top: 3px;
	color: rgba(0,0,0, .9);
	
}

.dot {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 2px;

}
// 	.dot {
//     width: 2px;
//     height: 105px;
//      border-radius: 50%; 
//     position: absolute;
//     top: 1px;
//     left: 1px;
// }


.numberSummaryBox {
	// font-family: 'Roboto Condensed', sans-serif;
	// font-weight: 700;
	font-family: 'Cabin Condensed', sans-serif;

	font-size: 32px;
	color: rgba(0,0,0, .9);
	text-align: center;
	padding-top: 16px;
}
.minRow {
	margin-left: 11px;
    width: 46px;
    padding: 1px 3px 2px 2px;
	// margin-bottom: 1px;
	transition: .2s ease-in;
}

// .minRow:hover {
// 	background-color: #f9fdc5;
// 	transition: .2s ease-in;
// 	// cursor: pointer;
// }

.summaryBoxCategory {
	font-size: 12px;
	color: rgba(0,0,0, .7);
	font-family: 'Roboto Condensed', sans-serif;

	font-weight: 400;
	text-transform: uppercase;
	// font-family: 'Cabin Condensed', sans-serif;
}

.numberSummaryBoxMini {
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Cabin Condensed', sans-serif;
	// font-weight: 700;
	font-size: 14px;
	color: rgba(0,0,0, .9);
	text-align: right;
	float: right;
	// padding-top: 1px;
	// padding-top: 15px;
}

.metricBar {
	background-color: #C9CFD7;
	position: relative;
	top: 74px;
	width: 100%;
	height: 12px;
}

.blueMetric {
	height: 100%;
	min-width: 1px;
	background-color: #2196F3;
	transition: .3s; 
}

.lineMetric {
	position: absolute;
	z-index: 2;
	background-color: white;
	height: 100%;
	width: 2px;
	
}

.risk {
	width: 88px;
}

.trade {
	width: 93px;
}

.strat {
	width: 53px;
}

.sales {
	width: 63px;
}

.perf {
	width: 41px;
}

.pr-trd {
	width: 45px;
}

.system {
	width: 23px;
}

.mrkt {
	width: 28px;
}



.risk1 {
	left: 10px;
}

.trade1 {
	left: 30px;
}

.strat1 {
	left: 70px;
}

.sales1 {
	left: 20px;
}

.perf1 {
	left: 100px;
}

.pr-trd1 {
	left: 80px;
}

.system1 {
	left: 10px;
}

.mrkt1 {
	left: 60px;
}


/*////////////// FILTER /////////////////////////*/
.filterRow {
	width: 100%;
	height: 31px;
	position: relative;
	top: 8px;
	clear: both;
}

#filterSortContainerAlerts {
	position: relative;
	left: 438px;
    // top: 11px;
    width: 123px;
    height: 30px;
}

.sideSearchAlerts {
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
    width: 100px;
    height: 25px;
    border-bottom: 1px solid #bababa;
    padding: 5px 0 4px 5px;
    transition: .3s ease-in;
}

#clearAlerts {
    position: relative;
    left: -14px;
    top: 1px;
    color: rgba(0,0,0,.5);
    cursor: pointer;
    padding: 0px 4px 2px 5px;
    border-radius: 50%;
    transition: .2s ease-in;
}


#clearAlerts:hover {
	background-color: rgba(0, 0, 0, 0.06);
	transition: .2s ease-in;
}


#sideSearchContainerAlerts {
    width: 120px;
    position: relative;
    left: 5px;
    // position: relative;
}

#filterIconAlerts {
    position: absolute;
    color: rgba(0,0,0, .3);
    cursor: pointer;
    transition: .3s ease-in;
    left: -16px;
    top:  7px;
    font-size: 15px;
}


/*/////////////////////// FEED ////////////////////////*/

.feed {
	width: 600px;
	height: 244px;
	overflow-y: scroll;
	overflow-x: hidden;
	// background-color: pink;
}


.alertRow {
    width: 100%;
    border-bottom: 1px #eeeeee solid;
    padding: 2.4% 2% 2.4% 5%;
    transition: .3s;
}

.alertRow:hover {
	background-color: aliceblue;
	background-color: #f5f5f5;
	background-color: #f3f8fc;
	background-color: #f4f6f8;
	transition: .3s;
}

.alertType {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #14C1AC;
    display: inline-block;
    float: left;
    // padding-top: 1%;
}

.alertText {
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	// font-weight: 500;
	padding-top: 12px;
	letter-spacing: .2px;
	// color: #F4F6F8;

}

/*/////////////////////////////////////////// ALERT COLORS ///////////////////////*/
.riskAlert {
	background-color: #F7A099; 
	background-color: #ED75C1;
	background-color: #B46CEE;
	background-color: #e67979;
	background-color: #cf6cee;
	background-color: #f66f64;
    background-color: rgb(209, 213, 68);
    background-color: #cf6cee;
    background-color: #fd857b;
	    
}

.riskAlert .alertText {
	color: rgba(0,0,0, .7);
	color: #f9fdc5;
	color: white;
}

.tradeAlert {
	background-color: #32b5a5;
	background-color: #14C1AC;
	background-color: #5ac5b8;
}

// .tradeAlert .alertText {
// 	color: aliceblue;
// }

.performanceAlert {
	background-color: #0856AF;
}

.stratAlert {
	background-color: #855280;
	background-color: #625285;
	background-color: #f9fdc5;
	background-color: #ddee03; 
	// good yellow above
	
	background-color: #9770f2;
	background-color: #957ecb;
	background-color: #a18fc9;
	    background-color: #c6b0f8;
	    background-color: #B46CEE;
}

.salesAlert {
	background-color: #C6C50D;
	background-color: #2E415A;
	background-color: #485f7d;
	    background-color: #1c3a60;

}


.prTrdAlert {
	background-color: #3FEEB1;
	
	background-color: #46d18e;
	background-color: #39a872;
	background-color: #26B470;
	background-color: #46a9d1;
    background-color: #6cbdee;
    background-color: #40a2de;
}

// .prTrdAlert .alertText {
// 	color: #f6fd9b;
// 	color: #d6fffe;
// 	color: white;
// }

.systmAlert {
	background-color: #88a8b5;
	    background-color: #627c87;
	        background-color: #7e96a0;
}

.mktAlert {
	background-color: #268EB4;
	background-color: #f0cd67;
	    background-color: #785d8b;
	        background-color: #4f38a4;
	background-color: #604f9e;
	    background-color: #6550b0;
}

// .mktAlert .alertText {
// 	color: #f6fd9b;
// 	color: #fbffca;
// }

.contactGridRowTextWrapper {
    width: 62%;
    float: left;
    // border: 1px black solid;
    margin-left: 3%;
    // white-space: nowrap;
    // text-overflow: ellipsis;
}

.messageTitle {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1em;
    letter-spacing: .1px;
    line-height: 1em;
    display: inline-block;
    // padding-bottom: 4px;
    color: rgba(0, 0, 0, .9);
}

.messageText {
    font-family: 'Roboto';
        /* font-family: 'Roboto Condensed'; */
    font-weight: 400;
    font-size: 1em; 
    // letter-spacing: .1px;
    line-height: 1.4em;
    color: rgba(0, 0, 0, .54);
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    position: relative;
    z-index: 1;
    padding-left: 5px;
}


.alertIcons {
    width: 141px;
    height: 26px;
    font-size: 22px;
    display: inline-block;
    float: right;
    position: relative;
    top: 4px;
    // left: 376px;
    color: rgba(0, 0, 0, .8);
    // background-color: pink;
}

.mdi-open-in-new {
	font-size: 22px;
}

.mdi-information-variant, .mdi-link-variant, .mdi-check, .mdi-information, .mdi-open-in-new {
	padding: 2px;
    margin-right: 7px;
    transition: .3s;
	// background-color: yellow;
}

.mdi-information-variant {
	border-radius: 50%;
	transition: .3s;
	// background-color: #f4f6f8;
}

.mdi-information-variant:hover {
	background-color: #485f7d;
	background-color: #C9CFD7;
	// color: white;
	transition: .3s;
}



.mdi-open-in-new:hover {
	background-color: #32b5a5;
	background-color: #C9CFD7;
	transition: .2s;
}

.mdi-check:hover {
	color: #32b5a5;
	background-color: #f9fdc5;
	background-color: #C9CFD7;
	transition: .3s;
	// cursor: pointer;
}

.gridDots {
    color: rgba(0, 0, 0, .8);
    font-size: 22px;
    float: right;
     padding: 2px;
    position: relative;
    z-index: 2;
    // margin-right: 5%;
}