@import 'https://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';
@import 'https://fonts.googleapis.com/css?family=Assistant:300,400,600,700,800|Biryani:200,300,400,600,700,800,900|Fira+Sans:300,400,500,700|Khula:300,400,600,700,800|Source+Sans+Pro:200,300,400,600,700,900|Ubuntu:300,400,500,700|Yantramanav:300,400,500,700,900';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic);
/*font-family: 'Assistant', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Khula', sans-serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Biryani', sans-serif;*/
/* line 14, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000314}}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/*////////////////////////////// FROM GRID ///////////////////////////////////////*/
/* line 31, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000331}}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* line 52, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000352}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 56, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000356}}
body {
  line-height: 1;
}
/* line 59, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000359}}
ol,
ul {
  list-style: none;
}
/* line 62, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000362}}
blockquote,
q {
  quotes: none;
}
/* line 65, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000365}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 70, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000370}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 74, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000374}}
* {
  box-sizing: border-box;
}
/* line 82, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000382}}
body {
  font-size: 14px;
  background-color: #D2D2D2;
  font-family: 'Roboto', sans-serif;
}
/* line 88, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000388}}
#wrapper {
  width: 600px;
  height: 760px;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0 auto;
}
/* line 99, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\0000399}}
header {
  height: 63px;
  width: 100%;
  background: white;
  position: relative;
  height: 71px;
  height: 74px;
  background: #e7e6e6;
}
/* line 113, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003113}}
#search {
  width: 4%;
  position: absolute;
  top: 20px;
  left: 10px;
}
/* line 121, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003121}}
#search img {
  width: 100%;
}
/* line 125, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003125}}
.topRightActions {
  width: 65px;
  display: inline-block;
  font-size: 25px;
  position: relative;
  left: 515px;
  top: -17px;
  top: -11px;
  color: #0069CB;
}
/* line 137, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003137}}
#nineBox {
  width: 25px;
  height: 25px;
  font-size: 25px;
  position: absolute;
  left: 34px;
  top: 0px;
  color: #0069CB;
  cursor: pointer;
  /*border: 1px black solid;*/
}
/* line 150, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003150}}
.mdi-window-minimize {
  font-size: 19px;
  position: absolute;
  top: 2px;
  left: 570px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 158, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003158}}
#nineBox img {
  width: 100%;
}
/* line 164, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003164}}
#logo {
  width: 30px;
  position: absolute;
  z-index: 3;
  margin: 5px 0 0 10px;
  top: 0px;
}
/* line 172, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003172}}
.beaconLogoText {
  position: relative;
  left: 45px;
  top: 10px;
  text-transform: uppercase;
}
/* line 179, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003179}}
#logo img {
  width: 75%;
}
/* line 183, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003183}}
.bar {
  width: 100%;
  height: 40px;
  background-color: #0069CB;
}
/* line 189, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003189}}
.bar h1 {
  font-size: 14px;
  color: white;
  padding-left: 30px;
  padding-top: 14px;
  display: inline-block;
  text-transform: uppercase;
}
/* line 198, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003198}}
.topSearch {
  background-color: white;
  /* color: white; */
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  width: 430px;
  height: 35px;
  position: relative;
  text-align: left;
  padding-bottom: 1em;
  /* left: 5px; */
  /* padding-bottom: 5px; */
  /* top: -20px; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* padding-top: 5px; */
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.8);
  /* text-align: center; */
  transition: 0.3s ease-in;
  width: 450px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/* line 224, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003224}}
.dropdownSearch {
  font-size: 14px;
  /* display: inline-block; */
  width: 445px;
  /* height: 35px; */
  position: relative;
  left: 49px;
  top: 19px;
  /* top: 27px; */
  /* border: 1px solid rgba(0,0,0, 0.2); */
  /* padding-top: 5px; */
  border-radius: 2px;
  text-align: left;
  z-index: 3;
  transition: 0.3s ease-in;
}
/* line 241, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003241}}
.topSearch .mdi-magnify {
  position: relative;
  font-size: 24px;
  top: 17px;
  left: -26px;
  color: rgba(0, 0, 0, 0.5);
  top: 6px;
  left: 21px;
}
/*////////////////// END FROM GRID ///////////////////*/
/* line 253, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003253}}
#threeDotWhiteAlert {
  position: relative;
  display: inline-block;
  left: 469px;
  top: 3px;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 22px;
  cursor: pointer;
}
/* line 262, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003262}}
.alertHeader {
  height: 49px;
  border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
}
/* line 269, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003269}}
.allOpenClosed {
  margin-left: 30px;
  padding-top: 22px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.44);
  cursor: pointer;
}
/* line 279, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003279}}
.allOpenClosed span {
  padding-right: 5px;
}
/* line 284, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003284}}
.allOpenClosed .selected {
  color: #0069CB;
}
/* line 289, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003289}}
#alertSummaryHeadings {
  height: 70px;
  padding-left: 30px;
  padding-top: 10px;
  border-bottom: 6px #DCE2E8 solid;
}
/* line 296, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003296}}
.summary {
  display: inline-block;
  text-align: center;
  margin-right: 6.9%;
  margin-right: 7.1%;
  margin-right: 7.3%;
}
/* line 304, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003304}}
.summaryTotal {
  margin-left: 1%;
  padding-right: 4.6%;
  margin-right: 4.6%;
  padding-right: 4.8%;
  margin-right: 4.8%;
  border-right: 1px #DCE2E8 solid;
}
/* line 313, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003313}}
.summary .numbers {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.9);
  padding-bottom: 5px;
  font-weight: 600;
}
/* line 332, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003332}}
.summary .numbers:hover {
  cursor: pointer;
}
/* line 336, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003336}}
.numbers.selectedNumbers {
  border-bottom: 6px #0069CB solid;
}
/* line 340, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003340}}
.summaryLabel {
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 5px;
  padding-bottom: 3px;
  font-weight: 500;
}
/* line 348, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003348}}
.cockpit {
  width: 100%;
  padding-left: 30px;
  height: 280px;
  border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
}
/* line 355, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003355}}
.summaryBox {
  width: 124px;
  height: 107px;
  background-color: #F4F6F8;
  margin-top: 15px;
  margin-top: 20px;
  margin-right: 15px;
  padding-top: 13px;
  position: relative;
  float: left;
  box-sizing: border-box;
  transition: .3s;
}
/* line 368, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003368}}
.summaryBox:hover {
  background-color: #e0eefb;
  background-color: #e0e9f1;
  transition: .3s;
}
/* line 375, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003375}}
#riskSummaryBox:hover ~ .risk {
  background-color: #fcf1f3;
}
/* line 379, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003379}}
.summaryBoxLeft {
  width: 50%;
  float: left;
  padding-left: 5%;
}
/* line 385, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003385}}
.summaryBoxRight {
  width: 50%;
  float: left;
}
/* line 391, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003391}}
.summaryBoxTitle {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5px;
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.9);
}
/* line 419, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003419}}
.dot {
  width: 6px;
  height: 106px;
  /* border-radius: 50%; */
  position: absolute;
  top: 0px;
  left: -5px;
}
/* line 428, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003428}}
.numberSummaryBox {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-top: 16px;
  padding-top: 11px;
  padding-top: 13px;
}
/* line 438, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003438}}
.minRow {
  margin-left: 11px;
  width: 46px;
  padding: 1px 3px 2px 2px;
  transition: 0.2s ease-in;
}
/* line 452, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003452}}
.summaryBoxCategory {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 472, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003472}}
.numberSummaryBoxMini {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  text-align: right;
  float: right;
  letter-spacing: -0.7px;
}
/* line 493, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003493}}
.metricBar {
  background-color: #C9CFD7;
  position: relative;
  top: 74px;
  width: 100%;
  height: 12px;
}
/* line 501, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003501}}
.blueMetric {
  height: 100%;
  min-width: 1px;
  background-color: #2196F3;
  transition: .3s;
}
/* line 509, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003509}}
.lineMetric {
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 100%;
  width: 2px;
}
/* line 518, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003518}}
.risk {
  width: 88px;
}
/* line 522, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003522}}
.trade {
  width: 93px;
}
/* line 526, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003526}}
.strat {
  width: 53px;
}
/* line 530, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003530}}
.sales {
  width: 63px;
}
/* line 534, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003534}}
.perf {
  width: 41px;
}
/* line 538, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003538}}
.pr-trd {
  width: 45px;
}
/* line 542, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003542}}
.system {
  width: 23px;
}
/* line 546, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003546}}
.mrkt {
  width: 28px;
}
/* line 552, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003552}}
.risk1 {
  left: 10px;
}
/* line 556, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003556}}
.trade1 {
  left: 30px;
}
/* line 560, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003560}}
.strat1 {
  left: 70px;
}
/* line 564, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003564}}
.sales1 {
  left: 20px;
}
/* line 568, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003568}}
.perf1 {
  left: 100px;
}
/* line 572, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003572}}
.pr-trd1 {
  left: 80px;
}
/* line 576, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003576}}
.system1 {
  left: 10px;
}
/* line 580, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003580}}
.mrkt1 {
  left: 60px;
}
/*////////////// FILTER /////////////////////////*/
/* line 586, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003586}}
.filterRow {
  width: 100%;
  height: 31px;
  position: relative;
  top: 8px;
  clear: both;
}
/* line 594, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003594}}
#filterSortContainerAlerts {
  position: relative;
  left: 438px;
  width: 123px;
  height: 30px;
}
/* line 602, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003602}}
.sideSearchAlerts {
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  display: inline-block;
  width: 100px;
  height: 25px;
  border-bottom: 1px solid #bababa;
  padding: 5px 0 4px 5px;
  transition: 0.3s ease-in;
}
/* line 616, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003616}}
#clearAlerts {
  position: relative;
  left: -14px;
  top: 1px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 0px 4px 2px 5px;
  border-radius: 50%;
  transition: 0.2s ease-in;
}
/* line 628, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003628}}
#clearAlerts:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: 0.2s ease-in;
}
/* line 634, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003634}}
#sideSearchContainerAlerts {
  width: 120px;
  position: relative;
  left: 5px;
}
/* line 641, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003641}}
#filterIconAlerts {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease-in;
  left: -16px;
  top: 7px;
  font-size: 15px;
}
/*/////////////////////// FEED ////////////////////////*/
/* line 654, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003654}}
.feed {
  width: 600px;
  height: 244px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 663, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003663}}
.alertRow {
  width: 100%;
  border-bottom: 1px #eeeeee solid;
  padding: 2.4% 2% 2.4% 5%;
  transition: .3s;
}
/* line 670, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003670}}
.alertRow:hover {
  background-color: aliceblue;
  background-color: #f5f5f5;
  background-color: #f3f8fc;
  background-color: #f4f6f8;
  transition: .3s;
}
/* line 678, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003678}}
.alertType {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #14C1AC;
  display: inline-block;
  float: left;
}
/* line 688, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003688}}
.alertText {
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 12px;
  letter-spacing: .2px;
}
/*/////////////////////////////////////////// ALERT COLORS ///////////////////////*/
/* line 702, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003702}}
.metricDarker {
  background-color: #4b5964;
}
/* line 706, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003706}}
.riskAlert {
  background-color: #F7A099;
  background-color: #ED75C1;
  background-color: #B46CEE;
  background-color: #e67979;
  background-color: #d1d544;
  background-color: #cf6cee;
  background-color: #fd857b;
  background-color: #f66f64;
}
/* line 720, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003720}}
.riskAlert .alertText {
  color: rgba(0, 0, 0, 0.7);
  color: #f9fdc5;
  color: white;
}
/* line 726, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003726}}
.tradeAlert {
  background-color: #32b5a5;
  background-color: #14C1AC;
  background-color: #5ac5b8;
}
/* line 736, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003736}}
.performanceAlert {
  background-color: #0856AF;
}
/* line 740, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003740}}
.stratAlert {
  background-color: #855280;
  background-color: #625285;
  background-color: #f9fdc5;
  background-color: #ddee03;
  background-color: #9770f2;
  background-color: #957ecb;
  background-color: #a18fc9;
  background-color: #c6b0f8;
  background-color: #B46CEE;
}
/* line 754, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003754}}
.salesAlert {
  background-color: #C6C50D;
  background-color: #2E415A;
  background-color: #485f7d;
  background-color: #1c3a60;
}
/* line 763, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003763}}
.prTrdAlert {
  background-color: #3FEEB1;
  background-color: #46d18e;
  background-color: #39a872;
  background-color: #26B470;
  background-color: #46a9d1;
  background-color: #6cbdee;
  background-color: #40a2de;
  background-color: #2196F3;
}
/* line 781, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003781}}
.systmAlert {
  background-color: #88a8b5;
  background-color: #627c87;
  background-color: #7e96a0;
}
/* line 787, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003787}}
.mktAlert {
  background-color: #268EB4;
  background-color: #f0cd67;
  background-color: #785d8b;
  background-color: #4f38a4;
  background-color: #604f9e;
  background-color: #6550b0;
}
/* line 801, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003801}}
.contactGridRowTextWrapper {
  width: 62%;
  float: left;
  margin-left: 3%;
}
/* line 810, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003810}}
.messageTitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .1px;
  line-height: 1em;
  display: inline-block;
  color: rgba(0, 0, 0, 0.9);
}
/* line 828, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003828}}
.messageText {
  font-family: 'Roboto';
  /* font-family: 'Roboto Condensed'; */
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  position: relative;
  z-index: 1;
  padding-left: 5px;
}
/* line 851, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003851}}
.alertIcons {
  width: 141px;
  height: 26px;
  font-size: 22px;
  display: inline-block;
  float: right;
  position: relative;
  top: 4px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 864, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003864}}
.mdi-open-in-new {
  font-size: 22px;
}
/* line 868, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003868}}
.mdi-information-variant,
.mdi-link-variant,
.mdi-check,
.mdi-information,
.mdi-open-in-new {
  padding: 2px;
  margin-right: 7px;
  transition: .3s;
}
/* line 875, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003875}}
.mdi-information-variant {
  border-radius: 50%;
  transition: .3s;
}
/* line 881, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003881}}
.mdi-information-variant:hover {
  background-color: #485f7d;
  background-color: #C9CFD7;
  transition: .3s;
}
/* line 890, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003890}}
.mdi-open-in-new:hover {
  background-color: #32b5a5;
  background-color: #C9CFD7;
  transition: .2s;
}
/* line 896, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003896}}
.mdi-check:hover {
  color: #32b5a5;
  background-color: #f9fdc5;
  background-color: #C9CFD7;
  transition: .3s;
}
/* line 904, style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amandainnis\/Desktop\/web folder HTML CSS\/amandainnis\.github\.io\/beacon\/alerting\/style\.less}line{font-family:\00003904}}
.gridDots {
  color: rgba(0, 0, 0, 0.8);
  font-size: 22px;
  float: right;
  padding: 2px;
  position: relative;
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */