
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

 .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}





body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

#my_parent {
    margin: 2rem 0 0 1rem;
    float: left;
    border: 1px black solid;
    width: 580px;
    height: 580px;
}


nav {
    // background-color: #f5f5f5;
    width: 100%;
    // -webkit-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.35);
    // -moz-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.35);
    // box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.35);
}

.redditHero {
    width: 90%;
}

.paintHero {
    width: 50%;
}

.subNav {
    margin: 1rem 0 0 1rem;
}




h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5em;
    font-weight: 200;
    padding: 1rem 0 .75rem 1rem;
    margin-top: 1rem;
    // color: #e0e0e0;
    color: black;
    // color: white;
    // text-align: center;
}
 h2 {
 	padding: 0 0 1rem 1rem;
 }

// h1 .upper {
// 	// text-transform: uppercase;
// }
p {
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    // width: 580px;
}

.nameYourPainting {
    width: 580px;
    width: 80%;
}

// .nameYourPainting .titleSpan {
// 	padding: 10px;
// 	background-color: yellow;
// 	font-weight: 500;
// 	margin: 5px;
// 	border-radius: 10px;
// 	cursor: pointer;
// 	display: inline-block;
// }
.nameYourPainting .titleSpan, .bbmButton {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid black;
    // width: 100px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}

.selectedJson, .selectedFilter {
	color: blue;
}


.leftsize,
.rightcolor {
    display: inline-block;
    margin: 1em 0;
    color: rgba(0, 0, 0, .54);
    user-select: none;
    -webkit-user-select: none;
}

.rightcolor {
    float: right;
}

.leftsize {
    float left;
}

.sideBar, .sideBar2 {
    margin: 1em;
    float: left;
    // border: 1px black solid;
}

.brush0 {
    width: 10px;
    height: 10px;
}

.brush1 {
    width: 30px;
    height: 40px;
}

.brush2 {
    width: 50px;
    height: 60px;
}

.brush3 {
    width: 70px;
    height: 80px;
}

.brush0,
.brush1,
.brush2,
.brush3 {
    float: right;
    border: 1px black solid;
    border-radius: 50%;
}

input {
    float: left;
}

.brush0Color,
.brush1Color,
.brush2Color,
.brush3Color {
    border-top: 1px #a9a9a9 solid;
    padding: 1em 0;
}

.color-pickerBackground {
    float: left;
}

#screenshot {
    float: left;
    margin-top: 3em;
}

.brushImg,
.paletteImg {
    width: 20%;
    // border: 1px black solid;
}

.paletteImg {
    float: right;
}

// p {
// 	width: 60%;
// }
#reddit {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}

#emptyFrame {
    margin: 1rem 0 0 1rem;
    float: left;
    border: 1px black solid;
    width: 580px;
    height: 580px;
}

.level1 {
    width: 578px;
    height: 578px;
    // background-image: url('yellow is my friend.png');
    // background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0f/Grosser_Panda.JPG');
    background-size: cover;
    // padding: 28em;
    background-color: #00bcd6;
    // background-blend-mode: color-burn;
}

.sideBar2 {
	float: left;
	width: 300px;
}

.backgroundBlendColor {
    background-color: #D0B0FB;
}

// .bbmColorBurn {
//     background-blend-mode: color-burn;
// }

.backgroundBlur {
    -webkit-filter: blur(15px);
    /* Chrome, Safari, Opera */
    filter: blur(15px);
}

.multiply 	 { background-blend-mode: multiply;    }
.screen 	 { background-blend-mode: screen; 	   } 
.overlay 	 { background-blend-mode: overlay;     }
.darken 	 { background-blend-mode: darken;      }
.lighten 	 { background-blend-mode: lighten;     }
.color-dodge { background-blend-mode: color-dodge; }
.color-burn  { background-blend-mode: color-burn;  }
.hard-light  { background-blend-mode: hard-light;  }
.soft-light  { background-blend-mode: soft-light;  }
.difference  { background-blend-mode: difference;  }
.exclusion   { background-blend-mode: exclusion;   }
.hue 		 { background-blend-mode: hue;   	   }
.saturation  { background-blend-mode: saturation;  }
.color 		 { background-blend-mode: color;       }
.luminosity  { background-blend-mode: luminosity;  }