
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,900 );
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;}

* {
	box-sizing: border-box;
}

 .clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}





body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

nav {
	// background-color: #f5f5f5;
	width: 100%;
	// -webkit-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.35);
	// -moz-box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.35);
	// box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.35);
}

.subNav {
	width: 100%;
	margin: 1rem 0 0 1rem; 
}


#my_parent {
	margin: 2rem 0 0 1rem;
	float: left;
	border: 1px black solid;
}




h1 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 2em;
	font-weight: 200;
	padding: 1rem;
	margin-top: 1rem;
	// color: #e0e0e0;
	color: black;
	// color: white;
	// text-align: center;
}

// h1 .upper {
// 	// text-transform: uppercase;
// }


p {
	font-weight: 300;
	font-size: 16px;
	color: rgba(0,0,0, .54);
}

.leftsize, .rightcolor {
	display: inline-block;
	margin: 1em 0;
	color: rgba(0,0,0, .54);
	
}
.rightcolor {
	float: right;
	
}
.leftsize {
	float left;
}

.sideBar {
	margin: 1em;
	float: left;
	// border: 1px black solid;
}

.brush0 {
	width: 10px;
	height: 10px;
}



.brush1 {
	width: 30px;
	height: 40px;	
}

.brush2 {
	width: 50px;
	height: 60px;
}

.brush3 {
	width: 70px;
	height: 80px;
}


.brush0, .brush1, .brush2, .brush3 {
	float: right;
	border: 1px black solid;
	border-radius: 50%;
}

input {
	float: left;
}

.brush0Color, .brush1Color, .brush2Color, .brush3Color  {
	border-top: 1px #a9a9a9 solid;
	padding: 1em 0;
}



#screenshot {
	float: left;
	margin-top: 3em;
}


.brushImg, .paletteImg {
	width: 20%;
	// border: 1px black solid;
}

.paletteImg {
	float: right;
}



#emptyFrame {
	margin: 1rem 0 0 1rem;
	float: left;
	border: 1px black solid;
	width: 580px;
	height: 580px;
}

.level1 {
	width: 100%;
	padding: 8em;
}


//////////////// NAV i stole ///////////////////

// .nav {
//     height: 100vh;
//     z-index: 100;
// }

// .nav {
//     right: 0px;
// }

// .nav {
//     position: fixed;
// }



// .hamburger {
//     height: 2px;
//     // background-color: #5C70D6;
//     background-color: black;
//     top: calc(50% - 1px);
//     -webkit-transition: background-color 0.2s ease;
//     transition: background-color 0.2s ease;
//     -webkit-transition-delay: 0.1s;
//     transition-delay: 0.1s;
// }


//  .nav-button {
//     z-index: 1;
//     width: 55px;
//     height: 55px;
//     top: 30px;
//     right: 30px;
//     border-radius: 100%;
// }

// .nav-button {
//     -webkit-backface-visibility: hidden;
//     backface-visibility: hidden;
//     -webkit-transform-style: flat;
//     transform-style: flat;
//     background-color: white;
//     // background-color: green;
// }

//////////////// end of NAV i stole ///////////////////