@import 'https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,300,300italic,400,400italic,500,500italic,600,700,700italic,900,900italic';




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0; }

.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}

* {
	box-sizing: border-box;	
}

			
body {
    font-size: 12px;
    background-color: #D2D2D2;
    font-family: 'Roboto', sans-serif;
}

.buttonsToFlipSides {
    position: absolute;
    top: 42px;
    left: 19px;
}

.flipSideButton {
    width: 81px;
    height: 35px;
    font-size: 14px;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    margin-bottom: 3px;
    background-color: #646485;
}


.flipSideButton2 {
    width: 81px;
    height: 33px;
    font-size: 13px;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-radius: 8px;
    margin-bottom: 4px;
    background-color: #646485;
    background-color: #aeadad;
}


.flipSideButton2.selectedSide
  {
    background-color: #456270;
}

.buttonSections {
    display: inline-block;
    padding: 10px 0;
    border-top: 1px gray solid;
}


#wrapper,
#wrapperRestrictions {
    width: 600px;
    height: 760px;
    background-color: #26264E;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 1em auto;
    position: relative;
}

#wrapperRestrictions {
    height: 675px;
    position: absolute;
    top: 76px;
    left: 0;
    padding: 15px 4px 0 45px;
}
.topHeader {
    width: 100%;
    height: 30px;
    padding: 6px;
    position: relative;
    // background-color: #26264E;
    // border-bottom: 1px #364373 solid;
}

.logo {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #0069CB;
    border-radius: 50%;
}

.beaconLogoText {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: -1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .9);
}
.bar {
    width: 100%;
    height: 55px;
    border-top: 2px solid #364373;
    border-bottom: 2px solid #364373;
   
}

.navigation {
    margin-left: 38px;
    padding-top: 18px;
    font-size: 14px;
    font-weight: 400;
    color: #878EB1;
    cursor: pointer;
    letter-spacing: .8px;
}

.navigation span {
    padding-right: 15px;
}

.navigation .selected {
    color: #dbdff0;
}

.tickerDetails {
    padding-left: 38px;
    position: relative;
    margin-top: 58px;
}

.priceCostToggle {
    position: absolute;
    top: 92px;
    left: 445px;
}



.pricerToolLabel {
    color: #dbdff0;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: -3px;
    color: #878EB1;
    font-size: 14px;
}

.pricerToolButton {
    display: inline-block;
    position: absolute;
    left: 493px;
    top: 43px;
}

.priceCostToggleLabel {
    color: #dbdff0;
    display: inline-block;
    position: relative;
    top: -7px;
    color: #878EB1;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    height: 23px;
    width: 38px;
    margin: 0 5px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #595982;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: #c1c6e1;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #595982;
}

input:focus + .slider {
    box-shadow: 0 0 1px #394ad1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#pricerIconButton, #pricerIconButtonEmea {
    background-color: #394ad1;
    width: 28px;
    height: 28px;
    display: inline-block;
    position: relative;
    font-size: 21px;
    color: #fbfbfb;
    text-align: center;
    border-radius: 50px;
    padding-top: 4px;
    transition: .4s;
}


#pricerTool {
    width: 600px;
    height: 198px;
    padding-left: 33px;
    background-color: #26264E;
    border: 1px solid #26264E;
    position: relative;
    z-index: 4;
    top: 55px;
    left: 0;
    padding-right: 33px;
    height: 245px;
}

.pricerTitle {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    // font-weight: 300;
    letter-spacing: .4px;
    color: #21e0c1;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
}

#pricerTool .mdi-close {
    color: white;
    color: rgba(255, 255, 255, 0.9);
    float: right;
    position: relative;
    left: 23px;
    font-size: 20px;
    margin-top: 5px;
}

.invalid {
    position: relative;
    top: 8px;
    color: rgba(251, 122, 120, .9);
    left: 163px;
}

.pricerToolRow1 {
    margin-top: 67px;
}

.pricerToolRow2 {
    margin-top: 60px;
}

.pricerToolDetailsWrapper {
    display: inline-block;
}

.pricerToolDetailsLabel {
    position: relative;
    top: -11px;
    color: #878EB1;
    font-size: 13px;
}

.pricerTickerWrapper,
.pricerQuantityWrapper,
.pricerClientWrapper,
.pricerOrderIDWrapper {
    margin-left: 12px;
}

#pricerToolSide,
#pricerToolTicker,
#pricerToolQuantity,
#pricerToolClient,
#pricerToolOrderID {
    font-size: 14px;
    background-color: #535376;
    padding: 12px 0 12px 9px;
}

#pricerToolSide,
#pricerToolQuantity,
#pricerToolClient {
    color: white;
}

#pricerToolSide {
    min-width: 43px;
    max-width: 43px;
}

#pricerToolQuantity,
#pricerToolClient {
    min-width: 90px;
    max-width: 110px;
}

#pricerToolTicker {
    min-width: 90px;
    max-width: 90px;
    text-transform: uppercase;
}

#pricerToolOrderID {
    min-width: 177px;
    max-width: 177px;
}

.pricerToolInput {
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    letter-spacing: .3px;
    display: inherit;
    font-family: 'Roboto';
    color: white;
}

.pricerToolInput:focus {
    border: 1px #21e0c1 solid;
}

.pricerToolInput::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

.pricerToolInput::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

.pricerToolInput:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

.pricerToolInput:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

#pricerButton {
    width: 90px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    padding-top: 13px;
    border-radius: 8px;
    margin-left: 40px;
    letter-spacing: .4px;
    background-color: transparent;
    border: 1px solid #878fb0;
    // border: 1px solid #009688;
}

#pricerToolTickerMenu {
    position: absolute;
    z-index: 5;
    width: 88px;
    left: 92px;
    top: 170px;
    background-color: #1f1f41;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

#pricerToolTickerMenu ul li {
    text-transform: uppercase;
}

.tickerDetailsWrapper {
    display: inline-block;
}

.tickerDetailsLabel {
    color: #878EB1;
    font-size: 13px;
    position: absolute;
    top: 0px;
    top: -24px;
    top: -12px;
}

.tickerWrapper {
    height: 56px;
    width: 164px;
    background-color: #445287;
    margin-left: 19px;
}


.ticker {
    font-size: 34px;
    color: #FBFBFB;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    top: 3px;
    padding: 6px;
    text-align: center;
}


.sideWrapper {
    margin-left: 14px;
    min-width: 16px;
}

.side,
.quantity,
.NBBO {
    font-size: 24px;
}

.side {
    color: #21E0C1;
    position: relative;
}

.quantityWrapper {
    margin-left: 14px;
    min-width: 60px;
}

.quantity {
    color: #FBFBFB;
    font-weight: 300;
    position: relative;
}

.NBBOwrapper {
    margin-left: 19px;
    min-width: 100px;
    margin-left: 14px;
}

.NBBO {
    font-weight: 300;
    position: relative;
    color: #707794;
}

.NBBOatQty {
    position: absolute;
    left: 397px;
    top: 44px;
    font-weight: 300;
    font-size: 16px;
    color: #707794;
}


.NBBOsell {
    color: #FB7A78;
}

.NBBObuy {
    color: #21E0C1;
}

#spreadWrapper, #spreadWrapperEmea {
    width: 484px;
    margin: 24px auto 13px auto;
    border: 2px solid #364373;
    padding-top: 11px;
}


/* emea only */

.BBGRICtoggle {
    position: absolute;
    top: 45px;
    left: 345px;
        left: 376px;
}

.priceCostToggleEmea {
    position: absolute;
    top: 92px;
    left: 445px;
}

.tickerDetailsEmea {
    padding-left: 38px;
    position: relative;
    margin-top: 58px;
        margin-top: 65px;
}

.tickerWrapperEmea {
    height: 52px;
    width: 137px;
    background-color: #445287;
    margin-left: 19px;
}

.tickerEmea {
    font-size: 32px;
    color: #FBFBFB;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    top: 3px;
    padding: 6px;
    text-align: center;
}

.touchWrapper {
    width: 484px;
    margin: 24px auto 0px auto;
    margin: 28px auto 0px auto;
    border: 2px solid #364373;  
    border-bottom: none;
     padding: 15px 15px;
}

#spreadWrapperEmea {
    margin: 17px auto 13px auto;
    margin: 0px auto 13px auto;
}


.qtyAvailLabel {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    color: rgba(255, 255, 255, .9);
        letter-spacing: .3px
}

.qtyAvail {
    display: inline-block;
    font-size: 17px;
     font-weight: 300;
    color: rgba(255, 255, 255, .9);
    float: right;
}

.PBBOatQty {
    position: absolute;
    left: 368px;
    top: 44px;
    font-weight: 300;
    font-size: 16px;
    color: #707794;
}

.detailsWrapperDrawer {
    margin-top: 20px;
        margin-top: 37px;
    width: 100%;
   
}

.PBBOatQtyDrawer {
    position: relative;
    // left: 8px;
    top: 8px;
    font-weight: 300;
    font-size: 16px;
    color: #707794;
}

.betweenSpreadDataEmea {
    width: 484px;
    margin: 17px auto 0 auto;
    padding: 15px 15px;
    border: 2px #364373 solid;
    border-bottom: none;
    position: relative;
}


#pricerToolEmea {
    width: 450px;
    height: 198px;
    padding-left: 33px;
    background-color: #26264E;
    border: 1px solid #26264E;
    position: relative;
    z-index: 4;
    top: 55px;
    left: 0;
    padding-right: 33px;
    height: 245px;
    margin: 0 auto;
}

#pricerToolEmea.drawer {
    height: 416px;
}

#pricerDrawer {
    margin-top: 46px;
    border-top: 2px #364373 solid;
}

.drawerLabel {
    font-size: 14px;
    color: rgba(255, 255, 255, .9);
    font-weight: 300;
}

.PBBOdrawer {
    
    font-size: 24px;
    font-size: 17px;
    font-size: 21px;
    font-weight: 300;
    color: #707794;
}

.col_leftDrawer {
    width: 23%;
    float: left;
}

.col_rightDrawer {
    width: 69%;
    float: right;
    text-align: center;
}

#pricerToolEmea .mdi-close {
    color: white;
    color: rgba(255, 255, 255, 0.9);
    float: right;
    position: relative;
    left: 23px;
    font-size: 20px;
    margin-top: 5px;
}


#pricerButtonEmea {
    width: 90px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    padding-top: 13px;
    border-radius: 8px;
    margin-left: 68px;
    letter-spacing: .4px;
    background-color: transparent;
    border: 1px solid #878fb0;
    // border: 1px solid #009688;
}

.qtyButtonEmea {
    // width: 90px;
    // height: 40px;
    
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    padding: 13px;
    border-radius: 8px;
   
    letter-spacing: .4px;
    background-color: transparent;
    border: 1px solid #878fb0;
    // border: 1px solid #009688;
}

.divider {
    padding-left: 5px;
    padding-right: 5px;
        color: #707794;
}
/* end emea only */





.spreadRow {
    width: 100%;
    margin-bottom: 12px;
}

.sellSection,
.buySection,
.quantitySection,
.miscSell,
.miscBuy {
    background-color: #26264E;
    padding: 10px 0px;
}

.sellSection,
.miscSell {
    float: left;
}

.quantitySection,
.quantityMisc {
    float: left;
}

.buySection,
.miscBuy {
    float: left;
}

.sellSection,
.buySection,
.miscSell,
.miscBuy {
    font-size: 17px;
    font-weight: 500;
    color: #5C5C7A;
    text-align: center;
    width: 190px;
}

.quantitySection,
.quantityMisc {
    font-size: 17px;
    font-weight: 400;
    color: #F9F9FD;
    letter-spacing: .5px;
    text-align: right;
    padding-right: 5px;
    width: 100px;
}

.quantitySection.buyGreen {
    background-color: rgba(9, 158, 144, 0.9);
    color: #fbfbfb;
    font-weight: 400;
    transition: .4s ease-in;
}

.quantitySection.sellRed {
    background-color: rgba(251, 122, 120, .9);
    color: #fbfbfb;
    font-weight: 400;
    transition: .4s ease-in;
}

.buySection.selected {
    background-color: rgba(9, 158, 144, 0.9);
    color: #fbfbfb;
    font-weight: 400;
    transition: .4s ease-in;
}

.sellSection.selected {
    background-color: rgba(251, 122, 120, .9);
    color: #fbfbfb;
    font-weight: 400;
    transition: .4s ease-in;
}

.textGreen {
    color: #21E0C1;
    font-weight: 400;
}

.band {
    height: 2px;
    background-color: #5C5C7A;
    display: inline-block;
    margin: 5px 9px;
    width: 16px;
}


.bandWhite {
    background-color: #fbfbfb;
}

#quantityInput.quantityMisc {
    font-size: 15px;
    font-weight: 300;
    color: #F9F9FD;
    outline: none;
    border: none;
    padding-top: 8px;
    background-color: transparent;
}

#quantityInput.quantityMisc::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #F9F9FD;
}

#quantityInput.quantityMisc::-moz-placeholder {
    /* Firefox 19+ */
    color: #F9F9FD;
}

#quantityInput.quantityMisc:-ms-input-placeholder {
    /* IE 10+ */
    color: #F9F9FD;
}

#quantityInput.quantityMisc:-moz-placeholder {
    /* Firefox 18- */
    color: #F9F9FD;
}

.betweenSpreadData {
    width: 484px;
    margin: 17px auto 0 auto;
    padding: 20px 15px;
    border: 2px #364373 solid;
    border-bottom: none;
    position: relative;
}

.verticalLabel {
    color: #878EB1;
    font-size: 13px;
}

.horizontalLabel {
    color: #878EB1;
    font-size: 13px;
}

.mdi-clock {
    color: white;
}

.horizontalInfoField {
    color: #EAEAEA;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: .4px;
    display: inline-block;
    margin-left: 10px;
}

.dataFieldsWrapper {
    width: 484px;
    height: 115px;
    border: 2px solid #364373;
    margin: 0 auto;
    padding: 10px 0 10px 15px;
}

.colA,
.colB,
.colC {
    width: 31%;
    float: left;
}

.colA,
.colB {
    margin-right: 15px;
    border-right: 1px #364373 solid;
}

.dataRow {
    width: 100%;
    padding: 8px 0;
}

.horizontalDataField {
    color: #EAEAEA;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .4px;
    display: inline-block;
    margin-left: 5px;
}

#orderID {
    position: relative;
    transition: .9s ease-in;
}

#orderIDHover {
    width: 160px;
    height: 36px;
    position: absolute;
    top: -10px;
    padding: 10px 5px;
    z-index: 2;
    background-color: #151536;
    color: white;
    transition: .9s ease-in;
    display: none;
}

.clientLeft {
    float: left;
}

.expire {
    float: right;
}

.white {
    color: white;
}

.bottomButtonRow {
    margin: 22px auto 0;
    width: 288px;
}

.bottomButtons {
    text-transform: uppercase;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    padding-top: 14px;
    font-size: 14px;
    letter-spacing: .4px;
    display: inline-block;
}

.acceptButton {
    background-color: #394AD1;
    margin-left: 5px;
}

.notTradedButton {
    background-color: #36365c;
}


#buySideVersion {
    color: #21E0C1;
}

.redText {
    color: #FB7A78;
    font-weight: 400;
}

.restrictionTopRow {
    width: 100%;
    height: 97px;
}

#tickerZone {
    overflow-y: scroll;
    height: 559px;
}

#tickerZone::-webkit-scrollbar {
    width: 12px;
}

#tickerZone::-webkit-scrollbar-track {
    background-color: #1f1f41;
}

#tickerZone::-webkit-scrollbar-thumb {
    background-color: #40406b;
}

.tile {
    float: left;
    margin: 0px 28px 24px 6px;
    text-align: center;
    color: white;
    letter-spacing: .8px;
    width: 97px;
    text-transform: uppercase;
    padding: 12px;
    height: 36px;
    font-size: 15px;
}

.regular {
    background-color: #36365c;
}

.off {
    background-color: rgba(27, 143, 132, 0.89);
}

.wayOff {
    background-color: #af8261;
}

.searchField {
    width: 166px;
    height: 35px;
    background-color: #e7e7f2;
    float: left;
    margin-top: 26px;
    margin-right: 16px;
    margin-left: 2px;
    border-radius: 21px;
    outline: none;
    border: none;
    padding-left: 15px;
    font-family: 'Roboto';
    font-size: 14px;
    text-transform: uppercase;
}

.searchField::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #535761;
    text-transform: none;
}

.searchField::-moz-placeholder {
    /* Firefox 19+ */
    color: #535761;
    text-transform: none;
}

.searchField:-ms-input-placeholder {
    /* IE 10+ */
    color: #535761;
    text-transform: none;
}

.searchField:-moz-placeholder {
    /* Firefox 18- */
    color: #535761;
    text-transform: none;
}


/*////////////// POP  POP  POP UP & DROP Down Section //////////////////////*/

#pricerToolBackground,
#pricerToolBackgroundEmea,
#popUpBackground {
    width: 600px;
    height: 760px;
    position: absolute;
    top: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, .4);
}

.popUp {
    width: 400px;
    height: 396px;
    padding-left: 33px;
    padding-right: 33px;
    background-color: #37375B;
    border: 1px solid #37375B;
    position: relative;
    z-index: 4;
    top: 82px;
    left: 100px;
}

.executeTrade {
    height: 396px;
}

.followExecuteTrade {
    height: 396px;
}

.popUpInfo {
    width: 337px;
    margin-top: 60px;
}

.popUpClient {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
}

.popUpTicker {
    color: rgba(255, 255, 255, 0.9);
    font-size: 32px;
    letter-spacing: .4px;
    font-weight: 300;
    margin-top: 10px;
    display: inline-block;
}

.popUpSide,
.popUpQty {
    font-size: 32px;
    display: inline-block;
    margin-left: 20px;
    font-weight: 300;
}

.popUpQty {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

.popUp2menus {
    margin-top: 40px;
}

.popUp2menuRows {
    margin-top: 40px;
}

.popUpText {
    font-size: 15px;
    color: rgba(249, 249, 253, 0.54);
    letter-spacing: .4px;
    margin-top: 65px;
    font-weight: 300;
}

.popUpPriceSet {
    position: relative;
    margin-top: 15px;
}

.spinner {
    position: absolute;
    top: 0px;
    left: 303px;
    width: 34px;
    font-size: 18px;
}

.popUpPriceChoose {
    width: 334px;
    border: 1px transparent solid;
    color: white;
    padding-left: 10px;
    outline: none;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
    background-color: #646485;
    padding: 12px 0 12px 9px;
}

.popUpPriceChoose:focus {
    border: 1px #21e0c1 solid;
}

input[type="number"].popUpPriceChoose::-webkit-outer-spin-button,
input[type="number"].popUpPriceChoose::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: url("spinner.png") no-repeat center center;
    background-color: transparent;
    width: 10px;
    border-left: none;
    opacity: .5;
    position: absolute;
    top: 0;
    right: 6px;
    bottom: 0;
}

input[type="number"].popUpPriceChoose::-webkit-inner-spin-button:hover,
input[type="number"].popUpPriceChoose::-webkit-inner-spin-button:active {
    opacity: .8;
}

.popUpPricerLabel {
    position: relative;
    left: 34px;
    top: -9px;
    float: left;
}

.popUpExpire {
    text-align: center;
    margin: 38px auto 0;
}

.popUpExpireTimeLabel {
    position: relative;
}

.popUpExpireTime {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    padding-left: 8px;
}

.popUpExecuteButtons {
    margin-top: 10px;
}

#popUpClose {
    float: right;
    position: relative;
    left: 23px;
    font-size: 20px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.9);
}

.popUpButton {
    width: 140px;
    height: 40px;
    color: #36365c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-top: 13px;
    border-radius: 8px;
    letter-spacing: .4px;
}

#executeButton {
    background-color: #F5A201;
    color: #36365c;
    margin: 58px auto;
}

.popUpdropDown {
    width: 334px;
    height: 40px;
    border: 1px #878fb0 solid;
    color: rgba(255, 255, 255, 0.9);
    font-size: 13px;
    padding-top: 14px;
    padding-left: 7px;
    position: relative;
    top: 10px;
    z-index: 4;
}

.restrictionsDropDown {
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 1px #7a83a6 solid;
    color: rgba(255, 255, 255, 0.9);
    font-size: 13px;
    padding-top: 14px;
    padding-left: 7px;
    position: relative;
    top: 10px;
    margin-right: 5px;
    z-index: 4;
}

.colorDot {
    width: 11px;
    height: 11px;
    display: inline-block;
    float: right;
    border-radius: 50%;
}

#doneButton {
    width: 140px;
    height: 40px;
    font-size: 14px;
    color: white;
    text-align: center;
    padding-top: 14px;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: #394ad1;
    margin: 40px auto;
}

.dropDownMenu {
    width: 334px;
    position: relative;
}

.dropDownMenu2 {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}

.dropLabel {
    color: #9ca2c1;
}

.radioGroupLabel {
    color: #9ca2c1;
    margin-bottom: 8px;
}


#popUp2 label {
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    color: #9ca2c1;
}

input[type=radio] + label {
    color: #ccc;
}

input[type=radio]:checked + label {
    color: green;
}


input[type=radio]:checked + label:before {
    background-color: blue;
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

.dropTrianglePopUp {
    position: relative;
    left: 307px;
    top: -19px;
    font-size: 21px;
    color: #eaeaea;
    z-index: 3;
}

.dropTriangleRegular {
    position: relative;
    left: 126px;
    top: -19px;
    font-size: 21px;
    color: #eaeaea;
    z-index: 3;
}

#popUpUrgencyDropDown,
#popUpFollowDropDown {
    position: absolute;
    z-index: 5;
    color: #cecfd4;
    width: 300px;
    text-align: left;
    background-color: #1f1f41;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

#popUpUrgencyDropDown li,
#popUpFollowDropDown li {
    width: 300px;
}

#popUpUrgencyDropDown {
    top: 164px;
    left: 33px;
}

#popUpFollowDropDown {
    top: 252px;
}

li:first-child {
    padding-top: 15px;
}

li:last-child {
    padding-bottom: 15px;
}

li {
    padding: .7em .7em .7em 1em;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    color: #cecfd4;
}

.liColorPlain {
    color: #cecfd4;
}

li:hover {
    background-color: #40406b;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

#restrictionsPopUp {
    position: absolute;
    z-index: 6;
    height: 280px;
    padding: 60px 33px 0 33px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.turnOff {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: .4px;
    margin-bottom: 27px;
}


#backgroundRestrictions {
    width: 600px;
    height: 760px;
    position: absolute;
    top: 0;
    left: -3px;
    z-index: 4;
    background-color: rgba(0, 0, 0, .4);
}

#popUpRestrictionsDropDown {
    position: absolute;
    top: 164px;
    z-index: 5;
    color: #cecfd4;
    width: 300px;
    text-align: left;
    background-color: #1f1f41;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

#popUpRestrictionsDropDown li {
    width: 300px;
}

#popUpRestrictionsDropDown {
    left: 34px;
    top: 137px;
}

#okButton {
    margin: 0 auto;
    color: white;
    text-align: center;
    background-color: #394ad1;
}

.widerDropDown {
    display: inline-block;
    width: 236px;
    height: 40px;
    border: 1px #878fb0 solid;
    color: white;
    font-size: 13px;
    padding-top: 14px;
    padding-left: 7px;
    position: relative;
    top: 10px;
    margin-right: 5px;
    z-index: 4;
}

.dropTriangleWider {
    position: relative;
    left: 210px;
    top: -19px;
    font-size: 21px;
    color: #eaeaea;
    z-index: 3;
}

#popUpMarketDropDown {
    position: absolute;
    left: 398px;
    top: 73px;
    z-index: 5;
    color: #cecfd4;
    width: 143px;
    text-align: left;
    background-color: #1f1f41;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.13), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}





/*/////////  new styles to make the tile page nicer   ////////*/

.searchField {
    height: 32px;
}

.restrictionsDropDown {
    height: 38px;
    top: 8px;
    padding-top: 12px;
}

.restrictionTopRow {
    height: 88px;
}

#wrapperRestrictions {
    padding: 11px 4px 0 45px;
    z-index: 2;
}

#tickerZone {
    height: 572px;
}


.dropDownMenu2 {
    margin-left: 162px;}


.dropTriangleRegular {
    top: -21px;
    
}


#pricerTool {
    z-index: 10;
}