.navbar-inverse{
	background-color:aliceblue;
	background-image: none;
	border: green 5px dashed;

}

body    {background-image: url("img/home.jpg");
	    background-repeat: no-repeat;
	    background-size: 100%;}

body img {
        width: 100%;
        margin: 0 auto;}


.well{background: rgba(247,163,247,0.58);
background: -moz-linear-gradient(left, rgba(247,163,247,0.58) 0%, rgba(89,175,181,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,163,247,0.58)), color-stop(100%, rgba(89,175,181,1)));
background: -webkit-linear-gradient(left, rgba(247,163,247,0.58) 0%, rgba(89,175,181,1) 100%);
background: -o-linear-gradient(left, rgba(247,163,247,0.58) 0%, rgba(89,175,181,1) 100%);
background: -ms-linear-gradient(left, rgba(247,163,247,0.58) 0%, rgba(89,175,181,1) 100%);
background: linear-gradient(to right, rgba(247,163,247,0.58) 0%, rgba(89,175,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a3f7', endColorstr='#59afb5', GradientType=1 );
	/*background: rgba(255,0,132,1);
	background: -moz-linear-gradient(left, rgba(255,0,132,1) 0%, rgba(132,240,226,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,0,132,1)), color-stop(100%, rgba(132,240,226,1)));
	background: -webkit-linear-gradient(left, rgba(255,0,132,1) 0%, rgba(132,240,226,1) 100%);
	background: -o-linear-gradient(left, rgba(255,0,132,1) 0%, rgba(132,240,226,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,0,132,1) 0%, rgba(132,240,226,1) 100%);
	background: linear-gradient(to right, rgba(255,0,132,1) 0%, rgba(132,240,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#84f0e2', GradientType=1 );
	}*/
}