@import "./global-styles/theme/light";
@import "./global-styles/theme/dark";
@import "./global-styles/variables";
@import "./global-styles/global-vars.scss";
@import "./global-styles/styleguide.scss";
@import "./components/nav/nav.scss";
@import "./components/alerting/alerting.scss";
@import "./components/insightAnalytics/insightAnalytics.scss";
@import "./components/crb/crb.scss";
@import "./components/alphaCapture/alphaCapture.scss";
@import "./components/icons-card/icons.scss";

@import "./assets/fonts/graphit/MyFontsWebfontsKit.css";
@import "./assets/fonts/sofia/metrics-webfonts.css";

// @import "./assets/fonts/Circular/Fonts/stylesheet.css";

//Circular Book
// Circular Std Bold

@import "./assets/aicon/style.css";

.Graphit-Light {
  font-family: Graphit-Light;
  font-weight: normal;
  font-style: normal;
}

.Graphit-Bold {
  font-family: Graphit-Bold;
  font-weight: normal;
  font-style: normal;
}

.Graphit-Regular {
  font-family: Graphit-Regular;
  font-weight: normal;
  font-style: normal;
}

.Graphit-Medium {
  font-family: Graphit-Medium;
  font-weight: normal;
  font-style: normal;
}

.SofiaPro-Bold {
  @include Sofia-Bold;
  font-weight: normal;
  font-style: normal;
}

.SofiaPro-Medium {
  @include Sofia-Medium;
  font-weight: normal;
  font-style: normal;
}

.SofiaPro-Regular {
  @include Sofia-Regular;
  font-weight: normal;
  font-style: normal;
}

.SofiaPro-SemiBold {
  @include Sofia-Semibold;
  font-weight: normal;
  font-style: normal;
}

.SofiaPro-Italic {
  @include Sofia-Italic;
  font-weight: normal;
  font-style: normal;
}

// .Circular-Bold {
//   @include Circular-Bold;
// }

// .Circular-Medium {
//   @include Circular-Medium;
// }

// .Circular-Book {
//   @include Circular-Book;
// }

// .Circular-SemiBold {
//   @include Circular-Light;
// }

// .Circular-Italic {
//   @include Circular-Italic;
// }
// .Circular-Regular {
//   @include Circular-Regular;
// }
html {
  font-size: 62.5%;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  background: var(--background-main);
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-variable, sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.15;
  // letter-spacing: .08rem;
  // overflow: hidden;
  background: var(--background-main);
  color: $regular-text;
  box-sizing: border-box;
}

.dark-theme,
.light-theme {
  background: var(--background-main);
  color: var(--regular-text);
}


.scroll-class {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.headline-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.process-wrapper {
  margin-top: 60px;
}

.blurb {
  .design-test-wrapper {
    width: 100%;
    max-width: 400px;
    margin: auto;
    position: relative;

    .design-test {
      width: 100%;
    }

    .design-test-text {
      position: absolute;
      top: 50%;
      @include Sofia-Italic;
      font-size: 21px;
    }

    .cls-1 {
      fill: none;
      stroke: var(--real-estate);
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 3px;
    }

    .cls-2 {
      fill: var(--real-estate);
    }

    .cls-3 {
      fill: var(--healthcare);
    }

    .cls-4 {
      fill: var(--wireframe1);
    }

    .cls-5 {
      fill: var(--wireframe2);
    }
  }

  width: 60%;
  font-size: 20px;
  margin: auto;

  @media screen and (max-width: 1000px) {
    width: 80%;
    font-size: 20px;
    margin: auto;
  }

  @media screen and (max-width: 500px) {
    width: calc(100% - 40px);
    font-size: 16px;
    margin: 20px;
  }

  @media screen and (min-width: 1400px) {
    width: 58%;
    font-size: 23px;
    margin: auto;
  }

  line-height: 1.5;

  .blurb-title {
    font-size: 21px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 4px 20px;
    margin-bottom: 26px;
  }

  .title {
    margin-top: 40px;

    @media screen and (max-width: 500px) {
      margin-top: 0px;
    }
  }

  p {
    margin-top: 2rem;
  }
}

.user-research-wrapper {
  width: 100%;

  svg {
    width: 19%;
  }

  .userResearch1 {
    .cls-1 {
      fill: #29abe2;
      fill: #29ade4b3;
      stroke: none;
    }

    .cls-2 {
      fill: #f3eae4;
      fill: #ead090;
    }

    .cls-3 {
      fill: #22b573;
      fill: #159a5d;
    }

    .cls-4 {
      fill: #e07894;
    }

    .cls-5 {
      fill: #e1cbbc;
      fill: #c7af74;
    }

    .cls-6 {
      fill: #775b46;
      fill: #6b551e;
    }
  }

  .userResearch2 {
    .circle-class {
      fill: var(--background-main);
      // stroke: var(--real-estate);
      fill: var(--wireframe2);
    }

    .cls-1 {
      fill: #22b573;
      fill: var(--real-estate);
    }

    .cls-2 {
      fill: #ab8365;
      fill: #92684a;
      fill: #735038;
    }

    .cls-3 {
      fill: #cd9d79;
      fill: #b78966;
      fill: #926849;
    }

    .cls-4 {
      fill: #d3775e;
      fill: #9a6b48;
    }

    .cls-5 {
      fill: #8d6a4f;
      fill: #654730;
      fill: #613f23;
    }

    .cls-6 {
      fill: #514238;
      fill: #4c3a09;
      fill: #291f04;
    }
  }
}

.uxProcess {
  width: 50px;
}

.email {
  margin: 2rem;
}

.project-subtitle {
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
  padding-right: 20px;
}

.title {
  font-size: 3.5vw;
  font-family: var(--lightSofiaBold-darkSofiaReg);

  @media screen and (max-width: 1000px) {
    font-size: 35px;
  }

  @media screen and (max-width: 450px) {
    font-size: 33px;
  }

  @media screen and (min-width: 1400px) {
    font-size: 54.6px;
  }
}

.subtitle {
  font-size: 1.8rem;
  @include Sofia-Medium;
  padding-top: 5px;

  @media screen and (max-width: 450px) {
    font-size: 1.5rem;
    padding-top: 6px;
    letter-spacing: 0.4px;
  }
}

.card-wrapper {
  margin: 2rem auto;
  max-width: 1470px;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }

  background-color: $financial-wrapper-bkgd;
  // scroll-snap-align: start;
}

.portfolio-container {
  flex-wrap: wrap;
  display: flex;
  padding: 2rem;
}

.section-header {
  // @include Graphit-Light;
  margin-top: 100px;
  margin-top: 3vw;
}





.portfolio-card-wrapper {
  margin: 1rem;
  width: calc(100% - 2rem);
  position: relative;

  .portfolio-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: cornsilk;
    // padding: 3.5vw;
    padding: 3.9vw 3.5vw 2rem 3.5vw;
    flex-direction: column;

    @media screen and (max-width: 700px) {
      padding: 3rem 2.5rem 2rem 3rem;
    }

    @media screen and (min-width: 1400px) {
      padding: 50px 50px 2rem 50px;
    }

    .text-section {
      width: 100%;
    }

    .blurb-thumb {
      display: flex;
      position: relative;
      margin-top: 2rem;
    }

    .blurb {
      font-size: 1.6rem;
      margin-right: 2rem;
      line-height: 1.4;
      letter-spacing: 0.1px;
      width: 50%;

      @media screen and (max-width: 500px) {
        width: 100%;
        position: absolute;
        padding: 2rem;
        background-color: blanchedalmond;
      }
    }

    .thumb {
      width: 100%;
      flex-shrink: 0;

      img {
        width: 100%;
      }
    }

    .heading {
      font-size: 2.5rem;
      padding-top: 30px;
    }

    .role {
      margin-top: 1rem;

      .role-title {
        margin-right: 12px;
        color: #44c68a;
        margin-bottom: 1rem;
      }

      // li {
      //   padding: 0.3em 0px;
      //   font-size: 15px;
      // }
    }

    .second-title-mt {
      margin-top: 50px;
    }

    .text-width {
      // max-width: 513px;
      line-height: 1.5;
      font-size: 16px;
    }

    // .quote {
    //   font-size: 16px;
    //   margin-top: 9px;
    //   .text {
    //     padding: 0.5em 0;
    //   }
    //   .author {
    //     font-size: 12px;
    //   }
    // }
    .info-footer {
      margin-top: auto;
      height: 65px;

      display: flex;
      flex-direction: column;

      .buffer {
        height: 25px;
        // border-bottom: 1px solid var(--info-footer);
      }

      .inner-wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 2rem 0 0 0;
      }

      .info-icon {
        border: 1px $regular-text solid;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        line-height: 1;
        display: flex;

        padding-top: 2px;
        padding-left: 1px;
        margin-right: -18px;
        display: none;
        // @include Circular-Medium;
        @include Sofia-Medium;
      }

      .text {
        // @include Circular-Medium;
        @include Sofia-Medium;
        font-size: 15px;
        cursor: pointer;
        // &:first-of-type {
        //   padding-right: 2.5rem;
        // }
      }
    }
  }
}

.headline {
  font-family: Graphit-Regular;
  // font-family: "Circular-Regular";
  font-size: 8.9vw;
  padding: 8vw calc(3.5vw + 10px);
  // letter-spacing: 0.015em;
  // scroll-snap-align: start;
  margin-top: 50px;

  @media screen and (max-width: 550px) {
    font-size: 11vw;
    padding: 22vw 4rem;
  }

  @media screen and (min-width: 1400px) {
    font-size: 7vw;
    padding: 112px 6rem;
    margin: auto;
    max-width: 1309px;

  }

  @media screen and (min-width: 2300px) {
    font-size: 164.92px;
    padding: 112px 6rem;
    margin: auto;
    max-width: 1309px;

  }

}

// .asterisk-explanation {
//   font-size: 3.2rem;
//   display: flex;
//   .asterisk {
//     margin-right: .2em;
//   }
// }
.wrapper-padding {
  padding-left: calc(3.5vw + 10px);
  padding-right: calc(3.5vw + 10px);
  font-size: 18px;

  @media screen and (max-width: 550px) {
    padding-left: 4rem;
    padding-right: 4rem;
    // letter-spacing: 0.1px;
  }

  @media screen and (min-width: 1400px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

h1,
h2,
h3 {
  font-family: Graphit-Regular;
}

.slow-transition {
  transition: 0.5s ease-in-out;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }

  2% {
    opacity: 0.9;
  }

  50% {
    opacity: 0;
  }

  98% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.blinkDivUp {
  animation: blinker 800ms cubic-bezier(0.4, 0, 1, 1) infinite;
  // animation-iteration-count: 5;
}

.blinkDivUpPlain {
  // background-color: $green-medium;
  background-color: rgba(0, 186, 146, 0.9);
  border-radius: 1px;
  transition: 0.4s ease-in-out;
}

@keyframes slideLeft {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.slideLeftClass {
  animation: slideLeft 1000ms cubic-bezier(0.39, 0.58, 0.57, 1);
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  &.unpause {
    animation-play-state: running;
    animation-delay: 0;
  }
}



.delay-5 {
  animation-delay: 5s;
}

.constants-info {
  li {
    span {
      margin-left: 1rem;
    }
  }
}

.loading-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 75% -52px;
}

.pie-svg-container {
  width: 100%;
  max-width: 300px;
  margin-top: 6px;
  margin-bottom: 17px;
}

.panel-body {
  padding: 10px 0px 10px 20px;
}

.line-chart-svg-container {
  overflow: visible;
}

// .title {
//     font-weight: 500;
// }

// .legend {
//     width: 40%;
// }

.name-number-line {
  padding: 8px 1px 0px 1px;
  flex: 1;
}

.d3-tooltip {
  background-color: white;
  position: absolute; // color: $tooltip-text-color;
  color: black; // font-weight: $tooltip-font-weight;
  font-weight: 500; // top: 95px;
  min-width: 100px;
  z-index: 10;
  display: flex;
  opacity: 0;
  @include popup-box-shadow;

  .d3-tooltip-inner {
    // background-color: $tooltip-background;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .border-class {
    width: 4px;
    // background-color: yellow;
    align-self: stretch;
  }
}

.legend {
  @include Sofia-Medium;

  .legend-title {
    font-weight: 500;
    padding: 3px 0px;
    @include no_overflow;
  }

  @media screen and (min-width: 1200px) {
    .flex-row-center {
      padding-left: 2rem;
    }
  }
}

path.domain {
  stroke: $label-text;
  opacity: 0.5;
}

.tick {
  line {
    stroke: $label-text;
  }

  text {
    letter-spacing: 1px;
    fill: $label-text;
    font-weight: 600;
  }

  &.selected {
    text {
      fill: $emphasis-text;
      font-weight: 600;
    }
  }
}

.line {
  fill: none;
  // stroke-width: 1px;
  stroke-width: 1.7px;

  &.lineOne,
  &.line0 {
    stroke: aqua;
  }

  &.lineTwo,
  &.line1 {
    stroke: #b377ff;
  }
}

.mouse-line {
  stroke: var(--nav-link-inactive);
  stroke-width: 1px;
}

.line-marker {
  fill: $background-main;
  stroke-width: 3px;

  &.lineTwo,
  &.line1 {
    stroke: #be77ff;
  }

  &.lineOne,
  &.line0 {
    stroke: aqua;
  }
}

.tooltipDiv {
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: wrap;

  .text-container {
    display: flex;
    margin-right: 24px;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .value-text {
    font-weight: 500;
  }

  .dot {
    width: 10px;
    height: 10px;
    margin-right: 8px;

    &.lineTwo,
    &.line1 {
      background-color: #be77ff;
      height: 3px;
      // border: 3px solid #be77ff;
      // background-color: $background-main;
    }

    &.lineOne,
    &.line0 {
      height: 3px;
      background-color: aqua;
      // border: 3px solid aqua;
      // background-color: $background-main;
    }
  }

  .dash {
    width: 10px;
    height: 3px;
    margin-right: 8px;
  }

  .square {
    width: 10px;
    height: 10px;
    margin-right: 6px;

    &.lineTwo,
    &.line1 {
      background-color: #be77ff;
    }

    &.lineOne,
    &.line0 {
      background-color: aqua;
    }
  }
}

.underline-button {
  border-bottom: 1px var(--regular-text) solid;
  padding: 1rem 0 1px 0;
  position: absolute;
  right: 25px;
  bottom: 23px;
  cursor: pointer;
}

footer {
  padding: 2rem;
  display: flex;
  align-items: center;

  .contact {
    // border: 1px var(--real-estate) solid;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 28px;
    margin-left: 1rem;
    background-color: var(--contact-button-bkgd);
    color: $emphasis-text;
    border: 1px var(--contact-button-border) solid;

    &.linkedin {
      padding-bottom: 2px;

      &:hover {
        transition: 0.3s;
        background-color: var(--linkedin-button-bkgd-hover);
        color: var(--linkedin-button-text-hover);
        border: 1px solid var(--linkedin-button-border-hover);
      }
    }

    &.email-icon {
      &:hover {
        transition: 0.3s;
        background-color: var(--email-icon-button-bkgd-hover);
        color: var(--email-icon-button-text-hover);
        border: 1px solid var(--email-icon-button-border-hover);
      }
    }

    // color: var(--emphasis-text);

    // &.linkedin {
    //   padding-bottom: 2px;
    //   &:hover {
    //     transition: 0.3s;
    //     color: var(--blue-bold-med);
    //     border-color: var(--blue-bold-med);
    //   }
    // }
    // &.email-icon {
    //   &:hover {
    //     transition: 0.3s;
    //     color: #ef5252;
    //     border-color: #ef5252;
    //   }
    // }
    h2 {
      @include Sofia-Medium;
    }

    @media screen and (max-width: 550px) {

      // border-top: 1px var(--regular-text) solid;
      h2 {
        font-size: 16px;
      }
    }
  }
}