.sun {
  width: 15px;
  height: 15px;
  // background-color: #f9ff00;
  border-radius: 50px;
  margin-right: 5px;
  // box-shadow: 22px 8px 7px 0px rgba(0, 0, 0, .5);
  border: 1px $regular-text solid;
}

.sunlight-nighttime {
  display: flex;
  cursor: pointer;
  margin-left: auto;
  font-size: 1.4rem;
  color: $regular-text;
  align-items: center;
  [class^="aicon-"] {
    font-size: 17px;
  }
}

.logo {
  width: 33px;
  display: flex;
  fill: var(--regular-text);
}

.cls-1 {
  fill: #daff40;
  fill: var(--outline-btn-border-green);
}
.cls-2 {
  fill: var(--background-main);
}
