
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,300,700|Inconsolata:400,700|Source+Sans+Pro:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,700,800,900);

      html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


    .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }


* {box-sizing: border-box;
      }










/*/////////////////////////////////////////////NAVIGATION  Growth Hacking Paradigm Shift Gradient /////////////////////////////////////////////////////*/

      #growthhack {
        display: block;
        margin-top: 2em;
      }
       #title {
        width: 100%;
        display: block;
      }
      
      .left {
        text-transform: uppercase;
        float: left;
        font-size: .8em;
        padding: 1em 0 0 1em;
        color: #F5F5F5;
        font-family: 'Work Sans';
        font-weight: 300;
        font-size: .8em;}

      .center {
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        padding-left: 38%;
        padding-right: 38%;
        font-size: .8em;
        padding-top: 1em;
        color: #F5F5F5;
        font-family: 'Work Sans';
        font-weight: 300;
        font-size: .8em;}

      .right {
        text-transform: uppercase;
        float: right;
        font-size: .8em;
        padding: 1em 1em 0 0;
        color: #F5F5F5;
        font-family: 'Work Sans';
        font-weight: 300;
        font-size: .8em;}


      #rightgradient {
        width: 70%;
        margin-left: 2em;
        background-image: url("../img/rightgradient.png");
        padding: 1em;
      }

      #rightgradient img {
        width: 100%;
      }

        #lefttext {
        margin-left: .2em;
      }

      #lefttext h1 {
        font-family: 'Work Sans';
        font-weight: 900;
        font-size: 2em;
        color: #F5F5F5;
        padding-bottom: 2em;
        display: block;
        /*letter-spacing: 1px;*/
      }

       #lefttext p {
        width: 60%;
        color: #F5F5F5;
        font-family: 'Work Sans';
        font-weight: 300;
        font-size: .8em;
        line-height: 1.6em;
       }



/*/////////////////////////////////////////////////NAVIGATION  Robust Deployment STYLECARD ///////////////////////////////////////////////////////////*/

    

   .stylecardb  
{background-color: #E57DFB;
        -webkit-box-shadow: 12px 10px 37px -6px rgba(224,160,130,1);
      -moz-box-shadow: 12px 10px 37px -6px rgba(224,160,130,1);
      box-shadow: 12px 10px 37px -6px rgba(224,160,130,1);
      
    }

    #great {
      width: 50%;
      margin-left: 2em;
    }

    #leftside {
      float: left;
      width: 50%;
      background-image: url("../img/nybackdrop.png");
      background-repeat: no-repeat;
      padding: 25%;
    }
    /*#rightside img {
      width: 100%;

    }*/

    .stylecard {
    -webkit-box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.2);

    }

    .stylecard:hover {
        transition: box-shadow .2s;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2); } 

        #righttext {
          float: right;
          width: 45%;
          margin-right: 1em;
        }

        #righttext h5 {
          text-transform: uppercase;
          text-align: center;
          font-size: .8em;
          padding: 1em;
        }

        #righttext h2{
          text-align: center;
          font-size: 1.9em;
          font-weight: 600;
          padding-top: 1.618em;
        }

        #righttext p {
          width: 80%;
          text-align: center;
          margin: 0 auto;
          font-size: 1em;
          font-weight: 300;
          padding-top: 2.618em;
          line-height: 1.618em;
          padding-bottom: 2em;
        }
        .black {
          font-family: 'Source Sans Pro';
          color: #7B7B7B;}

        .white {
          font-family: 'Source Sans Pro';
          color: white;}

          .black h2 {
            color: black;
          }

     /*///////////////////////////////////////////////////////////NAVIGATION  Dropdown ///////////////////////////////////////////////////////////*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
  width: 30%;
    position: relative;
    display: inline-block;
    margin-left: 60%;
}


  .dropbtn {
    background-color: #e57373;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: magenta;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Roboto';
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: aliceblue;
color: teal;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: yellow;
    color: #039be5;
}


/*///////////////////////////////////////////////////////////NAVIGATION 4 ///////////////////////////////////////////////////////////*/



      #nav4 {
        font-family: 'Source Sans Pro';
        
        width: 20%;
        margin-left: 1em;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;

      }

      #nav4 a {
        color: #97919A;
        background-color: #F7FAFA;

        display: block;
        padding: 1em;
        padding-left: 1.5em;
        border-bottom: 2px solid white;
        text-decoration: none;
      }

      #nav4 a:last-child {
        border-bottom: none;
      }

      #nav4 a:hover {
        color: teal;
        background-color: white;
        /*border-top: 1px solid #F5F5F5;
        border-bottom: 1px solid #F5F5F5;*/

      }



/*///////////////////////////////////////////////////////////NAVIGATION 3 ///////////////////////////////////////////////////////////*/



      #nav3 {
        font-family: 'Source Sans Pro';
        background-color: #ede7f6;
        width: 20%;
        margin-left: 1em;
        text-transform: uppercase;

      }

      #nav3 a {
        color: rgba(61, 100, 145, 1);
        display: block;
        padding: .75em;
        padding-left: 1em;
        border-bottom: 1px dashed rgba(61, 100, 145, 0.5);
        text-decoration: none;
      }

      #nav3 a:last-child {
        border-bottom: none;
      }

      #nav3 a:hover {
        color: #65FAC3;
      }


      /*///////////////////////////////////////////////////////////NAVIGATION 2 ///////////////////////////////////////////////////////////*/



      #nav2 {
        color: white;
        padding-left: 4%;
        padding-right: 2%;
        padding-bottom: 2%;
        width: 100%;
        height: 60px;
        text-align: right;
        margin: 0 auto;
        font-size: 15px;
        letter-spacing: 1px; }

        .navy {
        background-color: #0D1D45;}

        .purplegradient { 
        background: rgba(90,76,166,0.58);
    background: -moz-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,76,166,0.58)), color-stop(100%, rgba(144,182,240,1)));
    background: -webkit-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
    background: -o-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
    background: -ms-linear-gradient(left, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
    background: linear-gradient(to right, rgba(90,76,166,0.58) 0%, rgba(144,182,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a4ca6', endColorstr='#90b6f0', GradientType=1);
        }

       span {float: left;}
     
          
      #nav_p {
        color: white;
        text-decoration: none;
        font-family:'Roboto Condensed'; /*or Droid Sans*/
        font-weight: 200;
       font-size: 1.2em;
      padding: 1em;
   
      display: inline-block;
      }

      #nav_p:hover {
        color: #65FAC3;
      }


/*///////////////////////////////////////////////////////////NAV ONE///////////////////////////////////////////////////////////*/
     h1#navoneb {
      color: black;
      font-family:'Roboto'; /*or Droid Sans*/
        font-weight: 700;
        letter-spacing: 2px;
      }
     

     #nav1b {
        padding-left: 3%;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 80%;
        text-align: left;
        margin: 0 auto;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        font-size: 16px;
        letter-spacing: 1px;
        font-family:'Roboto';
        font-weight: 300;}

        #nav1b a {
        color: black;
        text-decoration: none;
        padding: 1em;
      }
      
      #nav1b a:hover {color: orange;}







      h1#navonea, #nav1 {
        font-family:'Source Code Pro'; /*or Droid Sans*/
        font-weight: 700;
      }
        
        
        #nav1 {
        padding-left: 4%;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 80%;
        text-align: left;
        margin: 0 auto;
        /*border-bottom: 1px solid black;
        border-top: 1px solid black;*/
        font-size: 16px;
        letter-spacing: 2px;}
     
     

      #nav1 a {
        color: black;
        text-decoration: none;
        font-family: 'Work Sans';
        font-weight: 300;
        padding-top: 1em;
        padding-right: 2em;
        padding-bottom: 1em;
        padding-left: 0.2em;
       /* text-transform: uppercase;*/

        /*padding-left: 1em;*/
      }
      
     

      #nav1 a:hover {color: orange;}
      #nav1 a:active {color: black;}
   

        

      h1#navonea, h1#navoneb {
        text-align: left;
        padding-bottom: .6em;
        padding-top: .3em;
        margin: 0 auto;
        padding-left: 4%;
        width: 80%;
        font-size: 2em;
        margin-bottom: 0em;
        /* border: 1px solid black; */
    }
      
/*/////////////////////////////////////////////NAVIGATION  Growth Hacking Paradigm Shift Gradient ////////////////*/
 @media only screen and (max-width: 1200px) {
    #great {
      width: 60%;
      margin-left: 2em;
    }

    #leftside {
      float: left;
      width: 40%;
      background-image: url("../img/nybackdrop.png");
      background-repeat: no-repeat;
      padding: 25% 10%;
    }
    /*#rightside img {
      width: 100%;

    }*/

        #righttext {
          float: right;
          width: 55%;
          margin-right: 1em;
        }
      }




@media only screen and (max-width: 950px) {
  #leftside {
      float: left;
      width: 30%;
      background-image: url("../img/nybackdrop.png");
      background-repeat: no-repeat;
      padding: 28% 10%;
    }
    /*#rightside img {
      width: 100%;

    }*/

        #righttext {
          float: right;
          width: 65%;
          margin-right: 1em;
        }
      }


      
@media only screen and (max-width: 809px) {
      .center {
        padding-left: 35%;
        padding-right: 35%;}

      #lefttext p {
        width: 70%;  
      }
       #leftside {
      float: left;
      width: 25%;
      background-image: url("../img/nybackdrop.png");
      background-repeat: no-repeat;
      padding: 38% 10%;
    }
    /*#rightside img {
      width: 100%;

    }*/

        #righttext {
          float: right;
          width: 70%;
          margin-right: 1em;
        }
}
@media only screen and (max-width: 660px) {
      .center {
        padding-left: 30%;
        padding-right: 30%;}

        #rightgradient {
          background-position: -50px left;
        } 
#great {
      width: 80%;
      margin-left: 2em;
    }
         #leftside {
      float: left;
      width: 20%;
      background-image: url("../img/nybackdrop.png");
      background-repeat: no-repeat;
      padding: 38% 10%;
    }
    /*#rightside img {
      width: 100%;

    }*/

        #righttext {
          float: right;
          width: 75%;
          margin-right: 1em;
        }
      }


@media only screen and (max-width: 514px) {
      .center {
        padding-left: 27%;
        padding-right: 27%;}

        #lefttext p {
        width: 90%;}

        #great {
      width: 90%;
      margin-left: 2em;
    }
      }      

@media only screen and (max-width: 452px) {
      .center {
        padding-left: 23%;
        padding-right: 23%;}

        #leftside {
      float: left;
      width: 20%;
      background-image: url("../img/nybackdrop.png");
      background-repeat: no-repeat;
      padding: 48% 10%;
    }
      }      

/*/////////////////////////////////////////////////NAVIGATION  Robust Deployment STYLECARD ///////////////////////////////////////////////////////////*/
 

      
      