	html { 
	  background: url("../img/mountains.png") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}



	.stylecard {
	    -webkit-box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.2);
	    -moz-box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.2);
	    box-shadow: 3px 3px 8px -1px rgba(0,0,0,0.2);
	    width: 50%;
	    margin-top: 2em;
	    margin-bottom: 2em;
	    }

    .stylecard:hover {
        transition: box-shadow .2s;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2); } 


       #NYimgfixedtopleft {
       	background: #E57DFB url("../img/nybackdrop.png") no-repeat fixed top left;
       }

  	 #NYimgpositionnegleft {
       	background: #E57DFB url("../img/nybackdrop2.png") no-repeat top left;

       }


       #NYimgother2 {
       	background: #E57DFB url("../img/nybackdrop.png") no-repeat fixed top left;
       }

	  .stylecard_textwrap {
	  	width: 50%;
	  }



	  .righttext {
	  	margin-left: 45%;
	  	padding: 2em .5em;
	  	font-family: 'Source Sans Pro';
	  }

	  .righttext h5 {
	          text-transform: uppercase;
	          text-align: center;
	          font-size: .8em;
	          padding: .5em;
	        }

	    .righttext h2{
	      text-align: center;
	      font-size: 1.9em;
	      font-weight: 600;
	      padding-top: 0.618em;
	    }

	    .righttext p {
	      width: 80%;
	      text-align: center;
	      margin: 0 auto;
	      font-size: 1em;
	      font-weight: 300;
	      padding-top: 1.618em;
	      line-height: 1.618em;
	      padding-bottom: 1em;
	    }
	    .black {
	      color: #7B7B7B;}

	    .white {
	      color: white;}




  @media only screen and (max-width: 1150px) {
  			.stylecard {
  				width: 55%;}

          	.stylecard_textwrap {
			  	width: 60%;
			  }

			.righttext {
	  	    margin-left: 40%;}

	  	    #NYimgpositionnegleft {
       	background: #E57DFB url("../img/nybackdrop2.png") no-repeat top left -40px;}

       
}


 @media only screen and (max-width: 1000px) {
 		.stylecard {
  				width: 60%;}

  		.stylecard_textwrap {
			  	width: 65%;
			  }

		 .righttext {
	  	    margin-left: 35%;

}
	#NYimgpositionnegleft {
       	background: #E57DFB url("../img/nybackdrop2.png") no-repeat top left -70px;}
  		

}

 @media only screen and (max-width: 900px) {
 		.stylecard {
  				width: 65%;}
  		.stylecard_textwrap {
			  	width: 70%;
			  }
  		.righttext {
	  	    margin-left: 33%;}

	  	#NYimgpositionnegleft {
       	background: #E57DFB url("../img/nybackdrop2.png") no-repeat top left -100px;}
  		
}

 @media only screen and (max-width: 800px) {
 		.stylecard {
  				width: 70%;}
  		.stylecard_textwrap {
			  	width: 70%;
			  }
  		.righttext {
	  	    margin-left: 28%;}

	  	#NYimgpositionnegleft {
       	background: #E57DFB url("../img/nybackdrop2.png") no-repeat top left -130px;}
}

@media only screen and (max-width: 700px) {
 		.stylecard {
  				width: 75%;}

  		.stylecard_textwrap {
			  	width: 73%;
			  }
  		.righttext {
	  	    margin-left: 25%;}

  		#NYimgpositionnegleft {
       	background: #E57DFB url("../img/nybackdrop2.png") no-repeat top left -160px;}
}

@media only screen and (max-width: 600px) {
 		.stylecard {
  				width: 80%;}

  		.stylecard_textwrap {
			  	width: 76%;
			  }
  		.righttext {
	  	    margin-left: 20%;}
  		#NYimgpositionnegleft {
       	background: #E57DFB url("../img/nybackdrop2.png") no-repeat top left -190px;}
}

@media only screen and (max-width: 500px) {
 		.stylecard {
  				width: 85%;}
  		.stylecard_textwrap {
			  	width: 79%;
			  }
  		.righttext {
	  	    margin-left: 18%;}
  		#NYimgpositionnegleft {
       	background: #E57DFB url("../img/nybackdrop2.png") no-repeat top left -210px;}
}



@media only screen and (max-width: 400px) {
 		.stylecard {
  				width: 90%;}
}





