@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


    .clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}

 



* {box-sizing: border-box;
	font-family: 'Roboto';}



body {
	background-image: url("../img2/pattern.png");
	background-size: 20%;
	font-size: 16px;
}



	h1 {
		font-family: 'Roboto';
		font-size: 3rem;
		font-weight: 700;
		position: absolute;
		top: 1rem;
		padding: 2rem;
		color: white;
		
		}


	.container {
		width: 90%;
		margin: 0 auto;
	}

	nav {
		width: 50%;
		float: right;
		text-align: right;
	}

	nav a{
		display: inline-block;
		padding: 1em 1em  1em 1em;
		font-size: 1.2em;
		font-weight: 400;
		font-family: 'Roboto';
		text-align: right;
		text-decoration: none;
		color: magenta;
		margin: 2em 1em 1em 1em;
		/*background-color: aliceblue;*/

	}

   #masthead {
		width: 100%;
		background-color: teal;
		background-image: url("../img2/puppyface.png");
		background-size: 50%;
	/*	background-repeat: no-repeat;*/
*/
		
	}
	#masthead img {
		width: 100%;
	}

    h2 {
		width: 35%;
		color: pink;
		font-family: 'Roboto';
		font-size: 1.4em;
		font-weight: 400;
		padding: 1em 2em 1em 1em;
		display: inline-block;
		float: right;
		clear: both;
		background: rgba(18,18,18,.6);
		line-height: 1.3em;
		margin: 45% 5% 15% 0;
		
	}
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

	.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

	.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}



@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


	#iconstatements {
		background-color: pink;
		margin: 0 auto;
	}

	figure {
		width: 25%;
		float: left;
		margin: 4.15%;
		font-family: 'Roboto';
		font-weight: 1.1rem;
		line-height: 1.3rem;
		padding-top: 2em;
		text-align: center;
		
	}

	#center {
		width: 80%;
		margin: 2% auto;
	}

    figure img
    {width: 50%;
    display: block;
    margin: 0 auto;	
    text-align: center;
	}

	#stuff {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 1em;
		margin: 2em auto;
		padding: 2em;
		background-color: aliceblue;
		line-height: 1.4em;
	}


	#indentword {font-family: 'Roboto';

		font-weight: 600;
		font-size: 2em;}

		#hair {
			width: 100%;
			padding: 2% 1% 2% 4%;
			background-color: yellow;
			border-radius: 5%;
			border: 1em pink outset;

		}



#oddity
{width: 100%;
background-color: blue;
position: relative;}

#teal {
			padding: 2em;
			color: yellow;
			background-color: teal;
			position: absolute;
			top: 5em;
			left: 5em;
			-webkit-box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			-moz-box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			border: 1em teal outset;
		}


		#teal:hover {
			background-image: url("../img2/puppyface.png");
			background-size: 10%;
		}

		#teal:hover + #teal2{
			background-image: url("../img2/puppyface.png");
			background-size: 10%;
		}

		#teal:hover ~ #triangle-topleft {
			border-top: 100px pink solid;
		}

		#teal2 {
			padding: 2em;
			color: yellow;
			background-color: snow;
			position: absolute;
			top: 10em;
			left: 5em;
			-webkit-box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			-moz-box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			box-shadow: -6px 17px 55px 13px rgba(6,82,36,1);
			border: 1em teal outset;
		}


.quote_solid {
			width: 80%;
			margin: 0 auto;
			-webkit-transform: skew(-30deg);
		    -moz-transform: skew(-30deg);
		    -o-transform: skew(-30deg);
		     border: 1px rgba(114,251,217,.7); solid;}


		     #triangle-topleft {
			width: 0;
			height: 0;
			border-top: 100px solid aquamarine;
			border-right: 100px solid transparent;
			margin-right: 200px;
			margin-left: 300px;
			position: absolute;
			right: 10%;
			top: 35%;
}
				#triangle-topleft:hover {
			  animation-name: diagonal-slide;
			  animation-duration: 5s;
			  animation-iteration-count: 1;
			  -webkit-transition-duration: 0.3s;
  			  transition-duration: 0.3s;
			}

			@keyframes diagonal-slide {

			  from {
			    left: 0;
			    top: 35%;
			  }

			  to {
			    left: 600px;
			    top: 600px;
			  }

			}
#palettecleanser {
	width: 100%;
}
#palettecleanser h6 {
	display: inline-block;
}

#milopuppy 
{width: 100%;
	padding: 25% 15%;
display: block;
margin: 0 auto;}

 @media only screen and (max-width: 1160px) 
 {h2}

 @media only screen and (max-width: 960px) {
		 h2 {
		 	width: 40%;
		 	margin-top: 5rem;
		 	margin-bottom: 1rem;
			 /*margin: 45% 5% 15% 0;*/}
			 nav {
		   width: 60%;}
		   
		   nav a{
		padding: .7em;
		font-size: 1.2em;
		margin: 2em .7em .7em .7em;}

	}

 @media only screen and (max-width: 860px) {
		 h2 {
		 	width: 50%;
		 	margin-top: 13rem;
			 }
		nav {
		   width: 60%;}
	 
	}


 @media only screen and (max-width: 760px) {
		 .container {
				width: 100%;
			}

		 h2 {
		 	width: 50%;
		 	margin-top: 13rem;
			float: right; }
		nav {
		   width: 60%;}

	}

@media only screen and (max-width: 660px) {
		 .container {
					width: 100%;}

		  h2 {
			 	width: 50%;
			 	margin-top: 13rem;
			 	margin-bottom: 1rem;
				float: right; 
		 		}
		 nav {
			   width: 60%;}
		 
		 nav a{
			padding: .5em;
			font-size: 1.2em;
			margin: 2em .5em .5em .5em;}
		 
		 h1 {
			font-size: 3rem;
			font-weight: 700;
			position: absolute;
			top: .7rem;
			padding: 1rem;
			}

			#center {
		width: 90%;
		margin: 2% auto;
	}
	}



@media only screen and (max-width: 480px) {
		 /* nav {width:30%;}*/
		  
		     /*#bloc_p, #nav_p {display: none;}*/
		     p {font-size: 1em;}
		  
			#top-row {
		 		margin-top: 15em;}
			

		}


  @media only screen and (max-width: 320px) {
			 /* nav {width:30%;}*/
			  
			     /*#bloc_p, #nav_p {display: none;}*/
			     p {font-size: 1em;}
			  
				#top-row {
			 		margin-top: 15em;}
				

		}











